<section class="sect sect-room">
    <article class="sect-area">
        <div class="sect-container">
            <div class="sect-title-box">
                <h3 class="title">오션투유 리조트 룸타입</h3>
            </div>
            <div class="contents">
                <div class="slide-area slide-room">
                    <ul class="slide-room-ul">
                        <!--주석처리(유지)-->
                        <!-- <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_roy_01.jpg" alt="로얄스위트 오션뷰 테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_roy_02.jpg" alt="로얄스위트 오션뷰 테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_roy_03.jpg" alt="로얄스위트 오션뷰 테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_roy_04.jpg" alt="로얄스위트 오션뷰 테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_roy_05.jpg" alt="로얄스위트 오션뷰 테라스"></li>
                                  
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">로얄스위트 오션뷰 테라스</p>
                                        <p class="title-sub">
                                            동해가 완벽하게 펼쳐진 개방형 객실뷰,
                                            <br>
                                            럭셔리타입의 프라이빗 스타일룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>46평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원 : </span>
                                                <span>기준인원 6인(최대10인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room01.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="room-viewer-control"></div>
                            </div>
                        </li> -->
                        <!--./주석처리(유지)-->
                        <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ov_tera_01.jpg" alt="리노베이션테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ov_tera_02.jpg" alt="리노베이션테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ov_tera_03.jpg" alt="리노베이션테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ov_tera_04.jpg" alt="리노베이션테라스"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ov_tera_05.jpg" alt="리노베이션테라스"></li>
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">리노베이션 오션뷰 테라스</p>
                                        <p class="title-sub">
                                            바다가 한쪽의 그림처럼 펼쳐지며,<br> 원목의 테라스가 있는 프라이빗한 리조트형 디럭스룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>23평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원: </span>
                                                <span>기준인원 4인(최대7인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room02.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="room-viewer-control"></div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_co_ov_01.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_co_ov_02.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_co_ov_03.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_co_ov_04.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_co_ov_05.jpg" alt="리노베이션리조트"></li>
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">리노베이션 리조트 오션뷰</p>
                                        <p class="title-sub">
                                            고급스러운 색채와 편안한 분위기의 침실, <br> 넓은 공간 활용이 매력적이며 취사가 가능한 리조트형 룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>23평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원: </span>
                                                <span>기준인원 4인(최대7인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room03.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <!-- 컨트롤박스 -->
                                <div class="room-viewer-control"></div>
                            </div>
                        </li>
                        <!--주석처리(유지)-->
                        <!-- <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ho_ov_01.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ho_ov_02.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ho_ov_03.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ho_ov_04.jpg" alt="리노베이션리조트"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_re_ho_ov_05.jpg" alt="리노베이션리조트"></li>
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">리노베이션 호텔 오션뷰</p>
                                        <p class="title-sub">
                                            편안하고 아늑한 분위기의 침실과<br> 독립적 공간 활용이 매력적인 호텔형 오션뷰 룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>23평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원: </span>
                                                <span>기준인원 4인(최대7인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room04.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="room-viewer-control"></div>
                            </div>
                        </li> -->
                        <!--주석처리(유지)-->
                        <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_ov_01.jpg" alt="리조트 오션뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_ov_02.jpg" alt="리조트 오션뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_ov_03.jpg" alt="리조트 오션뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_ov_04.jpg" alt="리조트 오션뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_ov_05.jpg" alt="리조트 오션뷰"></li>
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">일반리조트 오션뷰</p>
                                        <p class="title-sub">
                                            편안한 인테리어와<br>아름다운 삼포해변이 보이는 리조트형 오션뷰 룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>23평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원: </span>
                                                <span>기준인원 4인(최대7인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room05.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <!-- 컨트롤박스 -->
                                <div class="room-viewer-control"></div>
                            </div>
                        </li>

                        <li class="item">
                            <div class="room-viewer-area">
                                <ul class="room-viewer-ul">
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_01.jpg" alt="리조트 마운틴뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_02.jpg" alt="리조트 마운틴뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_03.jpg" alt="리조트 마운틴뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_04.jpg" alt="리조트 마운틴뷰"></li>
                                    <li class="viewer-item"><img src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_05.jpg" alt="리조트 마운틴뷰"></li>
                                </ul>
                            </div>
                            <div class="room-info-area">
                                <div class="info-box">
                                    <div class="title-box">
                                        <div class="title-img">
                                            <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png" alt="타이틀이미지">
                                        </div>
                                        <p class="title-main">일반리조트 마운틴뷰</p>
                                        <p class="title-sub">
                                            바다가 한쪽의 그림처럼 펼쳐지며,<br> 원목의 테라스가 있는 프라이빗한 리조트형 디럭스룸
                                        </p>
                                    </div>
                                    <div class="type-box">
                                        <div class="type-txt-box">
                                            <p>
                                                <span class="span-mark">ㆍ크기 :</span>
                                                <span>23평</span>
                                            </p>
                                            <p>
                                                <span class="span-mark">ㆍ수용인원: </span>
                                                <span>기준인원 4인(최대7인)</span>
                                            </p>
                                        </div>
                                        <a href="../room/room06.html" class="btn-go">
                                            <span>VIEW</span>
                                            <span class="icon-go">
                                                <img src="http://img.ocean2youresort.co.kr/main/room/icon_arrow_go.png" alt="아이콘">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="room-viewer-control"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="room-slide-control">
                        <div class="control-dots"></div>
                        <div class="control-arrows">
                            <button type="button" class="btn-slide-prev">
                                <img src="http://img.ocean2youresort.co.kr/main/main_sub_left_black.png" alt="이전">
                            </button>
                            <button type="button" class="btn-slide-next">
                                <img src="http://img.ocean2youresort.co.kr/main/main_sub_right_black.png" alt="다음">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
