<section class="sect sect-tourist">
    <article class="sect-area">
        <div class="sect-container">
            <div class="sect-title-box">
                <h3 class="title">즐거운 고성/속초여행</h3>
                <a href="../tourist/" class="btn-go-page">+ 전체보기</a>
            </div>
            <div class="contents">
                <ul class="tourist-ul">
                    <li>
                        <a href="../tourist/tourist_goseong.html?move_tour01" class="btn-go" >
                            <div class="img-box">
                                <img src="http://img.ocean2youresort.co.kr/main/tourist/main_tourist01.jpg" alt="이미지">
                            </div>
                            <p class="item-title">체험관광</p>
                            <p class="item-tag">
                                <span>바이크</span>
                                <span>배낚시</span>
                                <span>속초관광수산시장</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../tourist/tourist_goseong.html?move_tour02" class="btn-go" >
                            <div class="img-box">
                                <img src="http://img.ocean2youresort.co.kr/main/tourist/main_tourist02.jpg" alt="이미지">
                            </div>
                            <div class="item-title">자연관광</div>
                            <p class="item-tag">
                                <span>바이크</span>
                                <span>배낚시</span>
                                <span>속초관광수산시장</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../tourist/tourist_goseong.html?move_tour03" class="btn-go">
                            <div class="img-box">
                                <img src="http://img.ocean2youresort.co.kr/main/tourist/main_tourist03.jpg" alt="이미지">
                            </div>
                            <div class="item-title">사찰/유적 관광</div>
                            <p class="item-tag">
                                <span>바이크</span>
                                <span>배낚시</span>
                                <span>속초관광수산시장</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="../tourist/tourist_goseong.html?move_tour04" class="btn-go">
                            <div class="img-box">
                                <img src="http://img.ocean2youresort.co.kr/main/tourist/main_tourist04.jpg" alt="이미지">
                            </div>
                            <div class="item-title">문화관광</div>
                            <p class="item-tag">
                                <span>바이크</span>
                                <span>배낚시</span>
                                <span>속초관광수산시장</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>
