<section class="sect sect-come">
    <article class="sect-area">
        <div class="sect-container">
            <div class="sect-title-box">
                <h3 class="title">오시는길</h3>
            </div>
            <div class="come">
                <ul>
                    <li class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.3620469800658!2d128.52880931560614!3d38.31744607966428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0xf978c9441b2a53bd!2z7Jik7IWYIO2IrOycoCDrpqzsobDtirgg7ISk7JWF67mE7LmYIO2YuO2FlCDslaQg7L2Y64-E!5e0!3m2!1sko!2skr!4v1503997101294" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </li>
                    <li class="mapExp">
                        <p class="p0">자가 차량 이용시</p>
                        <p class="p1">네비게이션 주소 또는 오션투유 리조트 입력</p>
                        <p class="p0">대중교통 이용시</p>
                        <p class="p1"><span class="f-bd">간성시외버스터미널 하차시</span> - 신안리 정류장에서 1번, 1-1 버스 승차, <span class="lg-block">삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x66r" target="_blank"><img src="http://img.ocean2youresort.co.kr/main/wayto_btn.jpg" alt="길찾기"></a></span></p>
                        <p class="p1"><span class="f-bd">속초시외버스터미널 하차시</span> - 한국전력 정류장에서 1번, 1-1번 버스 승차, <span class="lg-block">삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x67i" target="_blank"><img src="http://img.ocean2youresort.co.kr/main/wayto_btn.jpg" alt="길찾기"></a></span></p>
                        <p class="p1"><span class="f-bd">속초고속버스터미널 하차시</span> - 속초 고속버스터미널 정류장 1번. <span class="lg-block">1-1번 버스 승차, 삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x2av" target="_blank"><img src="http://img.ocean2youresort.co.kr/main/wayto_btn.jpg" alt="길찾기"></a></span></p>
                    
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

