<section class="sect sect-intro">
    <article class="sect-area">
        <div class="sect-container">
            <div class="sub">
                <p>OCEAN2YOU CONDO</p>
                <span>2020. 12. 22</span>
            </div>
            <div class="title">
                <h2 class="title"><img src="http://img.ocean2youresort.co.kr/main/main_intro_title.png" alt="오션투유 리조트 속초설악비치리조트"/></h2>
                <span>청정 자연과 프라이빗 전용해변의 만남</span>
                <span>강원도 설악, 속초, 고성에 위치한 오션투유 리조트</span>
            </div>
            <div class="weather">
                <img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_sun.png" alt="해">
                <!--<img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_blur.png" alt="흐림">
                <img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_cloud.png" alt="구름">
                <img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_rain.png" alt="비">
                <img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_snow.png" alt="눈"/> -->
                <div>
                    <p>고성날씨-맑음</p>
                    <span>-8 <em>ºC</em></span>
                    <div><img src="http://img.ocean2youresort.co.kr/main/weather/main_intro_weather01.png" alt="날씨아이콘"/> 미세먼지 - 보통</div>
                </div>
            </div>
        </div>
    </article>
</section>