<section class="sect sect-dining">
    <article class="sect-area">
        <div class="sect-container">
            <div class="sect-title-box">
                <h3 class="title">다이닝&부대시설</h3>
                <a href="../dining/" class="btn-go-page"> + 전체보기</a>
            </div>
            <div class="contents">
                <div class="slide-area slide-dining">
                    <ul class="slide-ul">
                        <li class="item">
                            <a href="../dining/dining01.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining01.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">조식뷔페 다연</p>
                                    <p class="p-txt">
                                        다채로운 전채요리부터 달콤한<br>
                                        디저트 코너까지 한자리에서<br>
                                        만끽할 수 있는 조식 뷔페
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining02.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining02.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">바베큐장</p>
                                    <p class="p-txt">
                                        지글지글 담백하고 맛있게<br>
                                        숯불향을 입힌 숯불갈비와<br>
                                        즐거운 바베큐장
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining03.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining03.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">속초 횟집</p>
                                    <p class="p-txt">
                                        당일 경매로 낙찰받은 청정 동해안<br>
                                        에서 잡은 횟감을 신선하고 싱싱<br>
                                        하게 맛보실 수 있습니다.
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining04.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining04.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">반데라 리얼바베큐 플레이츠</p>
                                    <p class="p-txt">
                                        훈연의 향이 가득한<br>
                                        반데라 리얼바베큐 플레이츠를<br>
                                        동해의 삼포해변에서 즐기세요.
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining01.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining05.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">연회장</p>
                                    <p class="p-txt">
                                        최대 1,800명까지 기업행사, 오리엔테 <br/>이션을 할 수 있는 넓고 편안한 연회장. <br/>최대 1,800명까지 수용가능
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining01.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining06.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">노래방</p>
                                    <p class="p-txt">
                                        좋은 사람들과 함께 신나게 재미있게<br/>스트레스 완전정복<br/><br/>
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a href="../dining/dining01.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining07.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">코인세탁실</p>
                                    <p class="p-txt">
                                        빨래, 건조는 리조트 안에서<br/>간편하게 해결하세요.<br/><br/>
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                                                <li class="item">
                            <a href="../dining/dining01.html" class="btn-go">
                                <div class="img-box">
                                    <img src="http://img.ocean2youresort.co.kr/main/dining/main_dining08.jpg" alt="이미지">
                                </div>
                                <div class="info-box">
                                    <p class="p-name">GS25 편의점</p>
                                    <p class="p-txt">
                                        준비하지 못한 용품과 편의제품,<br/>먹거리를 편리하게 구매하세요.<br/><br/>
                                    </p>
                                    <p class="p-view">VIEW</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <button type="button" class="btn-control btn-slide-prev"><img src="http://img.ocean2youresort.co.kr/main/main_sub_left_white.png" alt="왼쪽"></button>
                    <button type="button" class="btn-control btn-slide-next"><img src="http://img.ocean2youresort.co.kr/main/main_sub_right_white.png" alt="오른쪽"></button>
                </div>
            </div>
        </div>
    </article>
</section>

<script>
    
</script>