.wrap-join section {
    width: 100%;

    .sect-contents {
        .select-member-ul {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            &>li {
                &:last-of-type {
                    margin-left: 4.5rem;
                }

                .in-radio {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    font-size: 2.0rem;

                    &::before {
                        box-sizing: border-box;
                        content: "";
                        display: block;
                        background: #ccc;
                        border: solid 0.4rem #fff;
                        width: 2.1rem;
                        height: 2.1rem;
                        border-radius: 50%;
                        box-shadow: 0 0 0 1.6px #ccc;
                        margin-right: 1.0rem;
                        margin-top: 1px;
                    }
                }

                input:checked+label {
                    &::before {
                        background: #44a8ff;
                        box-shadow: 0 0 0 1.6px #44a8ff;
                    }
                }

            }
        }
    }

    .join-contents {
        margin-top: 6.0rem;
        padding-top: 5.2rem;
        padding-bottom: 6.0rem;
        width: 100%;
        border-top: 2px solid #595959;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        // display: flex;
        position: relative;
        // justify-content: space-between;
    }

    .bottom-btn-area {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .btn {
            margin-left: 14px;
        }

        .btn-white {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 160px;
            height: 50px;
            border: 1px solid #999;
            font-size: 16px;
        }

        .btn-blue {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #44a8ff;
            width: 160px;
            height: 50px;
            color: white;
            font-size: 16px;
        }

        .btn-person,
        .btn-buisness {
            display: none;
        }

        .btn-on {
            display: flex;
        }
    }
}


.wrap-join .sect-join {

    .sect-contents {
        .title-box {
            .title-sub {
                text-align: center;
                margin-top: 24px;
                color: #595959;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: -0.5px;
            }
        }

        .cont-box {
            margin-top: 40px;
            display: none;

            .in-area-ul {
                width: 440px;
                margin: 0 auto;

                &>li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    label {
                        width: 100px;
                    }

                    input {
                        height: 44px;
                        padding-left: 15px;
                        width: 340px;
                        border: 1px solid #999;
                        font-size: 16px;

                        &::placeholder {
                            color: #888;
                            font-size: 16px;
                        }
                    }

                    .in-social-num01 {
                        width: 170px;
                    }

                    .in-social-num02 {
                        width: 70px;

                        &::-webkit- {
                            transform: scale(1);
                            transform-origin: 0 50%;
                        }
                    }

                    .p-bar {
                        width: 20px;
                        text-align: center;
                        color: #999;
                        font-size: 32px;
                    }

                    .p-star {
                        padding-top: 8px;
                        margin-left: 16px;
                    }

                    .in-buisness-num01 {
                        width: 100px;
                    }

                    .in-buisness-num02 {
                        width: 70px;
                    }

                    .in-buisness-num03 {
                        width: 130px;
                    }
                }
            }
        }

        .on {
            display: block;
        }

    }
}


.wrap-join .sect-join {
    .sect-contents {
        .join-contents {
            .complete-title {
                text-align: center;
                color: #373737;
                font-size: 30px;
                letter-spacing: -1.5px;
            }

            .join-complete-area {
                width: 510px;
                margin: 42px auto 0;
                border: 1px solid #bcbcbc;
                text-align: center;

                ul:nth-of-type(1) {
                    border-bottom: 1px solid #bcbcbc;
                }


                .row-ul {
                    display: flex;
                    // justify-content: center;

                    &>li {
                        height: 54px;
                        display: flex;
                        align-items: center;
                        color: #595959;
                        font-size: 16px;
                        letter-spacing: -0.5px;
                        font-weight: 500;

                        &:nth-of-type(1) {
                            width: 168px;
                            background-color: #F9F9F9;
                            text-align: center;
                            justify-content: center;

                        }

                        &:nth-of-type(2) {
                            width: 340px;
                            padding-left: 30px;
                            background-color: #fff;
                            border-left: 1px solid #bcbcbc;
                            text-align: left;
                            justify-content: flex-start;
                        }

                    }

                    &>li.mark {
                        color: #44a8ff;
                    }
                }
            }

            .btn-myinfo-area {
                width: 510px;
                margin: 0 auto;
                margin-top: 18px;
                position: relative;
                // text-align: right;
                display: flex;
                justify-content: flex-end;

                .btn-go-myinfo {

                    display: block;
                    color: #666;
                    font-size: 16px;
                    letter-spacing: -0.5px;
                    font-weight: 300;
                    position: relative;

                    .linebar::before {
                        content: "";
                        background-color: #666;
                        height: 1px;
                        width: 90%;
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                    }
                }
            }

        }
    }
}




@media(max-width:990px) {

    .wrap-join .sect-join .sect-contents .cont-box .in-area-ul>li label {
        font-size: 15px;
    }
}