@@include('../include/_head.html', {
"page": "event"
})

</head>

<body>

    <h1 class="hidden">오션투유 리조트 이벤트/축제</h1>
    <div id="wrap">

        <div class="vid-wrap">

            @@include('../include/_header.html')


            <section class="title">
                <div class="container tit-box">
                    <h2>오션투유 리조트 이벤트 / 축제</h2>
                    <div class="mg-"></div>
                    <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/event/event_title.png" alt="예약하기"></div>
                    <p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
                </div>
            </section>
        </div>


        <!--<div class="banner-box">
        <img src="http://img.ocean2you.co.kr/renew/tbn_breakfast.jpg" alt="평일아침조식무료" class="show-sm-gte">
        <img src="http://img.ocean2you.co.kr/renew/tbn_breakfast_m.jpg" alt="평일아침조식무료" width="100%" class="show-xs">
    </div>-->
        <div class="banner-box pets" onclick="" style="cursor: pointer;">
            <img src="http://img.ocean2you.co.kr/renew/tbn_pet.jpg" alt="애완동물 동반 투숙 가능" class="show-sm-gte">
            <img src="http://img.ocean2you.co.kr/renew/tbn_pet_m.jpg" alt="애완동물 동반 투숙 가능" width="100%" class="show-xs">
        </div>

        <!-- 190425 탭 감싸는 태그 추가 및 위치 이동 -->
        <div class="tab-rg-box">
            <ul class="tab-region">
                <li class="on">
                    <a href="javascript:;">고성지역 행사 <span class="d-arr">▼</span></a>
                </li>
                <li>
                    <a href="javascript:;">속초지역 행사 <span class="d-arr">▼</span></a>
                </li>
            </ul>
        </div>
        <!-- // .tab-region -->

        <div class="event-wrap" id="setTop">
            <div class="container" id="evt-box">

                <ul class="cont-region">
                    <li class="goseong on">

                        <!-- 오션투유 축제 -->
                        <section class="facil-1 ocKite" data-region="own" data-name="goseong" data-date="191123">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 가족여행과 함께하는 <br class="show-xs">고성 오션투유 삼포해수욕장 연날리기 축제</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2"></li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 가족여행과 함께하는 고성 오션투유 삼포해수욕장 연날리기 축제
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">매주 일요일</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">오션투유 리조트</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5 lh-01">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">12:00 ~ 16:00</span>
                                </li>
                                <li class="l-td nth-6 lh-02">
                                    <span class="s-lbl lh-01">위치</span>
                                    <span class="s-txt">
                                        ※연 세트 프론트에서 제공<br>
                                        ※소망연날리기체험장: 삼포해수욕장
                                    </span>
                                </li>
                                <li class="l-td nth-7 lh-01">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('http://korean.visitkorea.or.kr/kor/bz15/where/festival/festival.jsp?cid=2541578','_blank')">▷소망 연날리기 축제</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 sohwaghaeng" data-region="own" data-date="191231">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">삼포해수욕장 소확행 불꽃놀이 & 캠프파이어 축제 </h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">고성 오션투유 삼포해수욕장 소/확/행 불꽃 캠프파이어 축제</p>
                                                        <p class="fc-li-txt">
                                                            <span class="hidden-xs">2019년을 정리하는 소소하지만 확실한 행복<br></span>
                                                            2019년의 마지막날, 사랑하는 가족, 친구와 함께 아름다운 삼포해변의 밤하늘을 만나보세요.<br>
                                                            <br>
                                                            <span class="hidden-xs">별과 바람, 푸른바다를 배경으로 하는 삼포해변에서 불꽃축제와 캠프파이어!<br></span>
                                                            “고성 오션투유 삼포해수욕장 소/확/행 불꽃 캠프파이어 축제”로 초대합니다.<br>
                                                            <br>
                                                            ※ 본 행사는 우천 시 취소될 수 있습니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                            <ul class="evt01-tb evt02-tb clr">
                                <li class="l-th ftfm-mg">
                                    삼포해수욕장 소확행 불꽃놀이 & 캠프파이어 축제
                                </li>
                                <li class="l-td">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019년 12월 31일(월)</span>
                                </li>
                                <li class="l-td">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">오션투유 리조트</span>
                                </li>
                                <li class="l-td type02">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td type02 type03">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">일몰 이후 캠프파이어<br>23:30 새해맞이 불꽃놀이 진행</span>
                                </li>
                                <li class="l-td type03">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">강원도 고성 삼포해수욕장</span>
                                </li>
                                <li class="l-td type03">
                                    <span class="s-lbl">상세보기</span>

                                    <!-- 링크가 걸립니다. URL 미정 -->
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://korean.visitkorea.or.kr/detail/fes_detail.html?cotid=f289af9c-82e9-44ef-848b-cea1c6fd6a86','_blank')">▶불꽃 캠프파이어 축제</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 soon1" data-region="another" data-date="191110">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">고성 DMZ 평화의길</h3>
                                    <div class="bxBox" id="bxBox-geomdo">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">고성 DMZ 평화의길</p>
                                                        <p class="fc-li-txt">
                                                            금강산과 설악산을 연결하는 고성 DMZ는 금강산 육로 관광이 시작된 역사의 현장입니다.<br>
                                                            금강통문을 거쳐 금강산전망대에서 바라보는 해금강과 금강산 풍경은 말로 다할 수 없는 감동을 선사합니다.<br>
                                                            고성 DMZ에서만 느낄 수 있는 특별한 이벤트로 여러분을 초대합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    고성 DMZ 평화의길
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">홈페이지 참고</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">두루누비</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">-</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">오전 10시 (1차) / 오후 2시 (2차) </span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">
                                        통일전망대 (A/B코스 동일)
                                    </span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://www.durunubi.kr/dmz-travel.do','_blank')">▶여기를 클릭해 주세요</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 soon2" data-region="another" data-date="191116">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">제2회 고성군 DMZ 전국 플라잉디스크 대회</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">제2회 고성군 DMZ 전국 플라잉디스크 대회</p>
                                                        <p class="fc-li-txt">
                                                            대한민국 플라잉디스크 연맹에서 주최하는 전국플라잉디스크 대회가 개최됩니다. <br>
                                                            고성공설운동장, 거진종합운동장, 고성군원반골프장에서 진행되는 이번 대회는<br>
                                                            전국의 플라잉디스크인 (KFDF선수)을 위한 기대의 장이 될 것입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    제2회 고성군 DMZ 전국 플라잉디스크 대회
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019-11-16 ~ 11-17 (2일간)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">고성공설운동장, 거진종합운동장</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">11월 16일 19시</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">청초호유원지</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.kfdf.info/','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 gone1" data-region="another" data-date="190908">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">고성 DMZ 평화의길</h3>
                                    <div class="bxBox" id="bxBox-geomdo">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">고성 DMZ 평화의길</p>
                                                        <p class="fc-li-txt">
                                                            금강산과 설악산을 연결하는 고성 DMZ는 금강산 육로 관광이 시작된 역사의 현장입니다.<br>
                                                            금강통문을 거쳐 금강산전망대에서 바라보는 해금강과 금강산 풍경은 말로 다할 수 없는 감동을 선사합니다.<br>
                                                            고성 DMZ에서만 느낄 수 있는 특별한 이벤트로 여러분을 초대합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    고성 DMZ 평화의길
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">홈페이지 참고</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">두루누비</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">-</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">오전 10시 (1차) / 오후 2시 (2차) </span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">
                                        통일전망대 (A/B코스 동일)
                                    </span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://www.durunubi.kr/dmz-travel.do','_blank')">▶여기를 클릭해 주세요</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 gone2" data-region="another" data-date="190916">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">제2회 고성군 DMZ 전국 플라잉디스크 대회</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">제2회 고성군 DMZ 전국 플라잉디스크 대회</p>
                                                        <p class="fc-li-txt">
                                                            대한민국 플라잉디스크 연맹에서 주최하는 전국플라잉디스크 대회가 개최됩니다. <br>
                                                            고성공설운동장, 거진종합운동장, 고성군원반골프장에서 진행되는 이번 대회는<br>
                                                            전국의 플라잉디스크인 (KFDF선수)을 위한 기대의 장이 될 것입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    제2회 고성군 DMZ 전국 플라잉디스크 대회
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019-11-16 ~ 11-17 (2일간)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">고성공설운동장, 거진종합운동장</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">11월 16일 19시</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">청초호유원지</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.kfdf.info/','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <div id="eventGoseongOwn" class="event-sort-box"></div>
                        <div id="eventGoseongAnotherSoon" class="event-sort-box"></div>
                        <div id="eventGoseongAnotherGone" class="event-sort-box"></div>

                    </li>
                    <!-- // 고성 축제 끝 -->

                    <li class="sokcho">
                        <!-- 속초 시민의 날  -->
                        <section class="facil-1 skCitizinDay" data-region="another" data-date="190521">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 속초 시민의 날</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">2019 속초 시민의 날</p>
                                                        <p class="fc-li-txt">
                                                            속초 시민의날 5월 21일 "모두가 함께 하는 속초"<br>
                                                            <br>
                                                            속초시는 2019년 5월 21일 ‘속초시민의 날’을 새롭게 지정하고<br>
                                                            지역의 다양한 문화예술 행사와 각계각층 시민과 관광객이 어울려 <br>
                                                            소통․공감하는 시민 대화합 축제의 장을 열게 되었습니다.<br>
                                                            <br>
                                                            자랑스러운 시민상 시상, 서울 중구․오산시․정읍시 등 <br>
                                                            자매도시 축하사절단의 축하공연 등도 함께 진행됩니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 속초 시민의 날
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019.05.21(화) ~ 05.26(일)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">속초시</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5 lh-01">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://sokchotour.com/korean/sub/tour_news.asp?subtop=07&submenu=01&mode=view&part=notice&sno=9477','_blank')">▶상세일정표</span>
                                </li>
                                <li class="l-td nth-6 lh-02">
                                    <span class="s-lbl lh-01">위치</span>
                                    <span class="s-txt">엑스포상장탑 일원 / <br>속초문화예술회관</span>
                                </li>
                                <li class="l-td nth-7 lh-01">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://sokchotour.com/korean/sub/tour_news.asp?subtop=07&submenu=01&mode=view&part=notice&sno=9477','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <!-- 속초 사잇길 음악여행 버스킹  -->
                        <section class="facil-1 skBusking" data-region="another" data-date="190427">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 속초 사잇길 음악여행 버스킹</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">2019 속초 사잇길 음악여행 버스킹</p>
                                                        <p class="fc-li-txt">
                                                            본 축제는 엑스포 분수광장, 청초해상공원, 아트플랫폼 갯배, 영금정, 장사항 등지에서 진행됩니다.<br>
                                                            속초해수욕장 특설무대에서 관광객 등을 대상으로 이벤트 형식의 버스킹을 진행해 색다른 재미를 드립니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 속초 사잇길 음악여행 버스킹
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019.04.27(토) ~ 11.02(토)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">속초시 / 속초민예총</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5 lh-02">
                                    <span class="s-lbl lh-01">시간</span>
                                    <span class="s-txt">4월 27일 부터 매주 토요일<br>오후 2시 ~ 6시</span>
                                </li>
                                <li class="l-td nth-6 lh-01">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">강원도 속초 사잇길 주요 관광지 인근</span>
                                </li>
                                <li class="l-td nth-7 lh-01">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=102&oid=032&aid=0002936695','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <!-- 속초 봄빛 축제  -->
                        <section class="facil-1 skNuri" data-region="another" data-date="190503">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 속초 봄빛 축제 "청초누리, 환희의 시작"</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">2019 속초 봄빛 축제 "청초누리, 환희의 시작"</p>
                                                        <p class="fc-li-txt">
                                                            이번 축제는 어린이와 가족을 위한 각종 공연과 콘텐츠로 다양한 프로그램을 선보입니다.<br>
                                                            축제장 입구는 '청초로'로 꾸며지며 매직·아트쇼, 버스킹, 즉석 장기자랑 등이 펼쳐지는 누리무대도 마련됩니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 속초 봄빛 축제 "청초누리, 환희의 시작"
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019.05.03(금) ~ 2019.05.05(일)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">속초시 / ALMALOCO</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">5월 3일 18시 ~ 5월 5일 21시 30분</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">강원도 속초 청초호 호수공원</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://www.sokchotour.com/korean/sub/tour_news.asp?subtop=07&submenu=01&mode=view&part=notice&sno=9473','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 gughwa" data-region="another" data-date="191008">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 속초국화전</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">2019 속초국화전</p>
                                                        <p class="fc-li-txt">
                                                            푸른 동해바다와 설악의 오색 단풍이 함께하는<br class="show-xs"> 속초 청포호유원지에 여러분을 초대합니다
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 속초국화전
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019-10-08 ~ 11-02 (26일간)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">속초시공원녹지과</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">11월 02일 24시</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">청초호유원지</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.sokchotour.com/intro/intro.asp','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 seolag" data-region="another" data-date="191012">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">2019 설악문화제</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">2019 설악문화제</p>
                                                        <p class="fc-li-txt">
                                                            설악 문화제는 설악산과 관련된 산촌 문화, 동해바다를 근원으로 하는<br class="hidden-xs">
                                                            어촌문화 그리고 청호동 아바이 마을로 대표되는 실향민문화 등 속초의 사회,역사,문화적 유산을<br class="hidden-xs">
                                                            형상화한 소중한 우리의 문화 축제에 여러분을 초대합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    2019 설악문화제
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019-10-12 ~ 10-14 (3일간)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">(사)속초축제위원회</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">10월 14일 19시</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">속초시청 ~ 청학사거리</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('http://sokchofestival.com/wordpress/?page_id=11026','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <section class="facil-1 seolagMaple" data-region="another" data-date="191019">
                            <ul class="fc-list">
                                <li class="nth-1">
                                    <h3 class="ftfm-mg">설악동 단풍축제</h3>
                                    <div class="bxBox" id="bxBox-3">
                                        <ul class="bxS">
                                            <li class="li-1"></li>
                                            <li class="li-2">
                                                <div class="fc-li-box">
                                                    <div class="fc-txt-box">
                                                        <p class="fc-li-tit">설악동 단풍축제</p>
                                                        <p class="fc-li-txt">
                                                            설악산에 방문하는 관광객들과 지역주민들이 함께하는 노래자랑, 초청가수 공연을 비롯해<br class="hidden-xs">
                                                            단풍잎 압화 및 페인팅과 같은 체험행사와 먹거리 장터, 핏골 걷기행사를 진행합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>

                            <ul class="evt01-tb clr">
                                <li class="l-th ftfm-mg nth-1">
                                    설악동 단풍축제
                                </li>
                                <li class="l-td nth-2">
                                    <span class="s-lbl">기간</span>
                                    <span class="s-txt">2019-10-19 ~ 10-21 (3일간)</span>
                                </li>
                                <li class="l-td nth-3">
                                    <span class="s-lbl">주최</span>
                                    <span class="s-txt">설악동축제위원회</span>
                                </li>
                                <li class="l-td nth-4">
                                    <span class="s-lbl">요금</span>
                                    <span class="s-txt">무료</span>
                                </li>
                                <li class="l-td nth-5">
                                    <span class="s-lbl">시간</span>
                                    <span class="s-txt">10월 21일 14시</span>
                                </li>
                                <li class="l-td nth-6">
                                    <span class="s-lbl">위치</span>
                                    <span class="s-txt">청초호 호수공원</span>
                                </li>
                                <li class="l-td nth-7">
                                    <span class="s-lbl">상세보기</span>
                                    <span class="s-txt" style="cursor:pointer;" onclick="window.open('https://www.sokchotour.com/korean/sub/list.asp?mode=view&sno=930','_blank')">▶여기를 클릭해 주세요.</span>
                                </li>
                            </ul>
                        </section>

                        <div id="eventSokchoOwn" class="event-sort-box"></div>
                        <div id="eventSokchoAnotherSoon" class="event-sort-box"></div>
                        <div id="eventSokchoAnotherGone" class="event-sort-box"></div>

                    </li>
                    <!-- // 속초 축제 끝 -->
                </ul>
            </div>

            <script>
                $(function () {
                    // tab
                    $(".cont-region > li.sokcho").hide();
                    $(".tab-region > li").on("click", function () {
                        var idx = $(this).index();

                        $(this).addClass("on").siblings().removeClass();
                        $(".cont-region > li").eq(idx).show().siblings().hide();
                        $(window).scrollTop(($(".event-wrap").offset().top) - ($(".tab-rg-box").height())); //스크롤 탑 추가
                        //console.log(($(".event-wrap").offset().top) - ($(".tab-rg-box").height()))
                    });

                    $(window).resize(function () {
                        var winWd = $(window).width();
                        var $slider = $(".event-wrap .bxBox .bxS > li");
                        // console.log(winWd);

                        if (winWd < 360) {
                            $slider.width(320);
                        } else if (winWd < 767) {
                            $slider.width(360);
                        } else {
                            $slider.width(1180);
                        }

                    });

                    var date = new Date();
                    var d = JSON.stringify(date.getDate());
                    if (d.length < 2) d = '0' + d;
                    var m = date.getMonth();
                    m = JSON.stringify(m + 1);
                    if (m.length < 2) m = '0' + m;
                    var y = JSON.stringify(date.getFullYear());
                    y = y.substring(2, 4);
                    var today = y + m + d;
                    console.log(today);

                    var own_gs = $('#eventGoseongOwn');
                    var anotherSoon_gs = $('#eventGoseongAnotherSoon');
                    var anotherGone_gs = $('#eventGoseongAnotherGone');
                    var own_sch = $('#eventSokchoOwn');
                    var anotherSoon_sch = $('#eventSokchoAnotherSoon');
                    var anotherGone_sch = $('#eventSokchoAnotherGone');

                    var eventListOwn_gs = $('#evt-box .cont-region .goseong').children('section[data-region=own]').detach();
                    var eventListAnother_gs = $('#evt-box .cont-region .goseong').children('section[data-region=another]').detach();
                    var eventListOwn_sch = $('#evt-box .cont-region .sokcho').children('section[data-region=own]').detach();
                    var eventListAnother_sch = $('#evt-box .cont-region .sokcho').children('section[data-region=another]').detach();

                    // console.log(eventListAnother_gs);
                    eventListAnother_gs.sort(function (a, b) {
                        return a['dataset']['date'] - b['dataset']['date']
                    })
                    // console.log(eventListAnother_gs);

                    eventListAnother_gs.each(function (index, item) {
                        if (today - $(item).data('date') <= 0) {
                            $(item).appendTo(anotherSoon_gs)
                        }
                        if (today - $(item).data('date') > 0) {
                            $(item).appendTo(anotherGone_gs)
                        }
                    })

                    // console.log(eventListAnother_sch);
                    eventListAnother_sch.sort(function (a, b) {
                        return a['dataset']['date'] - b['dataset']['date']
                    })
                    // console.log(eventListAnother_sch);

                    eventListAnother_sch.each(function (index, item) {
                        if (today - $(item).data('date') <= 0) {
                            $(item).appendTo(anotherSoon_sch)
                        }
                        if (today - $(item).data('date') > 0) {
                            $(item).appendTo(anotherGone_sch)
                        }
                    })

                    var evtBoxAll = $('#eventGoseongOwn, #eventGoseongAnotherSoon, #eventGoseongAnotherGone, #eventSokchoOwn, #eventSokchoAnotherSoon, #eventSokchoAnotherGone');
                    evtBoxAll.each(function (index, item) {
                        // console.log($(item));
                        if (!$(item).children().length) $(item).remove();
                    })

                });
            </script>
        </div>

        @@include('../include/_footer.html')
    </div>

</body>

</html>