@@include('../include/_head.html', {
"page": "reservation"
})

<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/moblie_reset.css" type="text/css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/swiper.min.css" type="text/css">
<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/mobile_layout3.css" type="text/css">
<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
<!--<link rel="stylesheet" href="../../static/css/totalmobile.css">-->

<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reservation/init_m.css">

<script type="text/javascript" src="http://static.hotelgangneung.kr/js/swiper.min.js"></script>
</head>

<body>

    <h1 class="hidden">오션투유 리조트 예약</h1>
    <div id="wrap">


        <div class="vid-wrap">

            @@include('../include/_header.html')


            <section class="title">
                <div class="container tit-box">
                    <h2>실시간 예약 / 예약조회</h2>
                    <div class="mg-"></div>
                    <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/reservation/res_title.png" alt="예약하기"></div>
                    <ul class="facil-tab clr" id="facil-tab">
                        <li class="nth-1 on"><a href="javascript:;"><img class="i-user" src="http://img.ocean2you.co.kr/renew/reservation/i-user.png" alt="유저">로그인</a></li>
                        <li class="nth-2"><a href="javascript:;"><img class="i-cal" src="http://img.ocean2you.co.kr/renew/reservation//i-cal.png" alt="달력">예약내역조회</a></li>
                    </ul>

                </div>
            </section>
        </div>

        <section class="reservation" id="setTop">


            <div class="clr"></div>
            <!--별도 고코 PC/모바일 예약하기 위치-->
            <div id="wrapper">
                <div id="scroll_box">
                    상세내용<br>
                    상세내용<br>
                    상세내용<br>
                    상세내용<br>
                    상세내용<br>
                    상세내용<br>
                    상세내용<br>
                </div>
            </div>

            <div class="clr"></div>
        </section>

        @@include('../include/_footer.html')
    </div>

</body>

</html>