@@include('../include/_head.html', {
    "page": "partner"
    })
    
    </head>
    
    <body>
        <main id="wrap" class="wrap">
            @@include('../include/_header.html')
    
            @@include('../include/_sub/_subpage_top_partner.html')
    
    
            <div class="wrap-container wrap-partner">
                <section class="sect-partner">
                    <div class="sect-contents">
                        <h3 class="page-title">제휴시설</h3>
                        <ul class="partner-info-ul">
                            <li>
                                <div class="img-area">
                                    <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/partner/partner_main01.jpg" alt="이미지"></div>
                                    <p class="p-location">강원도 정선</p>
                                </div>
                                <div class="info-area">
                                    <div class="info-title-box">
                                        <p class="info-title">정선인투라온호텔</p>
                                        <p class="info-sub">
                                            인투라온호텔은 아름다운 자연, 싱그러움과 설레임으로 가득한
        강원도 정선 사북에 위치해 있습니다.
                                        </p>
                                    </div>
                                    <div class="info-type-box">
                                        <p>· 객실: 467개</p>
                                        <p>· 시설: 연회장, 비즈니스룸, 레스토랑, 바/라운지 등</p>
                                        <p>· 소재: 강원도 정선군 사북읍 지장천로 583</p>
                                    </div>
                                    <a href="#none" class="btn-go-reserve">
                                        <span>예약하기</span>
                                        <span class="icon-go">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/partner/icon_arrow_go.png" alt="아이콘">
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="img-area">
                                    <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/partner/partner_main02.jpg" alt="이미지"></div>
                                    <p class="p-location">서울시 역삼동</p>
                                </div>
                                <div class="info-area">
                                    <div class="info-title-box">
                                        <p class="info-title">역삼아르누보호텔</p>
                                        <p class="info-sub">
                                            인투라온호텔은 아름다운 자연, 싱그러움과 설레임으로 가득한
        강원도 정선 사북에 위치해 있습니다.
                                        </p>
                                    </div>
                                    <div class="info-type-box">
                                        <p>· 객실: 266개 | · 역삼역 도보5분 거리</p>
                                        <p>· 시설: 웨딩/연회장, 비즈니스룸, 레스토랑, 루프탑 </p>
                                        <p>· 소재: 서울시 강남구 언주로 506</p>
                                    </div>
                                    <a href="#none" class="btn-go-reserve">
                                        <span>예약하기</span>
                                        <span class="icon-go">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/partner/icon_arrow_go.png" alt="아이콘">
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            @@include('../include/_footer.html')
        </main>
    </body>
    
    </html>