<!-- 2021 header include -->
@@include('../include/_head.html', {
	"page": "transferOfTitle"
})
</head>

<!-- 2021 html 기준 -->

<!-- 2021 명의개서 -->
<h1 class="hidden">명의개서</h1>
    <div id="wrap">
        @@include('../include/_header.html')
        @@include('../include/_sub/_subpage_top_transferOfTitle.html')
        <section class="scss_com transfer" id="setTop">
            <div id="wrapper">
                <div id="contents">
                    <h2>오션투유 리조트 명의개서</h2>
                    <div class="transfer_index">
                        <h3 class="text_color">오션투유 리조트 <span> 운영사 변경에 따른 명의개서</span> 신청안내</h3>
                        <p>
                            우리 코레스코의 모기업인 우성건설그룹은 1996년 1월 IMF로 인한 거센 태풍과 깉이 밀려오는 <br>
                            시대적인 상황에 자금난을 감당하지 못하고 부도를 맞았고,이는 회원님들께서도 각종 매스컴을 통해 잘 알고 계시리라 생각합니다. <br>
                            코레스코 회원님들과 고객 여러분과의 약속을 소중히 지키고자 부단한 노력을 경주하였지만 모기업의 부도로 인한 부채가 상당하여 9개  <br>
                            지점중 6개 지점과 공사 중인 모든 지점의 건설중인 자산이 경매로 날아가게 되었습니다. <br>
                            <br>
                            이후 남아 있는 2개지점중 설악리조트미엄과 삼포리조트미엄 결국 영업을 중단하게 되었고, 사용할 수 없는 상태에 이르렀지만,  <br>
                            각고의 노력으로 삼포지점에 대해서만 이스턴월드가 일부 설비 및 객실 개보수하여 위탁운영하고 있습니다.  <br>
                            <br>
                            미흡하고 열악하지만 회원님들께 다시 삼포리조트미엄, 치악리조트미엄을 서비스 할 수 있게 되었으니 많은 이용을 부탁드립니다. <br>
                            끝으로 모든 회원님들께 진심으로 감사의 말씀을 올리며 정유년 하시는 모든 일에 행운이 가득하시길 진심으로 기원합니다. <br>
                           
                        </p>
                        <div>
                            <p>명의개서 후 오션투유 리조트 <span>회원권 권리를 회복하시면 이전과 동일한 회원혜택</span>을 받으실 수 있습니다.</p>
                            <img class="pc-img" src="http://img.ocean2youresort.co.kr/transferOfTitle/img_transferCk.png" alt="회원권 권리 회복 객실예약 회원혜택 이용 양도양수 가능"/>
                            <img class="m-img" src="http://img.ocean2youresort.co.kr/transferOfTitle/img_transferCk_m.png" alt="회원권 권리 회복 객실예약 회원혜택 이용 양도양수 가능"/>
                        </div>
                        <a href="../transferOfTitle/apply.html"class="btn btn_blue">명의개서 신청하기</a>
                    </div>
                    @@include('./_bottom_info.html')
                </div>
            </div>
        </section>
    </div>

    @@include('../include/_footer.html')
</html>
                