<div class="popup-event">
    <div class="popup-box">
        <a class="pop-url-pc" target="_blank" href="https://tour.wd.wemakeprice.com/khotel/detail/vendors?hotelId=2299140">
            <img src="http://img.ocean2you.co.kr/renew/pop/20201030_wemake.jpg" alt="이미지">
        </a>
        <a class="pop-url-mobile" target="_blank" href="https://mtour.wd.wemakeprice.com/khotel/detail/vendors?hotelId=2299140">
            <img src="http://img.ocean2you.co.kr/renew/pop/20201030_wemake.jpg" alt="이미지">
        </a>
    </div>
    <div class="btn-pop-close-box">
        <button class="btn-pop-close" type="button">X</button>
    </div>
</div>
<script>
    $(".btn-pop-close").on('click', function(){
        $(".popup-event").css("display","none");
    });
</script>