@@include('../include/_head.html', {
"page": "landing"
})

</head>

<body>

    <div class="landing-wrapper wifi">
        <header class="landing-header">
            <h1 class="title">WELCOME TO OCEAN2YOU RESORT</h1>
        </header>
        <div class="landing-contents">
            <section class="sec visual">
                <h1 class="title-picture">
                    <img src="http://img.ocean2you.co.kr/renew/landing/wifi/visual_title.png" alt="아름다운 바다, 행복한 시간">
                </h1>
                <div class="title">
                    [ 202호 ] 객실 고객님을 환영합니다.
                </div>
                <div class="text">
                    오션투유를 방문해 주셔서 진심으로 감사드립니다.<br>
                    리조트에서는 룸서비스, 조식, 바베큐장, 전동바이크 등<br>
                    다양한 부대시설을 편리하게 이용하실 수 있습니다.<br>
                    오션투유에서 편안하고 즐거운 시간 되세요.
                </div>
                <figure class="logo"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/logo.png" alt="오션투유"></figure>
                <p class="copyright">
                    COPYRIGHT 2016 OCEAN2YOU ALL RIGHTS RESERVED
                </p>
            </section>
            <section class="sec service">
                <h1 class="text-hide">다양한 부대시설 서비스</h1>
                <ul class="service-list">
                    <li class="service-item">
                        <h2 class="item-title"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/roomservice_title.jpg" alt="룸서비스"></h2>
                        <div class="cf picture-list count-3">
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/roomservice_picture_1.jpg" alt="룸서비스사진">
                                <figcaption>■ 리얼바베큐 플레이츠</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/roomservice_picture_2.jpg" alt="룸서비스사진">
                                <figcaption>■ 모듬회 / 물회</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/roomservice_picture_3.jpg" alt="룸서비스사진">
                                <figcaption>■ 그랑데 피자</figcaption>
                            </figure>
                        </div>
                        <div class="service-use">
                            <div class="use-title">룸서비스 이용안내</div>
                            <div class="use-text">
                                ● 주문처 : 1층 정문앞 룸서비스 주문처 이용<br>
                                ● 이용시간 : 평일 18시 까지 / 주말, 연휴 20시 까지
                            </div>
                        </div>
                    </li>
                    <li class="service-item">
                        <h2 class="item-title"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/food_title.jpg" alt="푸드코너"></h2>
                        <div class="cf picture-list">
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/food_picture_1.jpg" alt="푸드코너사진">
                                <figcaption>■ 다연 조식뷔페</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/food_picture_2.jpg" alt="푸드코너사진">
                                <figcaption>■ 오션숯불갈비 &amp; 바베큐장</figcaption>
                            </figure>
                        </div>
                        <div class="service-use">
                            <div class="use-title">조식 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 1층 다연 레스토랑<br>
                                ● 이용시간 : 07시 30분 ~ 10시 까지 (입장마감 09시 30분)
                            </div>
                            <div class="use-title">바베큐 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 야외시설 - 1층 (라바짜 뒷편) / 실내시설 - 2층<br>
                                ● 이용시간 : 주중/주말 18시~22시 까지
                            </div>
                        </div>
                    </li>
                    <li class="service-item">
                        <h2 class="item-title"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/play_title.jpg" alt="놀거리"></h2>
                        <div class="cf picture-list">
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/play_picture_1.jpg" alt="놀거리사진">
                                <figcaption>■ 오션 노래방</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/play_picture_2.jpg" alt="놀거리사진">
                                <figcaption>■ 전동바이크 대여</figcaption>
                            </figure>
                        </div>
                        <div class="service-use">
                            <div class="use-title">노래방 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 지하 1층&nbsp;&nbsp;● 이용시간 : 18시~24시 까지&nbsp;&nbsp;● 주류가능
                            </div>
                            <div class="use-title">
                                전동바이크 이용안내
                            </div>
                            <div class="use-text">
                                ● 위치 : 1층 현관 앞&nbsp;&nbsp;● 이용시간 : 평일/주말 09시~18시 까지
                            </div>
                        </div>
                    </li>
                    <li class="service-item">
                        <h2 class="item-title"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/fishing_title.jpg" alt="낚시조개잡이"></h2>
                        <div class="cf picture-list">
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/fishing_picture_1.jpg" alt="낚시조개잡이사진">
                                <figcaption>■ 낚시도구 대여</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/fishing_picture_2.jpg" alt="낚시조개잡이사진">
                                <figcaption>■ 조개잡이 도구</figcaption>
                            </figure>
                        </div>
                        <div class="service-use">
                            <div class="use-title">낚시도구 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 1층 프론트&nbsp;&nbsp;● 이용시간 : 프론트 직원과 협의<br>
                                ● 낚시 포인트 안내도 제공
                            </div>
                            <div class="use-title">조개잡이 도구 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 1층 프론트&nbsp;&nbsp;● 제공도구 : 양동이, 삽, 조개갈퀴<br>
                                ● 이용하신 도구는 사용 후 댁으로 직접 가져가세요.
                            </div>
                        </div>
                    </li>
                    <li class="service-item">
                        <h2 class="item-title"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/fireworks_title.jpg" alt="기타부대시설"></h2>
                        <div class="cf picture-list">
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/fireworks_picture_1.jpg" alt="기타부대시설사진">
                                <figcaption>■ 불꽃놀이 용품</figcaption>
                            </figure>
                            <figure class="picture-item">
                                <img src="http://img.ocean2you.co.kr/renew/landing/wifi/fireworks_picture_2.jpg" alt="기타부대시설사진">
                                <figcaption>■ 무인판매기</figcaption>
                            </figure>
                        </div>
                        <div class="service-use">
                            <div class="use-title">불꽃놀이 용품 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 1층 프론트&nbsp;&nbsp;● 불꽃놀이 세트 구입 후 해변에서 이용<br>
                                ● 반드시 성인 통제하에 이용해 주세요.
                            </div>
                            <div class="use-title">무인판매기 이용안내</div>
                            <div class="use-text">
                                ● 위치 : 1층 프론트 앞 / 1층 라바짜 앞<br>
                                ● 무인기의 상품 구입 후 해당 주문처로 이동<br>
                                ● 이용 시 문의사항은 프론트에 문의
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <footer class="landing-footer">
            <figure class="logo-f"><img src="http://img.ocean2you.co.kr/renew/landing/wifi/logo_f.png" alt="오션투유 리조트"></figure>
            <p class="copyright">
                COPYRIGHT 2016 OCEAN2YOU ALL RIGHTS RESERVED
            </p>
        </footer>
    </div>

</body>

</html>