@@include('../include/_head.html', {
	"page": "amenities"
})
	
	
</head>
<body>

<h1 class="hidden">오션투유 리조트 부대시설</h1>
<div id="wrap">
    @@include('../include/_header.html')
    @@include('../include/_sub/_subpage_top_intro.html')
    

    <!--탑메뉴 오버이벤트를 위한 태그-->
    <div class="page-data" data-name="d_dining"></div>
		
    <!-- 190226 내용 수정 -->
    <div class="facil-wrap" id="setTop">
        <div class="container" id="facil-box">
            @@include('./_part_menu.html')
            <section class="facil-1 on">      
                <!-- 리스트 -->
                <ul class="facil-list">
                    <li class="item-1 clr">
                        <a href="../package/index_dining.html" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_brf_01.jpg" alt="조식뷔페 다연 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">조식뷔페 다연</p>
                            <p class="p-1">다양한 섹션으로 구성된 프리미엄 뷔페 다연에서 <br class="hidden-xs">신선하고 다양한 요리를 한자리에서 만끽해보세요</p>
                            <p class="p-2">
                                오션투유 리조트 설악비치 호텔앤리조트에서는 소시지, 스크램블, 베이컨, 감자튀김, <br class="hidden-xs">
                                샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                                특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 <br class="hidden-xs">
                                요리 하나하나 최고의 맛을 자랑합니다.
                            </p>
                        </div>
                        <a href="./dining01.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <li class="item-2 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_rib_01.jpg" alt="오션숯불갈비 & 바베큐장 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">오션숯불갈비 & 바베큐장</p>
                            <p class="p-1">소나무 숲 향기와 파도소리를 느끼며 즐기실 수 있는 야외 바베큐장으로 <br class="hidden-xs">오션투유 리조트에서 즐거운 바베큐 파티를 즐겨보세요.</p>
                            <p class="p-2">
                                오션투유 리조트 설악비치 호텔앤리조트에서는 삼포해변을 바라보며 즐기실 수 있는 <br class="hidden-xs">
                                바베큐장을 운영하고 있습니다.<br>
                                오션투유 리조트에 흩어지는 바다내음, 숯불내음, <br class="hidden-xs">
                                그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.
                            </p>
                        </div>
                        <a href="./dining02.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li>
                    <li class="item-3 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_fish_01.jpg" alt="속초횟집 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">속초횟집</p>
                            <p class="p-1">속초횟집에는 웅장한 동해가 보입니다.<br>동해의 신선함, 동해의 바다향, 동해의 푸르름을 느껴보세요.</p>
                            <!--변경 부분-->
                            <p class="p-2">
                                속초횟집은, 청정 동해안에서 직접 잡아 현장에서 즉석으로 준비해드리고 있습니다.<br>
                                횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.
                            </p>
                        </div>
                        <a href="./dining03.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li>  
                    <li class="item-4 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_bbq_01.jpg" alt="반데라 리얼바베큐 플레이츠 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">반데라 리얼바베큐 플레이츠</p>
                            <p class="p-1">훈연의 향이 가득한 반데라 리얼바베큐 플레이츠를 <br class="hidden-xs">동해의 삼포해변에서 즐기실 수 있습니다.</p>
                            <p class="p-2">
                                정통 바베큐집의 조리법 그대로 챠콜(숯)과 나무 (사과나무, 벚나무, 포도나무, <br class="hidden-xs"> 
                                배나무, 복숭아나무, 참나무, 히코리나무, 머스킷나무 등)를 훈연하여 부드러운 <br class="hidden-xs">
                                바베큐의 식감과 육즙을 즐기실 수 있는 미국 남부식 바베큐 전문점입니다.
                            </p>
                        </div>
                        <a href="./dining04.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <li class="item-5 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_room_01.jpg" alt="룸서비스 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">룸서비스</p>
                            <p class="p-1">빠르고 신선한 음식을 바로 즐길 수 있는 <br class="hidden-xs">오션투유 리조트 만의 독보적인 룸서비스 안내</p>
                            <p class="p-2">
                                오션투유 리조트 설악비치 호텔앤리조트에서는 고객님들이 조금 더 편안한 휴식을 <br class="hidden-xs">
                                즐기실 수 있도록 룸서비스를 운영하고 있습니다.<br>
                                특급 호텔 30년 경력의 셰프가 직접 싱싱한 활어를 공수하여 제공하는 모듬 회, <br class="hidden-xs">
                                주문 즉시 조리하는 비법 소스로 맛을 낸 모듬 물회 등을 룸서비스로 만나보세요.
                            </p>
                        </div>
                        <a href="./dining05.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                </ul>

            </section>
        </div>

    </div>
		
	@@include('../include/_footer.html') 
</div>

</body>
</html>