<h5 class="part-title">다이닝</h5>
<div class="part-menu-area">
    <div class="part-menu-container">
        <nav class="nav-part-menu">
            <ul class="part-menu-ul">
                <li><a href="./dining01.html" data-part-active="p_dining01">조식뷔페 다연</a></li>
                <li><a href="./dining02.html" data-part-active="p_dining02">오션숯불갈비&바베큐장</a></li>
                <li><a href="./dining03.html" data-part-active="p_dining03">속초횟집</a></li>
                <li><a href="./dining04.html" data-part-active="p_dining04">반데라 바베큐플레이츠</a></li>
                <li><a href="./dining05.html" data-part-active="p_dining05">룸서비스</a></li>
            </ul>
        </nav>
    </div>
</div>
