@@include('./_dining_top.html')


<body>

    <h1 class="hidden">오션투유 리조트 다이닝</h1>
    <div id="wrap">
        @@include('./_dining_sub.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_dining" data-part="p_dining01"></div>

        <div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
            <div class="container" id="pkg-box">
                
                @@include('./_part_menu.html')
                <!-- 180501 한식당 다연 내용 전체 수정 -->
                <section class="pkg-1 on">
                  

                    <div class="bxBox none-slider">
                        <ul class="bxS">
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_brf_01.jpg" alt="조식 패키지"></li>
                        </ul>
                    </div>

                    <h3>조식 패키지</h3>
                    <p class="p0"><span class="xs-block">다채로운 전채요리부터 달콤한 디저트 코너까지 </span>한자리에서 만끽할 수 있는 조식 뷔페 패키지 안내</p>
                    <div class="mg-"></div>

                    <h4>한식당 다연 조식 패키지 상세안내</h4>

                    <p class="p1">
                        오션투유 리조트 설악비치 호텔앤리조트에서는 소시지, 스크램블, 베이컨, 감자튀김, 샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                        특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 요리 하나하나 최고의 맛을 자랑합니다.<br>
                        오션투유 리조트 한식당 다연에서 맛의 향연을 만끽해보세요.
                    </p>

                    <div class="ul-box wid50 clr">
                        <h5>운영시간/위치안내</h5>
                        <ul class="ul0-1">
                            <!-- <li class="i-d">다연 운영시간 : 07:30 ~ 20:00</li> -->
                            <li class="i-d">조식 운영시간 : 07:30 ~ 10:00 (입장마감 09:30)</li>
                            <li class="i-s mt">한식당 다연은 1층 프론트 오른편에 위치해 있습니다.</li>
                            <!-- <li class="i-s">뷔페 조식 및 단품조식도, 한식당 다연에서 운영됩니다.</li> -->
                        </ul>
                    </div>

                    <div class="ul-box wid50 clr">
                        <h5>조식메뉴 안내</h5>
                        <ul class="ul0-1">
                            <li class="i-d">성수기는 아메리칸뷔페로 운영 (항시운영)</li>
                            <li class="i-d">비수기는 토요일 오전, 일요일 오전은 아메리칸뷔페로 운영, 평일은 단품메뉴로 운영</li>
                            <li class="i-s mt">비수기 연휴 및 공휴일의 경우, 해당일은 아메리칸 뷔페로 운영됩니다. (사전에 안내해 드립니다.)</li>
                            <li class="i-s">뷔페 운영일에, 뷔페대신 해당일에 준비된 국과 반찬으로 일반식사가 가능합니다. (동일요금)</li>
                        </ul>
                    </div>

                    <div class="ul-box wid-50 clr">
                        <h5>메뉴 및 가격안내</h5>
                        <ul class="ul0-1">
                            <!-- <li class="i-d">
                                아메리칸 조식뷔페
                                <ul class="ul0-1">
                                    <li>① 성인 : 12,000원(현장결제) / 9,900원(온라인결제)</li>
                                    <li>② 소인 :  9,000원(현장결제) / 7,000원(온라인결제)</li>
                                </ul>
                                <p class="i-s">소인기준 (36개월이상~13세미만)</p>
                            </li> -->
                            <li class="i-d">
                                아메리칸 조식뷔페
                                <ul class="ul0-1">
                                    <li>① 대인 : 12,900원</li>
                                    <li>② 소인 : 8,900원</li>
                                </ul>
                                <p class="i-s">소인기준 (36개월이상~7세미만)</p>
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="ul-box wid50 clr">
                        <h5>일반메뉴 가격안내 (조식가격 동일)</h5>
                        <ul class="ul0-1">
                            <li>① 광어미역국   :  9,000원</li>
                            <li>② 우거지갈비탕 :  9,000원</li>
                            <li>③ 황태해장국   :  9,000원</li>
                        </ul>
                    </div> -->
                    <div class="ul-box wid50 clr">
                        <h5>주중 조식 (단품 메뉴)</h5>
                        <ul class="ul0-1">
                            <li>- 주중 월~금요일 (연휴, 공휴일 아침 제외)</li>
                            <li>① 소고기국밥 : 9,000원</li>
                            <li>② 광어미역국 : 9,000원</li>
                            <li>③ 황태해장국 : 9,000원</li>
                        </ul>
                    </div>

                </section>

            </div>

        </div>

        

        @@include('../include/_footer.html')
    </div>

</body>

</html>