@@include('./_dining_top.html')

<body>

    <h1 class="hidden">오션투유 리조트 다이닝</h1>
    <div id="wrap">
        @@include('./_dining_sub.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_dining" data-part="p_dining04"></div>

        <div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
            <div class="container" id="pkg-box">

                @@include('./_part_menu.html')

                <!-- 180713 반데라바베큐 플레이츠 추가 -->
                <section class="pkg-4 on">
                  
                    <div class="bxBox" id="bxBox-4">
                        <ul class="bxS">
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_bdr_01.jpg" alt="반데라바베큐1"></li>
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_bdr_02.jpg" alt="반데라바베큐2"></li>
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_bdr_03.jpg" alt="반데라바베큐3"></li>
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_bdr_04.jpg" alt="반데라바베큐4"></li>
                        </ul>
                    </div>

                    <h3>반데라 리얼바베큐 플레이츠</h3>
                    <p class="p0">훈연의 향이 가득한 반데라 리얼바베큐 플레이츠를 동해의 삼포해변에서 즐기실 수 있습니다</p>
                    <div class="mg-"></div>

                    <h4>반데라 리얼바베큐 플레이츠 상세안내</h4>
                    <p class="p1">
                        정통 바베큐집의 조리법 그대로 챠콜(숯)과 나무 (사과나무, 벚나무, 포도나무, 배나무, 복숭아나무, 참나무, 히코리나무, 머스킷나무 등)를 훈연하여 부드러운 바베큐의
                        식감과 육즙을 즐기실 수 있는 미국 남부식 바베큐 전문점입니다.<br>
                        챠콜(숯)바베큐 그릴 전문 업체인 웨버그릴사의 직경 98cm에 이르는 초대형 그릴, 렌치캐틀을 직접 수입하여, 챠콜(숯)을 통해 발생되는 100~250도씨의 직 간접열로
                        오랜시간에 걸쳐 정성스럽게 훈연한 정통 바베큐, 반데라 리얼 바베큐 플레이츠를 만나보세요
                    </p>

                    <ul class="ul0 clr">
                        <li class="nth-1 clr on">
                            <h5>운영시간</h5>
                            <p class="p-txt"><em>연중무휴 운영</em>18:00 ~ 20:00 까지</p>
                            <p class="p-txt"><em>사전예약</em>평일 : 18:00시 까지<span class="line"></span>주말/연휴 : 20:00 까지</p>
                        </li>
                        <li class="nth-2">
                            <h5>기간/장소안내</h5>
                            <p class="p-txt i-d">02월~11월 (야외 운영)</p>
                            <p class="p-txt i-d">12월~01월 (2층 실내 운영)</p>
                        </li>
                        <li class="nth-3">
                            <h5>가격 및 이용안내</h5>
                            <p class="p-txt i-m">반데라 바베큐플레이츠 19,000원</p>
                            <p class="p-txt i-d">
                                한식당 다연, 바베큐장 이용 또는 숙박시 <br>＊디자인팀하드백업\★work\오션투유 리조트\오션투유 리조트_사이트\psd\contents\20191115_오션투유_룸서비스_피자추가＊디자인팀하드백업\★work\오션투유 리조트\오션투유 리조트_사이트\psd\contents\20191115_오션투유_룸서비스_피자추가
                                룸서비스로 이용 가능 <br>
                                (오션투유 리조트 프론트에 주문 070-4694-0928)
                            </p>
                        </li>
                    </ul>

                    <a href="javascript:;" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/i_gt.png" alt="" class="gt"></a>
                </section>


            </div>

        </div>

        

        @@include('../include/_footer.html')
    </div>

</body>

</html>