@@include('./_dining_top.html')

<body>

    <h1 class="hidden">오션투유 리조트 다이닝</h1>
    <div id="wrap">
        @@include('./_dining_sub.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_dining" data-part="p_dining02"></div>

        <div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
            <div class="container" id="pkg-box">

                @@include('./_part_menu.html')

                <!-- 180425 오션숯불갈비 추가 -->
                <section class="pkg-2 on">
                  

                    <div class="bxBox" id="bxBox-2">
                        <ul class="bxS clr">
                            <li class="nth-1">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_ribF_01.jpg" alt="오션숯불갈비 & 바베큐 패키지1">
                            </li>
                            <li class="nth-2">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_ribF_02.jpg" alt="오션숯불갈비 & 바베큐 패키지2">
                            </li>
                            <li class="nth-3">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_ribF_03.jpg" alt="오션숯불갈비 & 바베큐 패키지3">
                            </li>
                        </ul>
                    </div>

                    <h3>오션숯불갈비 &amp; 바베큐장</h3>
                    <p class="p0"><span class="xs-block">지글지글 담백하고 맛있게</span> 숯불향을 입힌 숯불갈비와 즐거운 바베큐장</p>
                    <div class="mg-"></div>


                    <h4>오션숯불갈비 &amp; 바베큐장 상세안내</h4>
                    <p class="p1">
                        오션투유 리조트 설악비치 호텔앤리조트에서는 삼포해변을 바라보며 즐기실 수 있는 바베큐장을 운영하고 있습니다.<br>
                        오션투유 리조트에 흩어지는 바다내음, 숯불내음, 그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.<br>
                        해안선을 따라 쏟아지는 별빛이 반짝거리는 바베큐장에서 잊지 못할 즐거운 추억을 만들어 보십시오.
                    </p>

                    <div class="ul-box clr">
                        <h5>운영시간</h5>
                        <ul class="ul0-1">
                            <!--<li class="i-s">[1부] 16:00 ~ 17:50 / [2부] 18:00 ~ 19:50 / [3부] 20:00 ~ 21:50</li>-->
                            <li class="i-s">18시 오픈하며, 22시까지 운영합니다.</li>
                            <li class="i-s">22시까지의 이용인원이 많은경우 종료시간이 연장될수도 있습니다.</li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>오션숯불갈비 판매메뉴</h5>
                        <ul class="ul0-1 li-left clr">
                            <li class="i-s fir-li">
                                고기패키지형
                                <p class="i-d">커플셋트 : 50,000원 → 사전예약가 47,000원<br>(2~3인분, 목살200g+삼겹살200g+훈제오리100g+돼지갈비100g+된장찌개+새우2마리)</p>
                                <!-- 20180426 태그 및 클래스 추가 -->
                                <p class="i-d">패밀리셋트 : 90,000원 → 사전예약가 85,000원<br>(4~6인분, 목살400g+삼겹살400g+훈제오리200g+돼지갈비300g+된장찌개+새우5마리)</p>
                            </li>
                            <li class="i-s mid-li">
                                단품류
                                <p class="i-d">삼겹살 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">목살 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">돼지갈비 : 16,000원 (1인분, 200g)</p>
                                <!--<p class="i-d">막창 : 15,000원 (1인분, 200g)</p>-->
                                <p class="i-d">훈제오리 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">소세지 : 14,000원 (8개)</p>
                            </li>
                            <li class="i-s last-li">
                                식사류
                                <p class="i-d">공기밥 : 1,500원</p>
                                <p class="i-d">조개된장찌개 : 5,000원</p>
                            </li>
                            <li class="i-s fir-li" style="padding-top:25px;">
                                셀프샐러드바
                                <p class="i-d">고기를 인원수에 맞춰 주문하시면 샐러드바는 무료이용</p>
                                <p class="i-d">구성 : 상추, 깻잎, 버섯, 고추, 마늘, 양파, 감자, 쌈무, 된장, 기름장, 김치</p>
                            </li>
                            <li class="i-s mid-li" style="padding-top:25px;">
                                음료 및 주류
                                <!--<p class="i-d">음료 및 주류도 구매 가능합니다.</p>-->
                                <p class="i-d">주류 : 소주, 맥주, 양주, 와인, 사케 등 구매가능</p>
                                <p class="i-d">음료 : 콜라, 사이다, 환타 등 음료 구매가능</p>
                            </li>
                            <li class="i-s last-li" style="padding-top:25px;">
                                바베큐플레이츠
                                <p class="i-d">19,000원 (룸으로 배달 및 포장가능합니다.)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="ul-box clr wd-full">
                        <h5>오션숯불갈비&amp;바베큐장 이용안내</h5>
                        <ul class="ul0-1">
                            <!--
                        <li class="i-s">바베큐장은 1층 라바짜 옆에 위치해 있습니다.</li>
                        <li class="i-s">오션숯불갈비 이용시, 외부 음식은 반입 금지입니다.</li>
                        <li class="i-s">예약된 시간이 아닌 경우, 다른 예약손님을 위해서 시간연장이 불가 할 수 있습니다.</li>
                        <li class="i-s">바베큐장에서 드실 음식은 직접준비해야 하지만, 일부음식은 현장에서도 구매 가능합니다.</li>
                        <li class="i-s">이용시작시간으로 부터 2시간동안 이용이 가능합니다. (이용시간 연장시 테이블당 30분에 5천원 추가요금)</li>
                        <li class="i-s">기상 악화시 또는 실외테이블 모두 예약된 경우, 실내 바베큐장으로 운영됩니다. (실내 바베큐장은 화재예방을 위해 전기그릴이 제공됩니다.)</li>
                        -->

                            <li class="i-s">오션숯불갈비&amp;바베큐장은 1층 라바짜 옆에 위치해 있습니다.</li>
                            <li class="i-s">오션숯불갈비&amp;바베큐장 이용시 외부 음식은 반입금지 입니다.</li>
                            <li class="i-s">오션숯불갈비&amp;바베큐장 이용권을 판매하는 것이며, 예약개념은 아닙니다.(선착순 입장)</li>
                            <li class="i-s">이용인원이 많은 경우, 일부 대기시간이 발생될 수 있습니다.</li>
                            <li class="i-s">이용시간은 입장후 2시간입니다. 시간연장이 필요한 경우 30분에 5천원의 추가요금이 있습니다.(현장결제)</li>
                            <li class="i-s">대기 이용자가 많은 경우, 시간연장이 불가할 수 있습니다.</li>
                            <li class="i-s">기상 악화시 또는 동절기에는 실내 바베큐장에서 운영됩니다. (실내 바베큐장은 화재예방을 위해 전기그릴이 제공됩니다.)</li>
                        </ul>
                    </div>

                    <div class="ul-box clr wd-full">
                        <h5>바베큐장 자리대여 안내</h5>
                        <ul class="ul0-1">
                            <li class="i-s">바베큐장 자리 대여만도 가능합니다.(현장문의)</li>
                            <li class="i-s">바베큐장 자리 대여시에 숯+그릴+가위+집게가 제공됩니다.</li>
                            <li class="i-s">바베큐장 자리 대여시에는, 드실 음식은 직접준비해 오셔야 합니다.</li>
                            <li class="i-s">바베큐장 자리 대여시에는, 샐러드바 이용이 불가합니다.</li>
                            <li class="i-s">샐러드바를 이용하고자 하는 경우, 1인당 3,000원의 추가요금이 있습니다.</li>
                        </ul>
                    </div>
                </section>

            </div>

        </div>

        

        @@include('../include/_footer.html')
    </div>

</body>

</html>