@@include('./_dining_top.html')

<body>

    <h1 class="hidden">오션투유 리조트 다이닝</h1>
    <div id="wrap">
        @@include('./_dining_sub.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_dining" data-part="p_dining03"></div>

        <div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
            <div class="container" id="pkg-box">

                @@include('./_part_menu.html')

                <!-- 180425 속초횟집 추가 -->
                <section class="pkg-3 on">
                 
                    <div class="bxBox pkg-img-list img-margin">
                        <ul class="bxS clr">
                            <li class="nth-1">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fish_01.jpg" alt="속초횟집 패키지1">
                            </li>
                            <li class="nth-2">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fish_02.jpg" alt="속초횟집 패키지2">
                            </li>
                        </ul>
                    </div>

                    <h3>속초 횟집</h3>
                    <p class="p0"><span class="xs-block">신선하고 싱싱한 활어를 공수하여</span> 제공하는 맛있는 회</p>
                    <div class="mg-"></div>


                    <h4>속초 횟집 상세안내</h4>

                    <p class="p1">
                        속초횟집에는 웅장한 동해가 보입니다.<br>
                        동해의 신선함이 보이고, 동해의 바다향이 보이고, 동해의 푸르름이 보입니다.<br>
                        속초횟집은, 청정 동해안에서 직접 잡아 현장에서 즉석으로 준비해드리고 있습니다.<br>
                        횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.
                    </p>

                    <div class="ul-box clr">
                        <h5>속초횟집 운영시간</h5>
                        <ul class="ul0-1">
                            <li class="i-s">금요일, 토요일 운영 (메뉴 사전예약시, 요일과 상관없이 운영합니다.)</li>
                            <li class="i-s">18시~22시</li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>속초횟집 판매메뉴</h5>
                        <ul class="ul0-1 li-left clr">
                            <li class="i-s fir-li">
                                회종류
                                <p class="i-d">모듬회 : 소 30,000원 / 중 50,000 / 대 70,000원</p>
                                <p class="i-d">광어세꼬시 : 소 30,000원 / 중 50,000원</p>
                            </li>
                            <li class="i-s mid-li">
                                매운탕류
                                <p class="i-d">생우럭매운탕 : 소 30,000원 / 중 50,000원</p>
                                <p class="i-d">생우럭지리 : 소 30,000원 / 중 50,000원</p>
                                <p class="i-d">우럭, 광어 잡뼈 매운탕 : 20,000원</p>
                            </li>
                            <li class="i-s fir-li">
                                특선메뉴
                                <p class="i-d">회무침 : 30,000원</p>
                                <p class="i-d">물회 : 10,000원 (2인분 부터 주문가능)</p>
                            </li>
                            <li class="i-s mid-li">
                                식사류
                                <p class="i-d">회덮밥 : 12,000원 (2인분 부터 주문가능)</p>
                                <p class="i-d">공기밥 : 1,500원</p>
                            </li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>속초횟집 이용안내</h5>
                        <ul class="ul0-1">
                            <li class="i-s">속초횟집은 오션투유 리조트 실외바베큐장 앞에 있습니다.</li>
                            <li class="i-s">금, 토일만 운영하나, 사전예약시 상시 운영될 수 있습니다.</li>
                            <li class="i-s">주류 및 음료구매 가능합니다.</li>
                            <li class="i-s">속초횟집 전메뉴는 포장 가능합니다.</li>
                        </ul>
                    </div>

                </section>

            </div>

        </div>

        

        @@include('../include/_footer.html')
    </div>

</body>

</html>