@@include('../include/_head.html', {
	"page": "amenities"
})
	<!-- <script src="http://static.ocean2you.co.kr/js/renew/facil/init.js"></script> -->
	
</head>
<body>

<h1 class="hidden">오션투유 리조트 부대시설</h1>
<div id="wrap">
    @@include('../include/_header.html')
    @@include('../include/_sub/_subpage_top_intro.html')
    
    

    <!--탑메뉴 오버이벤트를 위한 태그-->
    <div class="page-data" data-name="d_amenities"></div>
    
    <!-- 190226 내용 수정 -->
    <div class="facil-wrap" id="setTop">
        <div class="container" id="facil-box">

            @@include('./_part_menu.html')
            <section class="facil-1 on">
                

                <!-- 리스트 -->
                <ul class="facil-list">
                    <li class="item-1 clr">
                        <a href="../package/index.html" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_banq_01.jpg" alt="오션투유 리조트 연회장 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">오션투유 리조트 연회장</p>
                            <p class="p-1">기업행사, 오리엔테이션을 할수 있는 넓고 편안한 연회장</p>
                            <p class="p-2">
                                최대 1,800명까지 수용 가능한 오션투유 연회장에서 <br class="hidden-xs">
                                다양한 행사를 진행 하실 수 있습니다.<br>
                                기업 워크샵, 세미나, 종교단체, 수학여행, 체험학습, 가족여행 등 <br class="hidden-xs">
                                단체숙박과 행사가 필요한 단체예약 고객님께 추천드립니다.
                            </p>
                        </div>
                        <a href="../package/index.html" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 

                    <!--<li class="item-2 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_rib_01.jpg" alt="오션숯불갈비 & 바베큐장 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">오션숯불갈비 & 바베큐장</p>
                            <p class="p-1">소나무 숲 향기와 파도소리를 느끼며 즐기실 수 있는 야외 바베큐장으로 <br class="hidden-xs">오션투유 리조트에서 즐거운 바베큐 파티를 즐겨보세요.</p>
                            <p class="p-2">
                                오션투유 리조트 설악비치 호텔앤리조트에서는 삼포해변을 바라보며 즐기실 수 있는 <br class="hidden-xs">
                                바베큐장을 운영하고 있습니다.<br>
                                오션투유 리조트에 흩어지는 바다내음, 숯불내음, <br class="hidden-xs">
                                그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li>
                    <li class="item-3 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_fish_01.jpg" alt="속초횟집 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">속초횟집</p>
                            <p class="p-1">속초횟집에는 웅장한 동해가 보입니다.<br>동해의 신선함, 동해의 바다향, 동해의 푸르름을 느껴보세요.</p>
                            <p class="p-2">
                                오션투유 리조트 설악비치 호텔앤리조트에서는 소시지, 스크램블, 베이컨, 감자튀김, <br class="hidden-xs">
                                샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                                특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 <br class="hidden-xs">
                                요리 하나하나 최고의 맛을 자랑합니다.
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> --> 

                    <li class="item-2 clr">
                        <a href="http://ocean2you.co.kr/package/?pack_go=8" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_sing_01.jpg" alt="오션투유 리조트 노래방 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">오션투유 리조트 노래방</p>
                            <p class="p-1">좋은 사람들과 신나게 스트레스를 풀어줄 <br class="hidden-xs">오션투유 노래방에서 하루를 마무리 해보세요.</p>
                            <p class="p-2">
                                소중한 사람들과 노래하고 춤추다 보면 "우린 지금 행복하다"는 메아리가 들립니다. <br>
                                최신식 기계로 최상의 사운드를 약속하며, 오션투유내 판매되는 모든 음식을 <br class="hidden-xs hidden-sm">
                                주문하여 이용하실 수 있습니다.
                            </p>
                        </div>
                        <a href="http://ocean2you.co.kr/package/?pack_go=8" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <li class="item-3 clr">
                        <a href="http://ocean2you.co.kr/package/?pack_go=5" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_bike_01.jpg" alt="전동 바이크대여 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">전동바이크 대여</p>
                            <p class="p-1">해안도로를 따라 시원하게 달리면서 해변 뷰와 자연을 <br class="hidden-xs">감상 할 수 있는 전동바이크로 일탈을 즐기세요.</p>
                            <p class="p-2">
                                다양한 코스와 강원도 고성의 아름다운 풍경을 눈과 마음에 담으며 <br class="hidden-xs"> 
                                연인, 친구, 가족과 더욱 즐거운 여행을 즐길 수 있습니다.
                            </p>
                        </div>
                        <a href="http://ocean2you.co.kr/package/?pack_go=5" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <!-- 190321 불꽃놀이, 조개잡이 추가 -->
                    <li class="item-7 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_fireworks_01.jpg" alt="불꽃놀이 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">불꽃놀이 용품 판매</p>
                            <p class="p-1">아름다운 삼포의 밤바다를 아름답게 순호아보세요. <br>시원한 바람을 맞으며 친구, 연인, 가족과 함께 즐거운 시간을 함께 하세요.</p>
                            <p class="p-2">
                                불꽃놀이 용품은 온라인 객실예약시 불꽃놀이 패키지를 구입하시면 <br class="hidden-xs"> 
                                리조트 프론트에서 제품을 제공해드립니다. 밤바다의 불꽃놀이는 필수 아이템!
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <li class="item-8 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_shell_01.jpg" alt="조개잡이 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">조개잡이 도구 판매</p>
                            <p class="p-1">리조트 바로 앞 삼포해변 앞에는 조개들이 지천에 숨어 있습니다. <br>시원한 바닷물에 발을 담그고 모래 안에 숨겨진 조개들을 사냥하세요.</p>
                            <p class="p-2">
                                온라인 객실 예약 시 조개잡이 패키지를 구입하시면 리조트 프런트에서 <br class="hidden-xs"> 
                                도구를 제공해드립니다. 청정 삼포해변에서 행복한 조개잡이 어떠세요?
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <!--//END : 190321 불꽃놀이, 조개잡이 추가 -->
                    
                    <!-- 191007 코인세탁실 추가 / 조개잡이 밑에 위치 -->
                    <li class="item-11 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_laundry_01.jpg" alt="코인세탁실 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">코인세탁실 이용안내</p>
                            <p class="p-1">이제 필요한 빨래, 건조는 리조트 안에서 간편하게 해결하세요.<br>고객님의 편의를 위해 리조트 2층에 세탁, 건조기가 준비되어 있습니다.</p>
                            <p class="p-2">
                                코인세탁시 이용 전 세제와 동전(500원)을 미리 준비해주세요.<br>
                                세탁실에 안내되어 있는 유의사항을 확인 후 이용하시면 됩니다.
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                    <!--//END : 191007 코인세탁실 추가 -->
                    
                    <li class="item-4 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_lvz_01.jpg" alt="라바짜 속초설악비치점 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">라바짜 속초설악비치점</p>
                            <p class="p-1">야외 테라스에서 라바짜 고급원두의 진한 커피향을 느껴보세요.</p>
                            <p class="p-2">
                               1층 야외 테라스에서 진한 커피와 함께 운치있는 여유로움을 만끽하세요.<br>
                               라바짜 속초설악비치점에서는 라바짜 고급원두를 사용합니다.
                            </p>
                            <ul class="p-list">
                                <li><em>위치 : </em><span>오션투유 리조트  입구 정면</span></li>
                                <li><em>운영시간 : </em><span>(평일) 08:00 ~ 20:00 / (금,토) 08:00 ~ 22:00
                                </span></li>
                            </ul>
                            <p class="p-mark">※ 운영시간은 현장 상황에 따라 단축 또는 연장될 수 있습니다.</p>
                        </div>
                    </li> 
                    <li class="item-5 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_mart_01.jpg" alt="GS편의점 입점 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">GS편의점 입점</p>
                            <p class="p-1">오션투유 리조트 1층에 위치한 GS편의점</p>
                            <p class="p-2">
                               여행을 준비하면서 미쳐 준비하지 못한 용품과 다양한 편의제품, <br class="hidden-xs">
                               먹거리 등을  구매하실 수 있습니다.
                            </p>
                            <ul class="p-list">
                                <li><em>위치 : </em><span>오션투유 리조트  1층</span></li>
                                <li><em>운영시간 : </em><span>일~금 : 08:00 ~ 23:00,  토/공휴일 : 08:00 ~ 24:00 </span></li>
                            </ul>
                            <p class="p-mark">※ 운영시간은 현장 상황에 따라 단축 또는 연장될 수 있습니다.</p>
                        </div>
                    </li> 
                    <!-- 190319 낚시도구 대여 추가 -->
                    <li class="item-6 clr">
                        <a href="#none" class="fc-img">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/facil/new_fishing_01.jpg" alt="낚시도구 대여 이미지">
                        </a>
                        <div class="fc-box">
                            <p class="p-0">낚시도구 대여</p>
                            <p class="p-1">
                               오션투유 리조트의 주변은 모두가 낚시포인트입니다. <br>
                               탁트인 해안가에서 모두가 즐거운 바다낚시를 즐겨보세요.
                            </p>
                            <p class="p-2">
                                물론 낚시도구는 따로 준비하실 필요없이 프론트에서 대여가능합니다.<br>
                                동해바다는 낚시~ 전문가들이 제안하는 낚시포인트는 보너스~
                            </p>
                        </div>
                        <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                    </li> 
                </ul>

            </section>
        </div>

    </div>
		
	@@include('../include/_footer.html') 
</div>

</body>
</html>