<h5 class="part-title">연희&부대시설</h5>
<div class="part-menu-area">
    <div class="part-menu-container">
        <nav class="nav-part-menu">
            <ul class="part-menu-ul">
                <li><a href="./amenities01.html" data-part-active="p_amenities01">연회장</a></li>
                <li><a href="./amenities02.html" data-part-active="p_amenities02">노래방</a></li>
                <li><a href="./amenities03.html" data-part-active="p_amenities03">전동바이크</a></li>
                <li><a href="./amenities04.html" data-part-active="p_amenities04">불꽃놀이</a></li>
                <li><a href="./amenities05.html" data-part-active="p_amenities05">조개잡이</a></li>
                <li><a href="./amenities06.html" data-part-active="p_amenities06">코인세탁실</a></li>
                <li><a href="./amenities07.html" data-part-active="p_amenities07">라바짜카페</a></li>
                <li><a href="./amenities08.html" data-part-active="p_amenities08">GS편의점</a></li>
                <li><a href="./amenities09.html" data-part-active="p_amenities09">낚시도구</a></li>
            </ul>
        </nav>
    </div>
</div>
<script>
    // $(document).ready(function(){
    //     let partList = $(".part-menu-container .part-menu-ul>li>a");
    //     let partData = $(".page-data").data("part");
    //     partList.each(function(index, item){
    //         let data = $(item).data("part-active");
    //         if(data == undefined) {return true;}
    //         if(partData == data){
    //             partList.removeClass("active");
    //             $(item).addClass("active");
    //             return false;
    //         }
    //     });
    // });
</script>