@@include('./_amenities_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 연회&부대시설</h1>
        <div id="wrap">
    
            @@include('./_amenities_sub.html')
    
            <div class="page-data" data-name="d_amenities" data-part="p_amenities01"></div>

            <div class="pkg-wrap" id="setTop">
                <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
                <div class="container" id="pkg-box">
                    
                    @@include('./_part_menu.html')
                    <!-- 190226 연회장 추가 -->
                    <section class="pkg-1 on">
                        
                        <div class="bxBox">
                            <ul class="bxS">
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_banq_01.jpg" alt="오션투유노래방1"></li>
                            </ul>
                        </div>

                        <h3>오션투유 리조트 연회장</h3>
                        <p class="p0">최대 1,800명까지 수용 가능한 오션투유 연회장</p>
                        <div class="mg-"></div>
    
                        <h4>오션투유 리조트 연회장</h4>
                        <p class="p1">
                            최대 1,800명까지 수용 가능한 오션투유 연회장에서 다양한 행사를 진행 하실 수 있습니다.<br>
                            다이아몬드홀, 크리리스탈홀이 준비되어 있으며 연회 성격에 맞도록 세팅이 가능합니다.<br>
                            기업 워크샵, 세미나, 종교단체, 수학여행, 체험학습, 가족여행 등 단체숙박과 행사가 필요한 단체예약 고객님께 추천드립니다.
                        </p>
    
                        <div class="ul-box clr wd-full">
                            <h5>연회장 안내</h5>
                            <div class="mBanqTb show-xs show-sm show-md">
                                <table class="hall-1">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>사진</th>
                                            <th>연회장</th>
                                            <th>위치</th>
                                            <th>면적</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/hallRoom_01.jpg" alt="다이아몬드홀"></td>
                                            <td>다이아몬드홀</td>
                                            <td>2층</td>
                                            <td>28m x 16m</td>
                                        </tr>
                                        <tr>
                                            <td><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/hallRoom_02.jpg" alt="크리스탈홀"></td>
                                            <td>크리스탈홀</td>
                                            <td>B1층</td>
                                            <td>24m x 12m</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="hall-2">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="4">수용인원 및 이용안내</th>
                                        </tr>
                                        <tr>
                                            <th>연회장</th>
                                            <th>연회석</th>
                                            <th>세미나</th>
                                            <th>극장식</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="textCenter">
                                            <th>다이아몬드홀</th>
                                            <td><img class="numType_01" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_01.jpg" alt="연회석"> <span>700명</span></td>
                                            <td><img class="numType_02" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_02.jpg" alt="세미나"> <span>1,000명</span></td>
                                            <td><img class="numType_03" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_03.jpg" alt="극장식"> <span>1,500명</span></td>
                                        </tr>
                                        <tr class="textCenter">
                                            <th>크리스탈홀</th>
                                            <td><img class="numType_01" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_01.jpg" alt="연회석"> <span>500명</span></td>
                                            <td><img class="numType_02" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_02.jpg" alt="세미나"> <span>700명</span></td>
                                            <td><img class="numType_03" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_03.jpg" alt="극장식"> <span>1,000명</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="banqTb show-lg">
                                <table class="hall-1">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th rowspan="2">사진</th>
                                            <th rowspan="2">연회장</th>
                                            <th rowspan="2">위치</th>
                                            <th rowspan="2">면적</th>
                                            <th colspan="3">수용인원 및 이용안내</th>
                                        </tr>
                                        <tr>
                                            <th>연회식</th>
                                            <th>스쿨식</th>
                                            <th>극장식</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="textCenter">
                                            <td><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/hallRoom_01.jpg" alt="다이아몬드홀"></td>
                                            <td>다이아몬드홀</td>
                                            <td>2층</td>
                                            <td>28m x 16m</td>
                                            <td class="textCenter"><img class="numType_01" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_01.jpg" alt="연회석"> <span>220명</span></td>
                                            <td class="textCenter"><img class="numType_02" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_02.jpg" alt="세미나"> <span>250명</span></td>
                                            <td class="textCenter"><img class="numType_03" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_03.jpg" alt="극장식"> <span>300명</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/hallRoom_02.jpg" alt="크리스탈홀"></td>
                                            <td>크리스탈홀</td>
                                            <td>B1층</td>
                                            <td>24m x 12m</td>
                                            <td class="textCenter"><img class="numType_01" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_01.jpg" alt="연회석"> <span>200명</span></td>
                                            <td class="textCenter"><img class="numType_02" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_02.jpg" alt="세미나"> <span>230명</span></td>
                                            <td class="textCenter"><img class="numType_03" src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/group/numType_03.jpg" alt="극장식"> <span>280명</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
    
                        <div class="ul-box wid50 clr">
                            <h5>연회장 시설 시설 및 설비 안내</h5>
                            <ul class="ul0-1">
                                <li class="i-s">무선 인터넷, 빔 프로젝트, 스크린(110인치), 이동식엠프, 유무선 마이크, <br>영상시설, 화이트 보드, VTR 음향장비, 노래방기기</li>
                            </ul>
                        </div>
    
                        <div class="ul-box wid50 clr">
                            <h5>단체 예약문의</h5>
                            <ul class="ul0-1">
                                <li class="i-s">문의처: 010-9094-0396 (주중/주말 24시간 상담가능)</li>
                                <li class="i-s">이메일문의: help@ocean2you.co.kr</li>
                            </ul>
                            <!-- 클릭하면 단체문의 폼페이지로 -->
                            <!-- <a href="#none" class="rv-a2"><span class="s0">단체견적 문의하기</span><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/i_gt.png" alt="" class="gt"></a> -->
                        </div>
    
                    </section>
                </div>
    
            </div>

    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>