@@include('./_amenities_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 연회&부대시설</h1>
        <div id="wrap">
    
            @@include('./_amenities_sub.html')
    
            <div class="page-data" data-name="d_amenities" data-part="p_amenities02"></div>

            <div class="pkg-wrap" id="setTop">
                <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
                <div class="container" id="pkg-box">
                    @@include('./_part_menu.html')
                    <!-- 180723 오션투유 노래방 추가 -->
                    <section class="pkg-2 on">
                     
                        <div class="bxBox" id="bxBox-4">
                            <ul class="bxS">
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_karaoke_01.jpg" alt="오션투유노래방1"></li>
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_karaoke_02.jpg" alt="오션투유노래방2"></li>
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_karaoke_03.jpg" alt="오션투유노래방3"></li>
                            </ul>
                        </div>

                        <h3>속초 오션투유노래방 고성점</h3>
                        <p class="p0">쿵짝♪ 쿵짝♪ 신나는 노래, 흥겨운 댄스</p>
                        <div class="mg-"></div>
    
                        <h4>속초 오션투유노래방 고성점 상세안내</h4>
                        <p class="p1">
                            속초 오션투유노래방 고성점에는 메아리가 들립니다. <br>
                            소중한 사람들과 노래하고 춤추다 보면 "우린 지금 행복하다"는 메아리가 들립니다. <br>
                            최신식 기계로 최상의 사운드를 약속하며, 오션투유내 판매되는 모든 음식을 주문하여 이용하실 수 있습니다.
                        </p>
    
                        <div class="ul-box clr wd-full">
                            <h5>운영시간 및 위치안내</h5>
                            <ul class="ul0-1">
                                <li><em>연중무휴 운영</em><span class="line"></span>운영시간은 18시 ~ 24시 입니다.</li>
                                <li class="i-s">이용고객이 많은 경우, 마감시간이 연장될 수 있습니다.</li>
                                <li>
                                    <span class="sub-tit">위치안내</span>
                                    오션투유 리조트 지하 1층 위치
                                </li>
                            </ul>
                        </div>
    
                        <div class="ul-box clr wd-full">
                            <h5>요금 및 이용안내</h5>
                            <ul class="ul0-1 li-left-2">
                                <li>
                                    <em>단품</em><br>
                                    <p class="i-d">패밀리 룸(4인~5인)<span class="line"></span>1시간 25,000원</p>
                                    <p class="i-d">그룹 룸 (6~7인)<span class="line"></span>1시간 35,000원</p>
                                    <p class="i-d">대행 룸(8인~12인)<span class="line"></span>1시간 45,000원</p>
                                    <p class="i-d">홀 대여(20인 이상)<span class="line"></span>1시간 100,000원</p>
                                </li>
                                <li>
                                    <em>패키지</em><br>
                                    <p class="i-d">패밀리 룸 셋트<span class="line"></span>1시간 69,000<br>(노래방 1시간+주류5병(소주or맥주)+바베큐플레이츠)</p>
                                    <p class="i-d">그룹 룸 셋트<span class="line"></span>1시간 79,000원<br>(노래방 1시간+주류5병(소주or맥주)+바베큐플레이츠)</p>
                                </li>
    
                                <li class="clr-li">
                                    <p class="i-s">현장에서 시간 연장이 가능합니다.</p>
                                    <p class="i-s">주료(소주, 맥주, 양주, 와인, 사케, 보드카 등 다양한 주류 구매가 가능합니다.</p>
                                    <p class="i-s">마른안주(마른안주,오징어,먹태 등) 및 바베큐플레이츠 및 각종 자연산 회도 주문 가능합니다.</p>
                                </li>
    
    
                            </ul>
                        </div>
    
                        <!-- <a href="javascript:;" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/i_gt.png" alt="" class="gt"></a> -->
                    </section>
    
                   
                </div>
    
            </div>
    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>