@@include('./_amenities_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 연회&부대시설</h1>
        <div id="wrap">
    
            @@include('./_amenities_sub.html')
    
            <div class="page-data" data-name="d_amenities" data-part="p_amenities08"></div>

            <div class="pkg-wrap" id="setTop">
                <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
                <div class="container" id="pkg-box">
                    @@include('./_part_menu.html')
                    <!-- 180723 오션투유 노래방 추가 -->
                    <section class="pkg-2 on">
                     
                 

                        <h3>GS편의점 입점</h3>
                        <p class="p0">오션투유 리조트 1층에 위치한 GS편의점</p>
                        <div class="mg-"></div>
    
                        <h4>GS편의점 상세안내</h4>
                        <p class="p1">
                            여행을 준비하면서 미쳐 준비하지 못한 용품과 다양한 편의제품,
먹거리 등을 구매하실 수 있습니다.
                        </p>
    
                        <div class="ul-box clr wd-full">
                            <h5>운영시간 및 위치안내</h5>
                            <ul class="ul0-1">
                                
                                <li><span class="sub-tit">운영안내</span>
                                    일~금 : 08:00 ~ 23:00, 토/공휴일 : 08:00 ~ 24:00</li>
                                <li class="i-s">운영시간은 현장 상황에 따라 단축 또는 연장될 수 있습니다.</li>
                                <li>
                                    <span class="sub-tit">위치안내</span>
                                    오션투유 리조트 지하 1층 위치
                                </li>
                            </ul>
                        </div>
                    </section>
    
                   
                </div>
    
            </div>
    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>