@@include('./_amenities_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 연회&부대시설</h1>
        <div id="wrap">
    
            @@include('./_amenities_sub.html')
    
            <div class="page-data" data-name="d_amenities" data-part="p_amenities09"></div>

            <div class="pkg-wrap" id="setTop">
                <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
                <div class="container" id="pkg-box">
                    @@include('./_part_menu.html')
                    <!-- 190319 낚시도구 대여 추가 -->
                    <section class="pkg-6 on">
                   
                        <div class="bxBox" id="bxBox-1">
                            <ul class="bxS">
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fishing_01.jpg" alt="낚시도구 대여 패키지"></li>
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fishing_02.jpg" alt="낚시도구 대여 패키지"></li>
                                <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fishing_03.jpg" alt="낚시도구 대여 패키지"></li>
                            </ul>
                        </div>

                        <h3>낚시도구 대여</h3>
                        <p class="p0">낚시 고수들이 제안하는 포인트~ 낚시 도구 대여 이용 안내</p>
                        <div class="mg-"></div>
    
                        <h4>낚시도구 대여 상세안내</h4>
                        <p class="p1">
                            오션투유 리조트의 주변은 모두가 최고의 낚시포인트 입니다. 탁트인 해안가에서 모두가 즐거운 낚시를 즐겨보세요.<br>
                            물론 낚시도구는 따로 준비하실 필요가 없습니다. 온라인 객실예약시 낚시 패키지를 구입하시면 리조트 프론트에서 대여가 가능합니다.<br>
                            동해는 역시 낚시~ 모두가 즐거운 바다 낚시를 최고의 포인트에서 즐겨보세요.
                        </p>
    
                        <div class="ul-box wid50 type-2 clr">
                            <h5>운영시간 및 대여장소</h5>
                            <ul class="ul0-1">
                                <li>대여시간 : 프론트 안내데스크 직원과 협의</li>
                                <li>대여장소 : 오션투유 리조트 프론트</li>
                            </ul>
                        </div>
    
                        <div class="ul-box wid50 type-2 clr">
                            <h5>운영시간 및 대여장소</h5>
                            <ul class="ul0-1 clr">
                                <li class="i-d clr">
                                    <span>1일 1개</span> <span>현장정상가 20,000원 / 사전예약가 19,000원</span>
                                </li>
                                <li class="i-d clr">
                                    <span>구성품목</span> <span>낚시대 1대, 삼각대 1대, 두레박 1개, 묶음추 2개, 목장갑 1개, 갯지렁이 1박스를 지급</span>
                                </li>
                                <li class="i-s mt">현장에서 낚시용품 추가 구매 가능</li>
                                <li class="i-s">원하는 시간대에 프론트에 말씀하신 후 낚시 도구를 수령</li>
                                <li class="i-s">분실 및 파손시 배상이 요구될 수도 있습니다.</li>
                            </ul>
                        </div>
    
                        <div class="ul-box wd-full type-2 clr">
                            <h5>리조트 주변 낚시 포인트 안내 <a href="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_fishing_map.pdf" class="btn-dl" target="_blank">낚시 포인트 다운로드</a></h5>
                            <p class="">리조트와의 거리, 상세 위치를 확인 하신 후 선택해 주세요.</p>
    
                            <ul class="pkg-map-list clr">
                                <li class="map-all">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_all.jpg" alt="전체 낚시포인트"></figure>
                                </li>
                                <li class="map-l ml-1">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_bakdohang.jpg" alt="백도항 낚시포인트"></figure>
                                </li>
                                <li class="map-l ml-2">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_munamri.jpg" alt="문암2리 낚시포인트"></figure>
                                </li>
                                <li class="map-l ml-3">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_konghyungjin.jpg" alt="공형진 낚시포인트"></figure>
                                </li>
                                <li class="map-l ml-4">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_gajin.jpg" alt="가진항 낚시포인트"></figure>
                                </li>
                                <li class="li-1">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_ayajin.jpg" alt="아야진리 낚시포인트"></figure>
                                </li>
                                <li class="li-2">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_chonjinri.jpg" alt="천진리 낚시포인트"></figure>
                                </li>
                                <li class="li-3">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_bongpo.jpg" alt="봉포항 낚시포인트"></figure>
                                </li>
                                <li class="li-4">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_gerjin.jpg" alt="거진항 낚시포인트"></figure>
                                </li>
                                <li class="li-5">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_chodori.jpg" alt="초도리 낚시포인트"></figure>
                                </li>
                                <li class="li-6">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/fishingmap_daejin.jpg" alt="대진항 낚시포인트"></figure>
                                </li>
                            </ul>
                        </div>
    
                        <a href="http://ocean2you.co.kr/view/" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/i_gt.png" alt="" class="gt"></a>
                    </section>
                    <!--//END : 190319 낚시도구 대여 추가 -->
                </div>
    
            </div>

    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>