@@include('./_amenities_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 연회&부대시설</h1>
        <div id="wrap">
    
            @@include('./_amenities_sub.html')
    
            <div class="page-data" data-name="d_amenities" data-part="p_amenities06"></div>

            <div class="pkg-wrap" id="setTop">
                <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
                <div class="container" id="pkg-box">
                    @@include('./_part_menu.html')
                   <!-- 191007 코인세탁실 추가 -->
                   <section class="pkg-11 on">
      
                    <div class="bxBox">
                        <ul class="bxS">
                            <li><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/package/pkg_laundry_01.jpg" alt="코인세탁실 안내"></li>
                        </ul>
                    </div>

                    <h3>코인세탁실 안내</h3>
                    <p class="p0">필요한 빨래, 건조는 리조트 안에서 해결! 코인세탁실 이용 안내</p>
                    <div class="mg-"></div>

                    <h4>코인세탁실 이용안내</h4>
                    <p class="p1">
                        고객님의 편의를 위해 오션투유 리조트 2층에는 코인세탁실을 운영중입니다.<br>
                        리조트 이용 시 간단한 세탁물의 세탁과 건조를 이용하실 수 있사오니 많은 이용바랍니다.<br>
                        세탁실에 1회용 세제판매기와 동전 교환기가 구비되어 있으니 참고해 주십시오.
                    </p>

                    <div class="ul-box wd-il type-2 clr">
                        <h5>위치 및 기타 안내</h5>
                        <ul class="ul0-1">
                            <li><span>위치</span> <span>오션투유 리조트 2층<br>(프론트 좌측 엘리베이터를 이용)</span></li>
                            <li><span>운영시간</span> <span>24시간 운영</span></li>
                            <li><span>기기 수량</span> <span>세탁기, 건조기 각 3개</span></li>
                            <li>동전 교환기, 세제 자동판매기 완비</li>
                        </ul>
                    </div>

                    <div class="ul-box wd-il type-2 multi-h5 clr">
                        <h5>세탁기 사용방법</h5>
                        <ul class="ul0-1">
                            <li class="i-n">1. 세탁기 문을 열고 세제와 세탁물을 고루 펴 넣고 문을 닫으세요.</li>
                            <li class="i-n">2. 코인기에 500원 동전 4개를 투입하세요.</li>
                            <li class="i-n">3. 코인기의 시간이 60분으로 설정되는 것을 확인해주세요.</li>
                            <li class="i-n">4. 세탁기의 전원버튼을 누르고 시작 버튼을 눌러주세요.</li>
                            <li class="i-d mt">세탁량에 따라 세탁기의 시간은 자동으로 설정됩니다.</li>
                            <li class="i-d">세탁기의 설정된 시간을 잘 확인하신 후 코인기의 시간과 맞춰 세탁을 진행해주세요.</li>
                            <li class="i-d">코인기의 시간과 세탁기의 시간은 동일하지 않으니 이점 유념하여 세탁을 진행해주세요.</li>
                            <li class="i-d">코인기의 시간이 종료되면 세탁기의 전원 공급이 차단되어 세탁기가 작동되지 않을 수 있습니다. </li>
                            <li class="i-d">반드시 코인기의 시간과 세탁기의 남은 시간을 확인 후 추가 코인을 투입해 주세요.</li>
                            <li class="i-d">코인기의 시간이 0분이 되기 전까지 추가 투입하셔야 합니다. </li>
                            <li class="i-d">코인기 전원 차단 후 재가동 시에는 2,000원 (500원 동전 4개)를 투입 후 작동되니 이점 유의하십시오.</li>
                            <li class="i-d">추가 코인은 500원 당 15분이 추가됩니다.</li>
                        </ul>
                        <h5>건조기 사용방법</h5>
                        <ul class="ul0-1">
                            <li class="i-n">1. 건조기의 문을 열고 반드시 탈수된 세탁물을 고루 펴서 넣어주세요.</li>
                            <li class="i-n">2. 코인기에 500원 동전 4개를 투입하세요.</li>
                            <li class="i-n">3. 코인기의 시간이 60분으로 설정되는 것을 확인해주세요.</li>
                            <li class="i-n">4. 섬유 종류에 따라 건조 형태를 선택 후 레버를 원하시는 섬유 위치로 돌려주세요.</li>
                            <li class="i-n">5. 원하시는 섬유 위치로 돌리시면 건조 시간이 자동 설정됩니다.</li>
                            <li class="i-n">6. 섬유종류에 따라 레버를 돌려 건조기 가동시간을 확인하셔야 합니다.<br>만약 기본세팅 60분을 초과할 경우 추가코인 500원을 추가 투입하여 비슷한 시간을 맞춰주세요.</li>
                            <li class="i-n">7. 추가 코인은 500원 당 15분이 추가됩니다.</li>
                        </ul>
                        <h5>이용시 유의사항</h5>
                        <ul class="ul0-1">
                            <li class="i-d">세탁 및 건조 중인 세탁물의 훼손 및 분실은 책임지지 않사오니 이용 시 참고하여 주십시오.</li>
                            <li class="i-d">세탁물 투입 시 세탁물에 있는 모래 등의 오염물은 반드시 제거 후 세탁해 주십시오.</li>
                            <li class="i-d">세탁실은 공용시설이므로 다음 사용자를 위해 항상 청결을 유지하여 주십시오.</li>
                            <li class="i-d">세탁실 이용시 기기를 훼손 및 파손시키는 경우 배상 요청을 드릴 수 있으니 유의하여 주십시오.</li>
                        </ul>
                    </div>
                </section>
                <!--//END : 191007 코인세탁실 추가 -->
                
                </div>
    
            </div>

    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>