@@include('../include/_head.html', {
	"page": "history"
})
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.hotelgangneung.kr/css/layout2.css">
	
</head>
<body>

<h1 class="hidden">오션투유 리조트</h1>
<div id="wrap">
   
    <div class="vid-wrap">
        
	    @@include('../include/_header.html')
       
        
        <section class="title">
            <div class="container tit-box">
                <h2>예약내역조회</h2>
                <div class="mg-"></div>
                <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/history/history_title.png" alt="예약내역조회"></div>
                <p class="p0">예약하신 내역을 확인하실수 있습니다.</p>
            </div>	
        </section>
    </div>
		
    
    <section class="history" id="setTop">

        <div class="clr"></div>
        <!--별도 고코 PC/모바일 예약하기 위치-->
        <div id="wrapper">
            <div id="membership">


            </div>

        </div>

        <div class="clr"></div>

    </section>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>