@@include('../include/_head.html', {
	"page": "history"
})
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">
    <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/history/init_m.css">
	
    <script src="http://static.ocean2you.co.kr/js/renew/history/init_m.js"></script>
</head>
<body>

<h1 class="hidden">오션투유 리조트</h1>
<div id="wrap">
   
    <div class="vid-wrap">
        
	    @@include('../include/_header.html')
       
        
        <section class="title">
            <div class="container tit-box">
                <h2>예약내역조회</h2>
                <div class="mg-"></div>
                <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/history/history_title.png" alt="예약내역조회"></div>
                <p class="p0">예약하신 내역을 확인하실수 있습니다.</p>
            </div>	
        </section>
    </div>
		
    <section class="history" id="setTop">
        <div class="container">
            <ul class="his-tab clr" id="his-tab">
                <li class="on"><a href="javascript:;" class="btn-a">전체</a></li>
                <li><a href="javascript:;" class="btn-a">예약 진행중</a></li>
                <li><a href="javascript:;" class="btn-a">예약불가 및 취소</a></li>
            </ul>
        </div>

        <div class="clr"></div>
        <!--별도 고코 PC/모바일 예약하기 위치-->
        <div id="wrapper">
            <div id="scroll_box">			
                <!-- <div class="history01-list" id="order_layout" style="min-height:150px"><ul>
                                <li class="item-2" style="background:url('http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/') no-repeat center;background-size:cover">
                <div class="black-a60 a-bg"></div>

                    <p class="p-state">
                        <span class="s1"><span class="black-a46 a-bg"></span><span class="s1-1">입장권</span></span>

                        <span class="s0"><span class="orange-a70 a-bg"></span><span class="s0-1">예약<br>완료</span></span>
                    </p>
                <p class="p1">
                    <strong>서울대공원(스카이리프트)</strong><br>서울대공원(스카이리프트)
                </p>
                <p class="p2">2017.08.29 (화)</p>
                <a href="/home/member/?dd=RgwkRix5KEolCQ==&amp;rnum=GExyG20eag==" class="h-link-a"></a>
                                </li>
                                <li class="item-2" style="background:url('http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/') no-repeat center;background-size:cover">
                <div class="black-a60 a-bg"></div>

                    <p class="p-state">
                        <span class="s1"><span class="black-a46 a-bg"></span><span class="s1-1">입장권</span></span>

                        <span class="s0"><span class="orange-a70 a-bg"></span><span class="s0-1">예약<br>완료</span></span>
                    </p>
                <p class="p1">
                    <strong>서울대공원(스카이리프트)</strong><br>서울대공원(스카이리프트)
                </p>
                <p class="p2">2017.08.29 (화)</p>
                <a href="/home/member/?dd=RgwkRix5KEolCQ==&amp;rnum=GExyG2sSbQ==" class="h-link-a"></a>
                                </li>
                                <li class="item-2" style="background:url('http://cache.go.co.kr/media/220/file.go.co.kr/tour/img3/') no-repeat center;background-size:cover">
                <div class="black-a60 a-bg"></div>

                    <p class="p-state">
                        <span class="s1"><span class="black-a46 a-bg"></span><span class="s1-1">입장권</span></span>

                        <span class="s0"><span class="orange-a70 a-bg"></span><span class="s0-1">예약<br>완료</span></span>
                    </p>
                <p class="p1">
                    <strong>서울대공원(스카이리프트)</strong><br>서울대공원(스카이리프트)
                </p>
                <p class="p2">2017.08.29 (화)</p>
                <a href="/home/member/?dd=RgwkRix5KEolCQ==&amp;rnum=GExyG2sSZw==" class="h-link-a"></a>
                                </li></ul><div class="pagenation" id="pagenation"><a class="prev" href="javascript:alert('첫 페이지입니다.');">&lt;</a> <a class="on" href="#">1</a> <a class="next" href="javascript:alert('마지막 페이지입니다.');">&gt;</a> </div></div>	

                                </div> -->
        </div>

        <div class="clr"></div>

    </section>
    
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>