@@include('../include/_head.html', {
"page": "package"
})

</head>

<body>

    <h1 class="hidden">오션투유 리조트 다이닝</h1>
    <div id="wrap">

        <div class="vid-wrap">

            @@include('../include/_header.html')


            <section class="title">
                <!-- 190226 서브 메뉴 변경 -->
                <div class="container tit-box">
                    <h2>다이닝</h2>
                    <div class="mg-"></div>
                    <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/facil/facil_title.png" alt="시설소개"></div>
                    <ul class="pkg-tab tab-wid clr" id="pkg-tab">
                        <li class="nth-1"><a href="javascript:;">조식뷔페 다연</a></li>
                        <li class="nth-2"><a href="javascript:;" class="line-two">오션숯불갈비&amp;<span></span>바베큐장</a></li>
                        <li class="nth-3"><a href="javascript:;">속초횟집</a></li>
                        <li class="nth-4"><a href="javascript:;" class="line-two">반데라바베큐<span></span>플레이츠</a></li>
                        <li class="nth-5"><a href="javascript:;">룸서비스</a></li>
                    </ul>

                </div>
            </section>
        </div>

        <div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
            <div class="container" id="pkg-box">

                <!-- 180501 한식당 다연 내용 전체 수정 -->
                <section class="pkg-1">
                    <h3>조식 패키지</h3>
                    <p class="p0"><span class="xs-block">다채로운 전채요리부터 달콤한 디저트 코너까지 </span>한자리에서 만끽할 수 있는 조식 뷔페 패키지 안내</p>
                    <div class="mg-"></div>

                    <div class="bxBox none-slider">
                        <ul class="bxS">
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_01.jpg" alt="조식 패키지"></li>
                        </ul>
                    </div>

                    <h4>한식당 다연 조식 패키지 상세안내</h4>

                    <p class="p1">
                        오션투유 리조트 설악비치 호텔앤리조트에서는 소시지, 스크램블, 베이컨, 감자튀김, 샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                        특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 요리 하나하나 최고의 맛을 자랑합니다.<br>
                        오션투유 리조트 한식당 다연에서 맛의 향연을 만끽해보세요.
                    </p>

                    <div class="ul-box wid50 clr">
                        <h5>운영시간/위치안내</h5>
                        <ul class="ul0-1">
                            <!-- <li class="i-d">다연 운영시간 : 07:30 ~ 20:00</li> -->
                            <li class="i-d">조식 운영시간 : 07:30 ~ 10:00 (입장마감 09:30)</li>
                            <li class="i-s mt">한식당 다연은 1층 프론트 오른편에 위치해 있습니다.</li>
                            <!-- <li class="i-s">뷔페 조식 및 단품조식도, 한식당 다연에서 운영됩니다.</li> -->
                        </ul>
                    </div>

                    <div class="ul-box wid50 clr">
                        <h5>조식메뉴 안내</h5>
                        <ul class="ul0-1">
                            <li class="i-d">성수기는 아메리칸뷔페로 운영 (항시운영)</li>
                            <li class="i-d">비수기는 토요일 오전, 일요일 오전은 아메리칸뷔페로 운영, 평일은 단품메뉴로 운영</li>
                            <li class="i-s mt">비수기 연휴 및 공휴일의 경우, 해당일은 아메리칸 뷔페로 운영됩니다. (사전에 안내해 드립니다.)</li>
                            <li class="i-s">뷔페 운영일에, 뷔페대신 해당일에 준비된 국과 반찬으로 일반식사가 가능합니다. (동일요금)</li>
                        </ul>
                    </div>

                    <div class="ul-box wid-50 clr">
                        <h5>메뉴 및 가격안내</h5>
                        <ul class="ul0-1">
                            <!-- <li class="i-d">
					            아메리칸 조식뷔페
					            <ul class="ul0-1">
					                <li>① 성인 : 12,000원(현장결제) / 9,900원(온라인결제)</li>
					                <li>② 소인 :  9,000원(현장결제) / 7,000원(온라인결제)</li>
					            </ul>
					            <p class="i-s">소인기준 (36개월이상~13세미만)</p>
					        </li> -->
                            <li class="i-d">
                                아메리칸 조식뷔페
                                <ul class="ul0-1">
                                    <li>① 대인 : 12,900원</li>
                                    <li>② 소인 : 8,900원</li>
                                </ul>
                                <p class="i-s">소인기준 (36개월이상~7세미만)</p>
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="ul-box wid50 clr">
					    <h5>일반메뉴 가격안내 (조식가격 동일)</h5>
                        <ul class="ul0-1">
                            <li>① 광어미역국   :  9,000원</li>
                            <li>② 우거지갈비탕 :  9,000원</li>
                            <li>③ 황태해장국   :  9,000원</li>
                        </ul>
					</div> -->
                    <div class="ul-box wid50 clr">
                        <h5>주중 조식 (단품 메뉴)</h5>
                        <ul class="ul0-1">
                            <li>- 주중 월~금요일 (연휴, 공휴일 아침 제외)</li>
                            <li>① 소고기국밥 : 9,000원</li>
                            <li>② 광어미역국 : 9,000원</li>
                            <li>③ 황태해장국 : 9,000원</li>
                        </ul>
                    </div>

                </section>

                <!-- 180425 오션숯불갈비 추가 -->
                <section class="pkg-2">
                    <h3>오션숯불갈비 &amp; 바베큐장</h3>
                    <p class="p0"><span class="xs-block">지글지글 담백하고 맛있게</span> 숯불향을 입힌 숯불갈비와 즐거운 바베큐장</p>
                    <div class="mg-"></div>

                    <div class="bxBox" id="bxBox-2">
                        <ul class="bxS clr">
                            <li class="nth-1">
                                <img src="http://img.ocean2you.co.kr/renew/package/pkg_ribF_01.jpg" alt="오션숯불갈비 & 바베큐 패키지1">
                            </li>
                            <li class="nth-2">
                                <img src="http://img.ocean2you.co.kr/renew/package/pkg_ribF_02.jpg" alt="오션숯불갈비 & 바베큐 패키지2">
                            </li>
                            <li class="nth-3">
                                <img src="http://img.ocean2you.co.kr/renew/package/pkg_ribF_03.jpg" alt="오션숯불갈비 & 바베큐 패키지3">
                            </li>
                        </ul>
                    </div>

                    <h4>오션숯불갈비 &amp; 바베큐장 상세안내</h4>
                    <p class="p1">
                        오션투유 리조트 설악비치 호텔앤리조트에서는 삼포해변을 바라보며 즐기실 수 있는 바베큐장을 운영하고 있습니다.<br>
                        오션투유 리조트에 흩어지는 바다내음, 숯불내음, 그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.<br>
                        해안선을 따라 쏟아지는 별빛이 반짝거리는 바베큐장에서 잊지 못할 즐거운 추억을 만들어 보십시오.
                    </p>

                    <div class="ul-box clr">
                        <h5>운영시간</h5>
                        <ul class="ul0-1">
                            <!--<li class="i-s">[1부] 16:00 ~ 17:50 / [2부] 18:00 ~ 19:50 / [3부] 20:00 ~ 21:50</li>-->
                            <li class="i-s">18시 오픈하며, 22시까지 운영합니다.</li>
                            <li class="i-s">22시까지의 이용인원이 많은경우 종료시간이 연장될수도 있습니다.</li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>오션숯불갈비 판매메뉴</h5>
                        <ul class="ul0-1 li-left clr">
                            <li class="i-s fir-li">
                                고기패키지형
                                <p class="i-d">커플셋트 : 50,000원 → 사전예약가 47,000원<br>(2~3인분, 목살200g+삼겹살200g+훈제오리100g+돼지갈비100g+된장찌개+새우2마리)</p>
                                <!-- 20180426 태그 및 클래스 추가 -->
                                <p class="i-d">패밀리셋트 : 90,000원 → 사전예약가 85,000원<br>(4~6인분, 목살400g+삼겹살400g+훈제오리200g+돼지갈비300g+된장찌개+새우5마리)</p>
                            </li>
                            <li class="i-s mid-li">
                                단품류
                                <p class="i-d">삼겹살 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">목살 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">돼지갈비 : 16,000원 (1인분, 200g)</p>
                                <!--<p class="i-d">막창 : 15,000원 (1인분, 200g)</p>-->
                                <p class="i-d">훈제오리 : 15,000원 (1인분, 200g)</p>
                                <p class="i-d">소세지 : 14,000원 (8개)</p>
                            </li>
                            <li class="i-s last-li">
                                식사류
                                <p class="i-d">공기밥 : 1,500원</p>
                                <p class="i-d">조개된장찌개 : 5,000원</p>
                            </li>
                            <li class="i-s fir-li" style="padding-top:25px;">
                                셀프샐러드바
                                <p class="i-d">고기를 인원수에 맞춰 주문하시면 샐러드바는 무료이용</p>
                                <p class="i-d">구성 : 상추, 깻잎, 버섯, 고추, 마늘, 양파, 감자, 쌈무, 된장, 기름장, 김치</p>
                            </li>
                            <li class="i-s mid-li" style="padding-top:25px;">
                                음료 및 주류
                                <!--<p class="i-d">음료 및 주류도 구매 가능합니다.</p>-->
                                <p class="i-d">주류 : 소주, 맥주, 양주, 와인, 사케 등 구매가능</p>
                                <p class="i-d">음료 : 콜라, 사이다, 환타 등 음료 구매가능</p>
                            </li>
                            <li class="i-s last-li" style="padding-top:25px;">
                                바베큐플레이츠
                                <p class="i-d">19,000원 (룸으로 배달 및 포장가능합니다.)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="ul-box clr wd-full">
                        <h5>오션숯불갈비&amp;바베큐장 이용안내</h5>
                        <ul class="ul0-1">
                            <!--
                        <li class="i-s">바베큐장은 1층 라바짜 옆에 위치해 있습니다.</li>
                        <li class="i-s">오션숯불갈비 이용시, 외부 음식은 반입 금지입니다.</li>
                        <li class="i-s">예약된 시간이 아닌 경우, 다른 예약손님을 위해서 시간연장이 불가 할 수 있습니다.</li>
                        <li class="i-s">바베큐장에서 드실 음식은 직접준비해야 하지만, 일부음식은 현장에서도 구매 가능합니다.</li>
                        <li class="i-s">이용시작시간으로 부터 2시간동안 이용이 가능합니다. (이용시간 연장시 테이블당 30분에 5천원 추가요금)</li>
                        <li class="i-s">기상 악화시 또는 실외테이블 모두 예약된 경우, 실내 바베큐장으로 운영됩니다. (실내 바베큐장은 화재예방을 위해 전기그릴이 제공됩니다.)</li>
                        -->

                            <li class="i-s">오션숯불갈비&amp;바베큐장은 1층 라바짜 옆에 위치해 있습니다.</li>
                            <li class="i-s">오션숯불갈비&amp;바베큐장 이용시 외부 음식은 반입금지 입니다.</li>
                            <li class="i-s">오션숯불갈비&amp;바베큐장 이용권을 판매하는 것이며, 예약개념은 아닙니다.(선착순 입장)</li>
                            <li class="i-s">이용인원이 많은 경우, 일부 대기시간이 발생될 수 있습니다.</li>
                            <li class="i-s">이용시간은 입장후 2시간입니다. 시간연장이 필요한 경우 30분에 5천원의 추가요금이 있습니다.(현장결제)</li>
                            <li class="i-s">대기 이용자가 많은 경우, 시간연장이 불가할 수 있습니다.</li>
                            <li class="i-s">기상 악화시 또는 동절기에는 실내 바베큐장에서 운영됩니다. (실내 바베큐장은 화재예방을 위해 전기그릴이 제공됩니다.)</li>
                        </ul>
                    </div>

                    <div class="ul-box clr wd-full">
                        <h5>바베큐장 자리대여 안내</h5>
                        <ul class="ul0-1">
                            <li class="i-s">바베큐장 자리 대여만도 가능합니다.(현장문의)</li>
                            <li class="i-s">바베큐장 자리 대여시에 숯+그릴+가위+집게가 제공됩니다.</li>
                            <li class="i-s">바베큐장 자리 대여시에는, 드실 음식은 직접준비해 오셔야 합니다.</li>
                            <li class="i-s">바베큐장 자리 대여시에는, 샐러드바 이용이 불가합니다.</li>
                            <li class="i-s">샐러드바를 이용하고자 하는 경우, 1인당 3,000원의 추가요금이 있습니다.</li>
                        </ul>
                    </div>
                </section>

                <!-- 180425 속초횟집 추가 -->
                <section class="pkg-3">
                    <h3>속초 횟집</h3>
                    <p class="p0"><span class="xs-block">신선하고 싱싱한 활어를 공수하여</span> 제공하는 맛있는 회</p>
                    <div class="mg-"></div>

                    <div class="bxBox pkg-img-list img-margin">
                        <ul class="bxS clr">
                            <li class="nth-1">
                                <img src="http://img.ocean2you.co.kr/renew/package/pkg_fish_01.jpg" alt="속초횟집 패키지1">
                            </li>
                            <li class="nth-2">
                                <img src="http://img.ocean2you.co.kr/renew/package/pkg_fish_02.jpg" alt="속초횟집 패키지2">
                            </li>
                        </ul>
                    </div>

                    <h4>속초 횟집 상세안내</h4>

                    <p class="p1">
                        속초횟집에는 웅장한 동해가 보입니다.<br>
                        동해의 신선함이 보이고, 동해의 바다향이 보이고, 동해의 푸르름이 보입니다.<br>
                        속초횟집은, 청정 동해안에서 직접 잡아 현장에서 즉석으로 준비해드리고 있습니다.<br>
                        횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.
                    </p>

                    <div class="ul-box clr">
                        <h5>속초횟집 운영시간</h5>
                        <ul class="ul0-1">
                            <li class="i-s">금요일, 토요일 운영 (메뉴 사전예약시, 요일과 상관없이 운영합니다.)</li>
                            <li class="i-s">18시~22시</li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>속초횟집 판매메뉴</h5>
                        <ul class="ul0-1 li-left clr">
                            <li class="i-s fir-li">
                                회종류
                                <p class="i-d">모듬회 : 소 30,000원 / 중 50,000 / 대 70,000원</p>
                                <p class="i-d">광어세꼬시 : 소 30,000원 / 중 50,000원</p>
                            </li>
                            <li class="i-s mid-li">
                                매운탕류
                                <p class="i-d">생우럭매운탕 : 소 30,000원 / 중 50,000원</p>
                                <p class="i-d">생우럭지리 : 소 30,000원 / 중 50,000원</p>
                                <p class="i-d">우럭, 광어 잡뼈 매운탕 : 20,000원</p>
                            </li>
                            <li class="i-s fir-li">
                                특선메뉴
                                <p class="i-d">회무침 : 30,000원</p>
                                <p class="i-d">물회 : 10,000원 (2인분 부터 주문가능)</p>
                            </li>
                            <li class="i-s mid-li">
                                식사류
                                <p class="i-d">회덮밥 : 12,000원 (2인분 부터 주문가능)</p>
                                <p class="i-d">공기밥 : 1,500원</p>
                            </li>
                        </ul>
                    </div>

                    <div class="ul-box clr">
                        <h5>속초횟집 이용안내</h5>
                        <ul class="ul0-1">
                            <li class="i-s">속초횟집은 오션투유 리조트 실외바베큐장 앞에 있습니다.</li>
                            <li class="i-s">금, 토일만 운영하나, 사전예약시 상시 운영될 수 있습니다.</li>
                            <li class="i-s">주류 및 음료구매 가능합니다.</li>
                            <li class="i-s">속초횟집 전메뉴는 포장 가능합니다.</li>
                        </ul>
                    </div>

                </section>

                <!-- 180713 반데라바베큐 플레이츠 추가 -->
                <section class="pkg-4">
                    <h3>반데라 리얼바베큐 플레이츠</h3>
                    <p class="p0">훈연의 향이 가득한 반데라 리얼바베큐 플레이츠를 동해의 삼포해변에서 즐기실 수 있습니다</p>
                    <div class="mg-"></div>
                    <div class="bxBox" id="bxBox-4">
                        <ul class="bxS">
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bdr_01.jpg" alt="반데라바베큐1"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bdr_02.jpg" alt="반데라바베큐2"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bdr_03.jpg" alt="반데라바베큐3"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bdr_04.jpg" alt="반데라바베큐4"></li>
                        </ul>
                    </div>

                    <h4>반데라 리얼바베큐 플레이츠 상세안내</h4>
                    <p class="p1">
                        정통 바베큐집의 조리법 그대로 챠콜(숯)과 나무 (사과나무, 벚나무, 포도나무, 배나무, 복숭아나무, 참나무, 히코리나무, 머스킷나무 등)를 훈연하여 부드러운 바베큐의
                        식감과 육즙을 즐기실 수 있는 미국 남부식 바베큐 전문점입니다.<br>
                        챠콜(숯)바베큐 그릴 전문 업체인 웨버그릴사의 직경 98cm에 이르는 초대형 그릴, 렌치캐틀을 직접 수입하여, 챠콜(숯)을 통해 발생되는 100~250도씨의 직 간접열로
                        오랜시간에 걸쳐 정성스럽게 훈연한 정통 바베큐, 반데라 리얼 바베큐 플레이츠를 만나보세요
                    </p>

                    <ul class="ul0 clr">
                        <li class="nth-1 clr on">
                            <h5>운영시간</h5>
                            <p class="p-txt"><em>연중무휴 운영</em>18:00 ~ 20:00 까지</p>
                            <p class="p-txt"><em>사전예약</em>평일 : 18:00시 까지<span class="line"></span>주말/연휴 : 20:00 까지</p>
                        </li>
                        <li class="nth-2">
                            <h5>기간/장소안내</h5>
                            <p class="p-txt i-d">02월~11월 (야외 운영)</p>
                            <p class="p-txt i-d">12월~01월 (2층 실내 운영)</p>
                        </li>
                        <li class="nth-3">
                            <h5>가격 및 이용안내</h5>
                            <p class="p-txt i-m">반데라 바베큐플레이츠 19,000원</p>
                            <p class="p-txt i-d">
                                한식당 다연, 바베큐장 이용 또는 숙박시 <br>＊디자인팀하드백업\★work\오션투유 리조트\오션투유 리조트_사이트\psd\contents\20191115_오션투유_룸서비스_피자추가＊디자인팀하드백업\★work\오션투유 리조트\오션투유 리조트_사이트\psd\contents\20191115_오션투유_룸서비스_피자추가
                                룸서비스로 이용 가능 <br>
                                (오션투유 리조트 프론트에 주문 070-4694-0928)
                            </p>
                        </li>
                    </ul>

                    <a href="javascript:;" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
                </section>

                <!-- 룸서비스 -->
                <section class="pkg-5">
                    <h3>룸서비스</h3>
                    <p class="p0">빠르고 신선한 음식을 바로 즐길 수 있는 오션투유 리조트 만의 독보적인 룸서비스 안내</p>
                    <div class="mg-"></div>
                    <div class="bxBox" id="bxBox-4">
                        <ul class="bxS">
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_pizza_01.jpg" alt="피자"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_10.jpg" alt="회"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_brf_11.jpg" alt="물회"></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bbq_05.jpg" alt="바베큐"></li>
                        </ul>
                    </div>

                    <h4>룸서비스 상세안내</h4>
                    <p class="p1">
                        오션투유 리조트 설악비치 호텔앤리조트에서는 고객님들이 조금 더 편안한 휴식을 즐기실 수 있도록 룸서비스를 운영하고 있습니다.<br>
                        훈연의 향부터 다른 전통 반데라 바베큐 부터 특급 호텔 30년 경력의 셰프가 직접 싱싱한 활어를 공수하여 제공하는 모듬 회, 주문 즉시 조리하는 비법 소스로 맛을 낸 모듬 물회까지! 오션투유 리조트 내에, 고객님의 원하는 장소를 배달하여 드립니다.<br>
                        횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.<br>
                        편안한 휴식을 즐기며 오션투유 리조트만의 격이 다른 서비스를 경험 해보세요.
                        <br>
                        <br>
                        <span class="roomservice-highlight-bule">룸서비스는 금,토,일요일과 공휴일에만 이용가능합니다.(주중,평일 미운영)</span>
                    </p>

                    <div class="sltMenu-intro">
                        <h5>메뉴 안내</h5>
                        <ul class="ul1">
                            <li class="clr">
                                <div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_04.jpg" alt="그랑데피자"></div>
                                <div class="d2">
                                    <strong>그랑데피자 (다연 또는 바베큐장에서 이용 및 룸서비스 가능) <span class="new">NEW</span></strong>
                                    <p class="p-txt">
                                        담백하고 얇은 씬도우 위에 맛있는 토핑을 올린 이태리 감성의 그랑데 피자입니다.<br>
                                        풍부한 맛과 쫀득하면서 부드러운 식감, 느끼함 제로의 맛을 전해드립니다.<br>
                                        8인치 레귤러와 12인치 라지 사이즈로 네가지 맛을 취향대로 고르세요.<br>
                                        불고기 / 페퍼로니 / 핫치킨 / 고르곤졸라
                                    </p>
                                    <div class="usePrc">
                                        <p class="p1"><span class="s-w">￦</span> 이용가격</p>
                                        <p class="p-txt">
                                            <span class="s-txt">그랑데피자 라지 <span class="f-bd">18,900</span>원 / 레귤라 <span class="f-bd">15,900</span>원</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="li1 clr">
                                <div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_01.jpg" alt="시카코바베큐플레이츠"></div>
                                <div class="d2">
                                    <strong>반데라바베큐플레이츠 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
                                    <p class="p-txt">
                                        폭립, 삼겹살을 특급호텔 30년 경력의 주방장의 지위하에 정통 차콜 그릴에서
                                        약 2시간 동안, 약 200도의 온도로 쿠킹하며 사과나무로 훈연하여 만들어낸 바베큐입니다.<br>
                                        ( 모닝빵, 코오슬로, 바베큐 소스, 파인애플 조림 등이 같이 곁들여져 있습니다.)
                                    </p>
                                    <p class="p-txt i-s">바베큐 장 및 한식당 다연에서 주문 가능 합니다.</p>
                                    <div class="usePrc">
                                        <p class="p1"><span class="s-w">￦</span> 이용가격</p>
                                        <p class="p-txt"><span class="s-txt">시카코 바베큐플레이츠 <span class="f-bd">19,000</span>원</span></p>
                                    </div>
                                </div>
                            </li>
                            <li class="li2 clr">
                                <div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_02.jpg" alt="계절 모둠 회"></div>
                                <div class="d2">
                                    <strong>계절 모둠 회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
                                    <p class="p-txt">
                                        특급호텔 30년 경력의 주방장이 직접 싱싱한 제철 활어를 공수해 제공하는 회 메뉴 입니다.<br>
                                        횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.<br>
                                        오션투유 리조트에서 신선함이 살아있는 최상의 맛을 느껴보세요.
                                    </p>
                                    <div class="usePrc">
                                        <p class="p1"><s class="s-w">￦</s> 이용가격</p>
                                        <p class="p-txt"><span class="s-txt">계절 모둠 회 大 <span class="f-bd">70,000</span>원</span> <span class="s-txt">계절 모둠 회 中 <span class="f-bd">50,000</span>원</span> <span class="s-txt">계절 모둠 회 小 <span class="f-bd">30,000</span>원</span></p>
                                    </div>
                                </div>
                            </li>
                            <li class="li3 clr">
                                <div class="d1"><img src="http://img.ocean2you.co.kr/renew/package/brfMenu_03.jpg" alt="계절 모둠 물회"></div>
                                <div class="d2">
                                    <strong>계절 모둠 물회 <span class="s1">(다연 또는 바베큐장에서 이용 및 룸서비스 가능)</span></strong>
                                    <p class="p-txt">
                                        특급호텔 30년 경력의 주방장의 특급 비법소스와 싱싱한 제철 활어를 공수하여 주문 즉시 조리하며, 신선함은 물론, 감칠맛이 더욱 뛰어난 물회 메뉴입니다.<br>
                                        횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.
                                    </p>
                                    <div class="usePrc">
                                        <p class="p1"><span class="s-w">￦</span> 이용가격</p>
                                        <p class="p-txt"><span class="s-txt">계절 모둠 물회 2인 <span class="f-bd">30,000</span>원</span> <span class="s-txt">계절 모둠 물회 3인 <span class="f-bd">45,000</span>원</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--171204 예약하기 버튼 위치 변경-->
                    <a href="javascript:;" class="rv-a"><span class="s0">예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
                </section>

            </div>

        </div>

        <!-- 180425 하단 탭 추가 -->
        <!-- 180713 메뉴 추가 및 태그 수정 -->
        <!-- 180723 메뉴 추가 및 클래스 추가 -->
        <div class="pkg-b-tab-box">
            <!-- 190226 하단메뉴 변경 -->
            <ul class="pkg-b-tab clr" id="pkg-b-tab">
                <li class="nth-1"><a href="javascript:;">조식뷔페 다연</a></li>
                <li class="nth-2"><a href="javascript:;" class="line-two">오션숯불갈비&amp;<span></span>바베큐장</a></li>
                <li class="nth-3"><a href="javascript:;">속초횟집</a></li>
                <li class="nth-4"><a href="javascript:;" class="line-two">반데라바베큐<span></span>플레이츠</a></li>
                <li class="nth-5"><a href="javascript:;">룸서비스</a></li>
            </ul>
        </div>

        <!--171020 다양한 패키지 상품-->
        <div class="vari-wrap" id="vari-wrap">
            <div class="container">
                <h3>오션투유 리조트에서만 경험할 수 있는 즐거움을 느껴보세요!</h3>
                <ul class="ul1 clr packtab">
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>조식뷔페 다연</h4>
                            <p class="p1">특급호텔 30년 근무 경력의 조리장들이 선사하는 품질높은 아메리칸뷔페</p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_01.jpg" alt="조식뷔페 다연">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>바베큐장</h4>
                            <p class="p1">해안선을 따라 쏟아지는<br>별빛을 바라보며 즐기는 <span class="xs-block">바베큐파티</span></p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_02.jpg" alt="바베큐장">
                        </a>
                    </li>
                    <li></li>
                    <li></li>
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>전동바이크</h4>
                            <p class="p1">탁 트인 해안도로를 따라 달릴때 보이고 들리는 속초만의 아름다운 풍경</p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_03.jpg" alt="전동바이크">
                        </a>
                    </li>
                    <!-- 동절기 이후 다시 쓸 가능성 있음 -->
                    <!-- <li>
                    <a href="javascript:;">
                        <span class="i-scut">바로<br>가기</span>
                        <h4>조개잡기</h4>
                        <p class="p1">에메랄드빛 삼포해변에서 즐기는 신나는 조개잡기 체험</p>
                        <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_04.jpg" alt="조개잡기">
                    </a>
                </li> -->
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>룸서비스</h4>
                            <p class="p1">특급 호텔 30년 경력의 셰프가 선사하는 격이 다른 <span class="xs-block">룸서비스</span></p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_05.jpg" alt="룸서비스">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--171122 룸서비스로 변경-->
        <aside class="rWing" id="rWing" style="position: fixed; top: 256px;">
            <div class="q-menu">
                <ul class="packtab">
                    <li class="on"><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_01.png" alt="조식"><span class="s-txt">조식뷔페 다연<br>바로보기</span></a></li>
                    <li><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_02.png" alt="BBQ"><span class="s-txt">바베큐장<br>바로보기</span></a></li>
                    <li></li>
                    <li></li>
                    <li class=""><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_03.png" alt="전동바이크"><span class="s-txt">전동바이크<br>바로보기</span></a></li>
                    <!-- 동절기 이후 다시 쓸 가능성 있음 -->
                    <!-- <li><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_04.png" alt="조개잡기"><span class="s-txt">조개잡기<br>바로보기</span></a></li> -->
                    <li class=""><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_05.png" alt="룸서비스"><span class="s-txt">룸서비스<br>바로보기</span></a></li>
                </ul>
                <a class="a-top" href="#">TOP<span class="s-i">▲</span></a>
            </div>
        </aside>

        <script type="text/javascript">
            $(function () {
                $("#pkg-tab > li").removeClass("on");

                var num_id = "1";

                $(".nth-" + num_id).addClass("on");
                $(".pkg-" + num_id).addClass("on");

                // $('html, body').animate({
                //     scrollTop: $("#package_top").offset().top
                // }, 400);

                //180716 스크립트 숨김
                /*
                $(".packtab li").on('click', function() {

                    var idx = $(this).index();
                    var num = parseInt(idx)+1;

                    $(this).addClass('on').siblings().removeClass('on');
                    $("#pkg-box > section").eq(idx).addClass('on').siblings().removeClass('on');

                    $("#pkg-tab > li").removeClass("on");		
                    $(".nth-"+num).addClass("on");		
                    $(".pkg-"+num).addClass("on");		
                    $('#pkg-b-tab li').removeClass("on").eq(idx).addClass('on');	

                    $('html, body').animate({scrollTop : $("#package_top").offset().top}, 400);

                });*/


                $(window).scroll(function () {
                    var scrollTop = $(window).scrollTop();
                    var f_scr = $('footer').offset().top - 850;

                    if (scrollTop > 100) {
                        $("#right_banner").css({
                            "position": "fixed",
                            "top": "180px"
                        });
                    }
                    if (scrollTop > f_scr) {
                        $("#right_banner").css({
                            "position": "fixed",
                            "top": "-180px"
                        });
                    }
                    if (scrollTop < 100) {
                        $("#right_banner").css({
                            "position": "absolute",
                            "top": "auto"
                        });
                    }
                });
            });
        </script>

        @@include('../include/_footer.html')
    </div>

</body>

</html>