@@include('../include/_head.html', {
"page": "map"
})

</head>

<body>

    <h1 class="hidden">오션투유 리조트 객실안내</h1>
    <main id="wrap" class="wrap">
        @@include('../include/_header.html')

        @@include('../include/_sub/_subpage_top_intro.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_map"></div>

        <div class="wrap-container wrap-map">
            <section class="sect-map">
                <div class="sect-contents">
                    <div class="title-box">
                        <h4 class="title-main">오시는 길</h4>
                        <p class="title-sub">강원도 설악, 속초, 고성에 위치한 오션투유 리조트</p>
                    </div>
                    <div class="map-img-box">
                        <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/map/map.jpg" alt="맵">
                    </div>
                    <div class="map-info">
                        <div class="info-item">
                            <p class="p-name">
                                <span class="span-icon">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/map/icon_map_point.png" alt="아이콘">
                                </span>
                                <span class="span-name">주소</span>
                            </p>
                            <p class="p-txt">강원 고성군 죽왕면 삼포해변길9</p>
                        </div>
                        <div class="info-item">
                            <p class="p-name">
                                <span class="span-icon">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/map/icon_phone.png" alt="아이콘">
                                </span>
                                <span class="span-name">문의</span>
                            </p>
                            <p class="p-txt">033-630-9200 (프론트 주중/주말 06~02시)</p>
                        </div>
                    </div>
                    <div class="waycome-area">
                        <p class="waycome-title">오시는 방법</p>
                        <ul class="waycome-ul">
                            <li>
                                <p class="p-name"><span>자기차량 이용시</span></p>
                                <p class="p-txt">네비게이션 주소 또는 오션투유 리조트 입력</p>
                            </li>
                            <li>
                                <p class="p-name"><span>대중교통 이용시</span></p>
                                <ul class="waycome-part-ul">
                                    <li>
                                        <div class="waycome-point-box">
                                            <p class="p-point">간성시외버스터미널 하차시</p>
                                            <a href="#none" class="btn-go-way">길찾기</a>
                                        </div>
                                        <div class="waycome-order">
                                            <p>신안리 정류장에서 1번, 1-1 버스 승차</p> 
                                            <p>삼포리정류장에서 하차</p>
                                            <p>105m 이동 길찾기</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="waycome-point-box">
                                            <p class="p-point">속초시외버스터미널 하차시</p>
                                            <a href="#none" class="btn-go-way">길찾기</a>
                                        </div>
                                        <div class="waycome-order">
                                            <p>한국전력 정류장에서 1번, 1-1번 버스 승차</p> 
                                            <p>삼포리정류장에서 하차</p>
                                            <p>105m 이동 길찾기</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="waycome-point-box">
                                            <p class="p-point">속초고속버스터미널 하차시</p>
                                            <a href="#none" class="btn-go-way">길찾기</a>
                                        </div>
                                        <div class="waycome-order">
                                            <p>속초 고속버스터미널 정류장 1번. 1-1번 버스 승차</p> 
                                            <p>삼포리정류장에서 하차</p>
                                            <p>105m 이동 길찾기</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>  
            </section>
        </div>
        @@include('../include/_footer.html')
    </main>
</body>

</html>