@charset 'utf-8';

.footer {
    line-height: 1;
    font-family: "NanumBarunGothic", "Nanum Gothic", "Malgun Gothic", sans-serif;
}

@media (max-width: 767px) {
    .footer {
        background: #323232;
        padding: 225px 0 45px 0px;

        .container {
            position: relative;
            width: 90%;

            >div {
                position: relative;
                color: #cdcdcd;
            }
        }

        .f_menu {
            padding: 15px 0;
            position: absolute;
            top: -225px;

            >li {
                position: relative;
                display: inline-block;
                margin-left: 24px;

                &:before {
                    position: absolute;
                    top: 1px;
                    left: -14px;
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: #cdcdcd;
                }

                &:first-child {
                    margin-left: 0px;

                    &:before {
                        display: none;
                    }
                }

                >a {
                    color: #fff;
                    font-size: 13px;
                }
            }
        }

        .flt-1 {
            .f-logo {
                width: 110px;
            }

            img {
                position: relative;
                display: block;
            }

            .f-gcLogo {
                width: 110px;
                margin-top: 20px;
            }
        }

        .flt-2 {
            margin-top: 15px;

            address {
                line-height: 1.4;
                font-size: 13px;

                .i-l {
                    display: block;
                }
            }
        }

        .cf-box {
            position: absolute;
            font-family: "Nanum Gothic", sans-serif;
            color: #fff;
            top: -265px;
            width: 100%;

            .p-0 {
                font-size: 15px;
            }
        }

        .cf-in {
            position: relative;
            width: 100%;
            font-size: 0;

            .callFor {
                position: relative;
                text-align: center;
                display: inline-block;
                width: 33%;
                vertical-align: top;
                margin-top: 10px;
                margin-left: 0.33%;
                border: 1px solid #636363;
                border-radius: 2px;
                padding: 0;
                color: #fff;
                min-height: 130px;

                >span {
                    display: block;
                    width: 100%;
                }

                >.s1-2 {
                    &:last-child {
                        margin-top: -2px;
                        margin-bottom: 3px;
                        letter-spacing: -2px !important;
                        font-size: 11px;
                        font-family: "Dotum", sans-serif;
                    }
                }
            }

            .callFor.cf1 {
                margin-left: 0;
                width: 34%;
            }

            .callFor.cf2 {
                width: 30%;
            }

            .callFor.cf0 {
                display: none;
            }

            .s1 {
                font-size: 14px;
                line-height: 28px;
                font-weight: 700;
            }

            .s3 {
                font-size: 14px;
                line-height: 28px;
                font-weight: 700;
                margin-top: -2px;
                letter-spacing: -0.5px;

                >img {
                    display: none;
                }
            }

            .s4 {
                font-size: 14px;
                line-height: 28px;
                font-weight: 700;
                line-height: 18px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 12px;

                .i-mail {
                    width: 14px;
                }
            }

            .mg- {
                width: 100%;
                height: 1px;
                background: #636363;
            }

            .s1-2 {
                font-size: 12px;
                line-height: 16px;
                margin-top: 5px;
                word-break: keep-all;
            }
        }

        .family-wrapper {
            position: relative;

            .family-site {
                position: relative;
                margin: 10px 0 0 0px;
                font-size: 11px;
                line-height: 22px;
                color: #a3a3a3;

                .family-site-label {
                    cursor: pointer;
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 130px;
                    height: 24px;
                    padding-left: 7px;
                    line-height: 24px;
                    border: 1px solid #4c4c4c;
                }

                .site {
                    z-index: 9999;
                    position: absolute;
                    display: none;
                    box-sizing: border-box;
                    left: 0;
                    bottom: 23px;
                    width: 130px;
                    padding-bottom: 7px;
                    border: 1px solid #4c4c4c;
                    background-color: #323232;

                    li {
                        .fam_btn {
                            padding: 3px 5px 3px 7px;
                            line-height: 14px;
                            word-break: keep-all;
                        }
                    }

                    .group-name {
                        margin-top: 7px;

                        .fam_btn {
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media (max-device-width: 320px) {
    .footer {
        .cf-in {
            .s3 {
                letter-spacing: -1px;
            }

            .callFor {
                >.s1-2 {
                    &:last-child {
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer {
        background: #323232;
        padding: 5px 0 45px 10px;
        text-align: center;

        .container {
            position: relative;
            display: inline-block;
            width: auto;
            margin: 0 auto;
            text-align: left;

            div[class*=flt-] {
                position: relative;
                float: left;
                color: #cdcdcd;
            }
        }

        .f_menu {
            padding: 15px 0;

            >li {
                position: relative;
                display: inline-block;
                margin-left: 40px;

                &:before {
                    position: absolute;
                    top: 1px;
                    left: -20px;
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: #cdcdcd;
                }

                &:first-child {
                    margin-left: 15%;

                    &:before {
                        display: none;
                    }
                }

                >a {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        .flt-1 {
            width: 15%;
            top: 0px;
            padding-right: 20px;

            .f-logo {
                width: 100%;
            }

            img {
                position: relative;
                display: block;
            }

            .f-gcLogo {
                margin-top: 30px;
            }
        }

        .flt-2 {
            letter-spacing: -0.5px;

            address {
                line-height: 1.4;
                font-size: 13px;

                .i-l {
                    position: relative;
                    display: inline-block;
                    top: 1px;
                    width: 1px;
                    height: 12px;
                    background: #cdcdcd;
                    margin: 0 11px;
                }
            }
        }

        .family-wrapper {
            position: relative;

            .family-site {
                position: relative;
                margin: 10px 0 0 0px;
                font-size: 10px;
                line-height: 22px;
                color: #a3a3a3;

                .family-site-label {
                    cursor: pointer;
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 105px;
                    height: 24px;
                    padding-left: 7px;
                    line-height: 24px;
                    border: 1px solid #4c4c4c;
                }

                .site {
                    z-index: 9999;
                    position: absolute;
                    display: none;
                    box-sizing: border-box;
                    left: 0;
                    bottom: 23px;
                    width: 105px;
                    padding-bottom: 7px;
                    border: 1px solid #4c4c4c;
                    background-color: #323232;

                    li {
                        .fam_btn {
                            padding: 3px 7px;
                            line-height: 14px;
                            word-break: keep-all;
                        }
                    }

                    .group-name {
                        margin-top: 7px;

                        .fam_btn {
                            font-size: 11px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 992px) and (max-width: 1431px) {
    .footer {
        background: #323232;
        padding: 5px 0 45px;

        .container {
            position: relative;
            width: 975px;

            div[class*=flt-] {
                position: relative;
                float: left;
                color: #cdcdcd;
            }

            .flt-3 {
                float: right;
            }
        }

        .f_menu {
            padding: 15px 0;

            >li {
                position: relative;
                display: inline-block;
                margin-left: 40px;

                &:before {
                    position: absolute;
                    top: 1px;
                    left: -20px;
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: #cdcdcd;
                }

                &:first-child {
                    margin-left: 215px;

                    &:before {
                        display: none;
                    }
                }

                >a {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        .flt-1 {
            top: 0px;
            margin: 0px 50px 0 0;

            img {
                position: relative;
                display: block;
            }

            .f-gcLogo {
                margin-top: 30px;
            }
        }

        .flt-2 {
            address {
                line-height: 1.5;
                font-size: 15px;

                .i-l {
                    position: relative;
                    display: inline-block;
                    top: 1px;
                    width: 1px;
                    height: 12px;
                    background: #cdcdcd;
                    margin: 0 11px;
                }
            }
        }

        .flt-3 {
            >div {
                width: 265px;
                height: 68px;
                background: #4b4b4b;
                margin-top: 10px;

                >span {
                    display: inline-block;
                    position: relative;
                    float: left;
                }

                .s0 {
                    padding: 13px 18px 0;
                    height: 100%;
                }

                .s1 {
                    font-size: 15px;
                    color: #cacaca;
                    margin-top: 11px;
                    width: 180px;
                }

                .s2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #ababab;
                    margin-top: 5px;
                }
            }

            .d-1 {
                margin-top: 0;
            }

            .d-2 {
                .s2 {
                    letter-spacing: -1.5px;
                }
            }
        }

        .family-wrapper {
            position: relative;

            .family-site {
                position: relative;
                width: 150px;
                margin: 0 auto;
                margin-top: 10px;
                font-size: 13px;
                line-height: 22px;
                color: #a3a3a3;

                .family-site-label {
                    cursor: pointer;
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 100%;
                    height: 24px;
                    padding-left: 10px;
                    line-height: 24px;
                    border: 1px solid #4c4c4c;
                }

                .site {
                    z-index: 9999;
                    position: absolute;
                    display: none;
                    box-sizing: border-box;
                    left: 0;
                    bottom: 23px;
                    width: 100%;
                    padding-bottom: 10px;
                    border: 1px solid #4c4c4c;
                    background-color: #323232;

                    li {
                        .fam_btn {
                            padding: 5px 10px;
                            line-height: 16px;
                        }
                    }

                    .group-name {
                        margin-top: 10px;

                        .fam_btn {
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1431px) {
    .footer {
        .cf-box {
            font-family: "Nanum Gothic", sans-serif;
            color: #fff;
            width: 100%;
            margin-bottom: 5px;
            letter-spacing: -0.5px;

            >.p-0 {
                display: none;
            }
        }

        .cf-in {
            position: relative;
            width: 100%;
            font-size: 0;

            .callFor {
                position: relative;
                text-align: center;
                display: inline-block;
                width: 176px;
                height: 110px;
                vertical-align: top;
                margin-top: 15px;
                margin: 8px 0 20px;
                border: 1px solid #636363;
                border-radius: 2px;
                padding: 0;
                padding-top: 8px;
                color: #fff;
                margin-left: 5px;

                >span {
                    display: block;
                    width: 100%;
                    line-height: 1.5;
                }

                >.s1-2 {
                    &:last-child {
                        margin-top: 2px;
                        margin-bottom: 6px;
                        font-size: 11px;
                    }
                }
            }

            .callFor.cf1 {
                margin-left: 0;
            }

            .callFor.cf0 {
                display: none;
            }

            .s1 {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .s3 {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0;
                margin-top: 2px;

                >img {
                    width: 13px;
                    position: relative;
                    top: -1px;
                }
            }

            .s4 {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0;

                .i-mail {
                    width: 16px;
                }
            }

            .s1-2 {
                font-size: 13px;
                margin-top: 1px;
                word-break: keep-all;
            }
        }
    }
}

@media (min-width: 1432px) {
    .footer {
        .container {
            width: 1432px;
            position: relative;

            div[class*=flt-] {
                position: relative;
                float: left;
                color: #cdcdcd;
            }
        }

        background: #323232;
        padding: 5px 0 70px;

        .f_menu {
            padding: 15px 0;

            >li {
                position: relative;
                display: inline-block;
                margin-left: 40px;

                &:before {
                    position: absolute;
                    top: 1px;
                    left: -20px;
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: #cdcdcd;
                }

                &:first-child {
                    margin-left: 215px;

                    &:before {
                        display: none;
                    }
                }

                >a {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        .flt-1 {
            top: 0px;
            margin: -5px 44px 0 00px;
            width: 170px;

            img {
                position: relative;
                display: block;
            }

            .f-gcLogo {
                left: 5px;
                margin-top: 40px;
            }
        }

        .flt-2 {
            top: 10px;
            width: 1100px;

            address {
                line-height: 1.5;
                font-size: 15px;

                .i-l {
                    position: relative;
                    display: inline-block;
                    top: 1px;
                    width: 1px;
                    height: 12px;
                    background: #cdcdcd;
                    margin: 0 11px;
                }
            }
        }

        .cf-box {
            font-family: "Nanum Gothic", sans-serif;
            color: #fff;
            width: 100%;
            margin-bottom: 5px;
            letter-spacing: -0.5px;

            >.p-0 {
                display: none;
            }
        }

        .cf-in {
            position: relative;
            width: 100%;
            font-size: 0;

            .callFor {
                position: absolute;
                text-align: center;
                display: inline-block;
                margin-top: 15px;
                margin-left: 4px;
                border: 1px solid #c5c5c5;
                border-radius: 2px;
                padding: 0;
                padding: 8px 0px 0 0;
                width: 240px;
                height: 140px;
                right: 212px;
                box-sizing: border-box;
                z-index: 1;
                color: #fff;

                &:first-child {
                    margin-left: 0;
                }

                >span {
                    display: block;
                    width: 100%;
                    line-height: 1.5;
                }

                >.s1-2 {
                    &:last-child {
                        margin-top: 2px;
                        margin-bottom: 6px;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
            }

            .callFor.cf0 {
                top: -80px;
                right: 240px;
                font-size: 16px;
                line-height: 1.4;
                border: 0;

                .f-bd {
                    font-size: 28px;
                }
            }

            .callFor.cf1 {
                top: -80px;
                right: 0;
                width: 235px;
            }

            .callFor.cf2 {
                right: 240px;
                top: 65px;
            }

            .callFor.cf3 {
                top: 65px;
                right: 0;
                width: 235px;
            }

            .s1 {
                font-size: 17px;
                font-weight: 700;
                letter-spacing: 0;
                margin-top: 2px;
            }

            .s3 {
                font-size: 17px;
                font-weight: 700;
                letter-spacing: 0;
                margin-top: 3px;
                font-size: 18px;
                font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
                font-weight: 500;

                >img {
                    width: auto;
                    position: relative;
                    top: -1px;
                }
            }

            .s4 {
                font-size: 17px;
                font-weight: 700;
                letter-spacing: 0;
            }

            .s1-2 {
                font-size: 17px;
                margin-top: 1px;
            }
        }

        .family-wrapper {
            position: relative;

            .family-site {
                position: relative;
                width: 150px;
                margin: 0 auto;
                margin-top: 10px;
                font-size: 13px;
                line-height: 22px;
                color: #a3a3a3;

                .family-site-label {
                    cursor: pointer;
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 100%;
                    height: 24px;
                    padding-left: 10px;
                    line-height: 24px;
                    border: 1px solid #4c4c4c;
                }

                .site {
                    z-index: 9999;
                    position: absolute;
                    display: none;
                    box-sizing: border-box;
                    left: 0;
                    bottom: 23px;
                    width: 100%;
                    padding-bottom: 10px;
                    border: 1px solid #4c4c4c;
                    background-color: #323232;

                    li {
                        .fam_btn {
                            padding: 5px 10px;
                            line-height: 16px;
                        }
                    }

                    .group-name {
                        margin-top: 10px;

                        .fam_btn {
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}