@@include('../include/_head.html', {
"page": "room"
})

</head>

<body>

    <h1 class="hidden">오션투유 리조트 객실안내</h1>
    <main id="wrap" class="wrap">
        @@include('../include/_header.html')

        @@include('../include/_sub/_subpage_top_intro.html')
        @@include('./_part_menu.html')

        <!--탑메뉴 오버이벤트를 위한 태그-->
        <div class="page-data" data-name="d_room"></div>

        <div class="wrap-container wrap-room">
            <section class="sect-room">
                <div class="sect-contents">
                    <ul class="room-ul">
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main01.jpg" alt="이미지">
                                <p class="p-name">편안한 인테리어와 아름다운 삼포해변이 보이는 리조트형 오션뷰 룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">스탠다드/슈페리어/디럭스리조트 오션뷰</h4>
                                    <a href="./room01.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">오션뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">4인(최대7인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">23평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">99,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main02.jpg" alt="이미지">
                                <p class="p-name">바다가 한쪽의 그림처럼 펼쳐지며, 원목의 테라스가 있는 프라이빗한 리조트형 디럭스룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">스탠다드 / 슈페리어 / 디럭스 리조트 마운틴뷰</h4>
                                    <a href="./room02.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">마운틴뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">4인(최대7인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">23평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">69,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main03.jpg" alt="이미지">
                                <p class="p-name">고급스러운 색채와 편안한 분위기의 침실, 넓은 공간 활용과 취사 가능한 리조트형 룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">리노베이션 리조트 오션뷰</h4>
                                    <a href="./room01.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">오션뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">4인(최대7인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">23평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">499,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main04.jpg" alt="이미지">
                                <p class="p-name">편안하고 아늑한 분위기의 침실과 독립적 공간 활용이 매력적인 호텔형 오션뷰 룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">리노베이션 호텔 오션뷰</h4>
                                    <a href="./room01.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">오션뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">4인(최대7인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">23평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">299,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main05.jpg" alt="이미지">
                                <p class="p-name">동해가 완벽하게 펼쳐진 개방형 객실뷰, 럭셔리타입의 프라이빗 스타일룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">로얄스위트 오션뷰 테라스</h4>
                                    <a href="./room01.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">오션뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">6인(최대10인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">46평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">499,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/room_main06.jpg" alt="이미지">
                                <p class="p-name">바다가 한쪽의 그림처럼 펼쳐지며, 원목의 테라스가 있는 프라이빗한 리조트형 디럭스룸</p>
                            </div>
                            <div class="title-box">
                                <div class="title-main">
                                    <h4 class="title">리노베이션 오션뷰 테라스/오션 사이드뷰 테라스</h4>
                                    <a href="./room01.html" class="btn-go-detail">
                                        <p class="p-name">자세히보기</p>
                                        <div class="icon-arrow"><img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/room/icon_arrow_detail.png" alt="아이콘"></div>
                                    </a>
                                </div>
                                <div class="title-sub">
                                    <ul class="title-sub-ul">
                                        <li><p class="p-type">전망: <span class="span-txt">오션뷰</span></p></li>
                                        <li><p class="p-type">수용인원: <span class="span-txt">4인(최대7인)</span></p></li>
                                        <li><p class="p-type">침대: <span class="span-txt">더블</span></p></li>
                                        <li><p class="p-type">객실면적: <span class="span-txt">23평</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reserve-box">
                                <p class="price">499,000원 ~</p>
                                <a href="#none" class="btn-go-reserve">예약하기</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        @@include('../include/_footer.html')
    </main>
</body>

</html>