
<h5 class="part-title">객실안내</h5>
<div class="part-menu-area">
    <div class="part-menu-container">
        <nav class="nav-part-menu">
            <ul class="part-menu-ul">
                <li><a href="./room01.html" data-part-active="p_room01">로얄스위트 오션뷰테라스</a></li>
                <li><a href="./room02.html" data-part-active="p_room02">리노베이션 오션뷰테라스</a></li>
                <li><a href="./room03.html" data-part-active="p_room03">리노베이션 리조트 오션뷰</a></li>
                <li><a href="./room04.html" data-part-active="p_room04">리노베이션 호텔오션뷰</a></li>
                <li><a href="./room05.html" data-part-active="p_room05">일반리조트 오션뷰</a></li>
            </ul>
        </nav>
    </div>
</div>
