@@include('./_room_top.html')
    
    <body>
    
        <h1 class="hidden">오션투유 리조트 객실안내</h1>
        <div id="wrap">
    
            @@include('./_room_sub.html')

            <!--탑메뉴 오버이벤트를 위한 태그-->
            <div class="page-data" data-name="d_room" data-part="p_room06"></div>
    
            <!-- 190321 객실별 자세히보기 -->
            <div class="fcdetail-wrap" id="setTop">
                <div class="fcdetail-tabpanel" id="fcdetail-tabpanel">
                    <section class="sec mt-sec on">
                        <div class="container">
                            @@include('./_part_menu.html')
                            <!-- <h1 class="sec-header">일반리조트 마운틴뷰</h1> -->
                            <div class="sec-body">
                                <div class="sec-slider">
                                    <ul class="bxS">
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_01.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_02.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_03.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_04.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_05.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_06.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_07.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_08.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_09.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_10.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_11.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_12.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_13.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                        <li><img class="img"
                                                src="http://img.ocean2youresort.co.kr/facil/roomtype_st_su_dx_mv_14.jpg"
                                                alt="일반리조트마운틴뷰"></li>
                                    </ul>
                                </div>
                                <div class="sec-sub">
                                    <h2 class="subtit">일반리조트 마운틴뷰</h2>
                                    <div class="subtit-img">
                                        <img src="http://img.ocean2youresort.co.kr/facil/fcdetail/accom_text.png"
                                            alt="객실안내">
                                    </div>
                                    <div class="subtxt">바다가 한쪽의 그림처럼 펼쳐지며, 원목의 테라스가 있는 프라이빗한 리조트형 디럭스룸</div>
    
                                    <a href="" class="btn-rsv"><span>예약하기</span><img
                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/arr_r.png" alt="이동하기"></a>
                                </div>
                                <hr class="line">
                                <div class="sec-detail">
                                    <div class="row">
                                        <dl class="item item-1">
                                            <dt>체크인</dt>
                                            <dd>PM03:00</dd>
                                        </dl>
                                        <dl class="item item-2">
                                            <dt>체크아웃</dt>
                                            <dd>AM11:00</dd>
                                        </dl>
                                        <dl class="item item-3">
                                            <dt>유형</dt>
                                            <dd>Double</dd>
                                        </dl>
                                        <dl class="item item-4">
                                            <dt>수용인원</dt>
                                            <dd>기존인원4인/최대인원7인</dd>
                                        </dl>
                                        <dl class="item item-5">
                                            <dt>크기</dt>
                                            <dd>23평</dd>
                                        </dl>
                                        <dl class="item item-6">
                                            <dt>서비스</dt>
                                            <dd>어메니티 제공</dd>
                                        </dl>
                                    </div>
                                    <div class="row">
                                        <dl class="item full-wd">
                                            <dt>부대시설</dt>
                                            <dd>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/breakfast.png"
                                                            alt="조식운영"></span>
                                                    <span class="figcap">조식운영</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/park.png"
                                                            alt="주차장"></span>
                                                    <span class="figcap">주차장</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/hall.png"
                                                            alt="연회장"></span>
                                                    <span class="figcap">연회장</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/restaurant.png"
                                                            alt="식당"></span>
                                                    <span class="figcap">식당</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/bbq.png"
                                                            alt="공용바베큐장"></span>
                                                    <span class="figcap">공용바베큐장</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/cart.png"
                                                            alt="편의점"></span>
                                                    <span class="figcap">편의점</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/dog.png"
                                                            alt="애완동물 입실"></span>
                                                    <span class="figcap">애완동물 입실</span>
                                                </span>
                                                <span class="figure">
                                                    <span class="figimg"><img
                                                            src="http://img.ocean2youresort.co.kr/facil/fcdetail/icon/wifi.png"
                                                            alt="공용 Wi-Fi"></span>
                                                    <span class="figcap">공용 Wi-Fi</span>
                                                </span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <hr class="line">
                                <div class="sec-notice">
                                    <ul class="list">
                                        <li class="dot-1">예약문의 : 1666-1243</li>
                                        <li class="dot-1">기준인원은 4인이며, 인원추가시 추가비용이 발생합니다.</li>
                                        <li class="dot-1">하우스키핑 요금이 일 객실요금에 포함되어 있습니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- /.fcdetail-tabpanel -->
            </div>

            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>