<section class="subpage-top-sect subpage-tourist">
    <article class="subpage-top-area">
        <div class="subpage-top-bg">
            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/main/main_intro_bg.jpg" alt="탑이미지">
        </div>
        <div class="subpage-top-contents">
            <div class="page-title">관광지</div>
            <nav class="nav-subpage-menu">
                <ul class="subpage-menu-ul">
                    <li><a href="./tourist_goseong.html" data-active="d_tour_goseong">고성지역 관광지</a></li>
                    <li><a href="./tourist_sokcho.html" data-active="d_tour_sokcho">속초지역 관광지</a></li>
                </ul>
            </nav>
        </div>
    </article>
</section>
<script>


</script>