

<section class="subpage-top-sect subpage-login">
    <article class="subpage-top-area">
        <div class="subpage-top-bg">
            <img src="http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/main/main_intro_bg.jpg" alt="탑이미지">
        </div>
        <div class="subpage-top-contents">
            <div class="page-title">고객센터</div>
            <nav class="nav-subpage-menu">
                <ul class="subpage-menu-ul tabs">
                    <li><a href="../serviceCenter/notice.html" data-active="d_svc01">공지사항</a></li>
                    <li><a href="../serviceCenter/faq.html" data-active="d_svc02">자주묻는 질문 FAQ</a></li>
                    <li><a href="../serviceCenter/qna.html" data-active="d_svc03">묻고답하기</a></li>
                </ul>
            </nav>
        </div>
    </article>
</section>
