
<header class="header type-2" id="gnb-header">
    <div class="container">
        <a href="../main/" class="logo-box">
            <img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유 리조트">
            <p class="logo-txt">
                오션투유 리조트
                <span>속초설악비치 호텔앤리조트</span>
            </p>
            <!--
            <span class="mg-l"></span>
            <img class="gcLogo" src="http://img.ocean2you.co.kr/renew/oc2_gcLogo.png" alt="고코투어">
            -->
        </a>

        <button class="mNav-btn" id="mNav-btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav class="nav-bar">
            <div class="d1">
                <a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
                <a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
                <a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
            </div>
            <ul class="nav clr">
                <li class="fst"><a href="../intro/">오션투유소개</a></li>
                <li><a href="../facil/">객실안내</a></li>
                <li><a href="../dining">다이닝</a></li>
                <li><a href="../amenities/">연회&amp;부대시설</a></li>
                <li><a href="../event/">이벤트/축제</a></li>
                <li><a href="../tourist">관광지</a></li>
                <!-- <li><a href="../?go_scroll=wayto">오시는길</a></li> -->
                <li><a href="../intro/?go-oc2-fun">고객리뷰</a></li>
                <!-- <li><a href="http://ocean2you.co.kr/?go_scroll=oc2-fun">고객리뷰</a></li> -->
                <li><a href="../group/">단체문의</a></li>
                <!-- <li><a href="../rent/">장기/단기숙박</a></li> -->
                <li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
            </ul>
        </nav>
        <div class="bk-menu ocean">
            <a href="/view" class="btn-bk">예약하기</a>
            <ul class="bk-list" style="display: none; height: 303px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                <li class="item item-1 fst"><a href="../view">객실예약</a></li>
                <li class="item item-2"><a href="../history/?dd=Sws5TzdVKg==">예약확인</a></li>
                <li class="item item-3"><a href="../group">단체예약</a></li>
                <li class="item item-4"><a href="../rent">장기/단기예약</a></li>
            </ul>
        </div>
    </div>
    <nav class="mNav-box" id="mNav-box">
        <h2 class="logo-m"><a href="#"><img src="http://img.ocean2you.co.kr/renew/logo_m.png" alt="오션투유 리조트"></a></h2>
        <!-- 190226 예약하기 메뉴 추가 -->
        <ul class="bk-menu-m ocean clr">
            <li>
                <a href="../view/">객실예약</a>
            </li>
            <li>
                <a href="../history">예약확인</a>
            </li>
        </ul>
        <ul class="mNav">
            <li class="fst"><a href="../intro/">오션투유소개</a></li>
            <li><a href="../facil/">객실안내</a></li>
            <li><a href="../dining">다이닝</a></li>
            <li><a href="../amenities/">연회&amp;부대시설</a></li>
            <li><a href="../event/">이벤트/축제</a></li>
            <li><a href="../tourist">주변관광지</a></li>
            <!-- <li><a href="../?go_scroll=wayto">오시는길</a></li> -->
            <li><a href="../intro/?go-oc2-fun">고객리뷰</a></li>
            <li><a href="../group/">단체행사문의</a></li>
            <li><a href="../rent/">장기/단기숙박</a></li>
            <!--<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>-->
        </ul>
    </nav>
</header>
<!--.header -->