
<!--최상단 배너(숙박대전-오션투유)-->
<div class="top-banner-lodgment">
    <a class="btn-go-area">
        <div class="img-box">
            <img class="img-pc" src="http://img.ocean2you.co.kr/renew/event/banner_top.jpg" alt="탑배너">
            <img class="img-mobile" src="http://img.ocean2you.co.kr/renew/event/banner_top_m.jpg" alt="탑배너_모바일">
        </div>
    </a>
</div>

<!--스크립트 추가(오션투유)-->
<script>
$(document).ready(function(){
    //==팝업 오픈(추가)==
    $(".btn-go-area").on("click", function(){
        //팝업 보이기
        $(".popup-lodgment").show();
        //바디고정
        $("body").addClass("pop-overflow-hidden");
    });
    //==팝업 오픈(추가)==
});
</script>
<!--///스크립트 추가(오션투유)-->

<!--////최상단 배너(숙박대전)-->
