@@include('../include/_head.html', {
    "page": "join"
    })
    
</head>

<body>
    <main id="wrap" class="wrap">
        @@include('../include/_header.html')
        @@include('../include/_sub/_subpage_top_join.html')


        <div class="wrap-container wrap-join">
            <section class="sect-join">
                <div class="sect-contents">
                    <div class="title-box">
                        <h3 class="page-title title-main">회원가입 완료</h3>
                        <div class="title-sub">
                            오션투유 리조트의 다양한 회원혜택을 누려보세요!
                        </div>
                    </div>
                    <div class="join-contents">
                        <p class="complete-title">오션투유 리조트 회원가입이 완료되었습니다.</p>
                        <div class="join-complete-area">
                            <ul class="row-ul">
                                <li>회원아이디</li>
                                <li class="mark">ocean2you</li>
                            </ul>
                            <ul class="row-ul">
                                <li>회원명</li>
                                <li>황길동</li>
                            </ul>
                        </div>

                        <!-- <div class="btn-myinfo-area">
                            <a href="#none" class="btn-go-myinfo"><span class="linebar">내 정보 확인하기</span> &gt;</a>
                        </div> -->

                    
                        </div>
                    <div class="bottom-btn-area">
                        <a href="../reservation/index.html" class="btn btn-white">객실 예약하기</a>
                        <a href="../mypage/index.html" class="btn btn-blue">내 정보 확인하기</a>
                    </div>
                </div>
            </section>
    
            
        </div>


        @@include('../include/_footer.html')
    </main>

</body>

</html>