.wrap-main {
    section.sect-intro {
        height: 640px;
        margin-top: 13.0rem;
        padding-top: 4.0rem;
        background: url('http://design.ebiznetworks.co.kr/lhc/ocean2y_condo/img/main/main_intro_bg.jpg') no-repeat center;
        color: white;

        article {
            div.sect-container {
                overflow: hidden;

                .sub {
                    p {
                        font-size: 2.6rem;
                        font-weight: 100;
                        letter-spacing: 4px;
                    }

                    span {
                        display: block;
                        padding-top: 10px;
                        font-size: 2.0rem;
                        letter-spacing: 2px;
                    }

                }

                .title {
                    text-align: center;

                    h2 {
                        padding: 8.5rem 0 1.3rem;
                    }

                    span {
                        display: block;
                        padding-bottom: 6px;
                        font-size: 2.4rem;
                        font-weight: 100;
                    }
                }

                .weather {
                    float: right;
                    overflow: hidden;

                    img {
                        display: block;
                        float: left;
                    }

                    div {
                        float: right;
                        padding-left: 1.5rem;

                        p {
                            font-size: 2.2rem;
                        }

                        span {
                            display: block;
                            padding: 8px 0;
                            font-size: 4.0rem;


                            em {
                                display: inline-block;

                                font-size: 2.5rem;
                                font-style: normal;
                                line-height: 4.0rem;
                                vertical-align: top;
                            }
                        }

                        div {
                            padding: .5rem 1.3rem;
                            background: #00000080;
                            border-radius: 15px;
                        }
                    }
                }

            }
        }
    }
}


@media (max-width: 1230px) {
    .wrap-main {
        section.sect-intro {
            height: auto;

            article {
                div.sect-container {

                    .sub {
                        p {}

                        span {}

                    }

                    .title {

                        h2 {}

                        span {}
                    }

                    .weather {

                        img {}

                        div {

                            p {}

                            span {


                                em {}
                            }

                            div {}
                        }
                    }

                }
            }
        }
    }

}