@@include('../include/_head.html', {
"page": "main"
})
<!--전용JS-->
<script src="http://static.ocean2youresort.co.kr/js/main/init.js"></script>
<!--./전용JS-->

</head>

<body>
    
    <h1 class="hidden">오션투유 리조트 설악비치 호텔앤리조트</h1>
    <main id="wrap" class="wrap">
        @@include('../include/_header.html')

        <div class="wrap-container wrap-main">
            
            @@include('./_sect/_sect01.html')
            @@include('./_sect/_sect02.html')
            @@include('./_sect/_sect03.html')
            @@include('./_sect/_sect05.html')
            @@include('./_sect/_sect04.html')
            @@include('./_sect/_sect06.html')
            
        </div>


        @@include('../include/_footer.html', {
        "page": "main"
        })
    </main>

</body>

</html>