@charset "UTF-8";
.wrap-login section {
  width: 100%; }
  .wrap-login section .sect-contents .select-member-ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .wrap-login section .sect-contents .select-member-ul > li:last-of-type {
      margin-left: 4.5rem; }
    .wrap-login section .sect-contents .select-member-ul > li .in-radio {
      display: none; }
    .wrap-login section .sect-contents .select-member-ul > li label {
      display: flex;
      align-items: center;
      font-size: 2.0rem; }
      .wrap-login section .sect-contents .select-member-ul > li label::before {
        box-sizing: border-box;
        content: "";
        display: block;
        background: #ccc;
        border: solid 0.4rem #fff;
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 50%;
        box-shadow: 0 0 0 1.6px #ccc;
        margin-right: 1.0rem;
        margin-top: 1px; }
    .wrap-login section .sect-contents .select-member-ul > li input:checked + label::before {
      background: #44a8ff;
      box-shadow: 0 0 0 1.6px #44a8ff; }
  .wrap-login section .login-contents {
    margin-top: 6.0rem;
    padding-top: 5.2rem;
    padding-bottom: 6.8rem;
    width: 100%;
    border-top: 2px solid #595959;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    position: relative; }
  .wrap-login section .bottom-btn-area {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    .wrap-login section .bottom-btn-area .btn-white {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 160px;
      height: 50px;
      border: 1px solid #999;
      font-size: 16px; }
    .wrap-login section .bottom-btn-area .btn-blue {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #44a8ff;
      width: 160px;
      height: 50px;
      color: white;
      font-size: 16px; }

.wrap-login .sect-login .sect-contents .title-box {
  margin: 0 auto;
  text-align: center; }
  .wrap-login .sect-login .sect-contents .title-box .title-sub {
    margin-top: 2.0rem;
    letter-spacing: -0.5px;
    color: #595959;
    font-size: 20px; }

.wrap-login .sect-login .sect-contents .login-contents .login-area {
  width: 47.4rem;
  margin: 0 auto; }
  .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box {
    margin-top: 4.0rem;
    display: flex; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box .input-box input {
      width: 34.0rem;
      height: 5.0rem;
      display: block;
      border: solid 1px #999999;
      background-color: #fff;
      padding-left: 14px;
      font-size: 1.7rem; }
      .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box .input-box input::placeholder {
        color: #999;
        font-size: 1.6rem; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box .input-box .in-id {
      margin-bottom: 1.4rem; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box .btn-box {
      margin-left: 1.4rem; }
      .wrap-login .sect-login .sect-contents .login-contents .login-area .in-login-box .btn-box .btn-login {
        width: 12.0rem;
        height: 100%;
        background-color: #373737;
        color: #fff;
        font-size: 1.8rem; }
  .wrap-login .sect-login .sect-contents .login-contents .login-area .save-id-box {
    margin-top: 2.4rem; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .save-id-box .check-save-id {
      display: none; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .save-id-box .check-label {
      color: #595959;
      font-size: 1.6rem;
      line-height: 1.2;
      letter-spacing: -0.8px;
      display: flex;
      align-items: center; }
      .wrap-login .sect-login .sect-contents .login-contents .login-area .save-id-box .check-label::before {
        content: "✔";
        margin-right: 10px;
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        border: 2px solid #ccc;
        background-color: #ccc;
        color: #fff;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        margin-top: 2px; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .save-id-box .check-save-id:checked + .check-label::before {
      content: "✔";
      color: #fff;
      background-color: #2a6caa;
      border-color: #3c7b99; }
  .wrap-login .sect-login .sect-contents .login-contents .login-area .member-box {
    border-top: 1px solid #999;
    padding-top: 2.5rem;
    margin-top: 2.4rem; }
    .wrap-login .sect-login .sect-contents .login-contents .login-area .member-box .member-ul {
      display: flex;
      justify-content: center; }
      .wrap-login .sect-login .sect-contents .login-contents .login-area .member-box .member-ul > li {
        padding: 0 2.4rem;
        border-right: 1px solid #999; }
        .wrap-login .sect-login .sect-contents .login-contents .login-area .member-box .member-ul > li:last-of-type {
          border-right: none; }
        .wrap-login .sect-login .sect-contents .login-contents .login-area .member-box .member-ul > li a {
          color: #595959;
          font-size: 1.6rem;
          letter-spacing: -0.5px; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box {
  display: none;
  margin: 0 auto;
  margin-top: 23px; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .p-note {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #595959;
    font-size: 16px;
    letter-spacing: 1.5;
    line-height: 1.4;
    text-align: left;
    text-align: left; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .btn-apply-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    width: 180px;
    height: 54px;
    background-color: #595959;
    color: #fff; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id {
    width: 578px;
    margin: 0 auto; }
    .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul {
      margin-top: 50px; }
      .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul > li {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px; }
        .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul > li label {
          display: block;
          width: 96px;
          color: #595959;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.8px; }
        .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul > li input {
          padding-left: 20px;
          width: 340px;
          height: 44px;
          border: 1px solid #999;
          font-size: 16px; }
          .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul > li input::placeholder {
            color: #999; }
      .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul .item-phone .in-box {
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul .item-phone .in-box input {
          width: 100px; }
      .wrap-login .sect-find .sect-contents .login-contents .find-area .cont-box .in-area-find-id .in-area-ul .item-phone .btn-get-num {
        margin-left: 10px;
        background-color: #595959;
        width: 120px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 15px; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .on {
  display: block; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .result-title-box .icon-img {
  width: 49px;
  margin: 0 auto; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .result-title-box .title {
  margin-top: 17px;
  color: #373737;
  font-size: 28px;
  letter-spacing: -0.7px;
  text-align: center; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .note-box {
  text-align: center;
  margin-top: 26px; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .note-box p {
    line-height: 1.5;
    color: #595959;
    font-size: 16px;
    font-weight: 300; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .note-box .p-mark {
    font-weight: 500; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .view-box-id {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 340px;
  height: 54px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .view-box-id .p-id {
    color: #37a2ff;
    font-size: 18px;
    line-height: 1.1; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .newpw-title-box {
  text-align: center; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .newpw-title-box .icon-img {
    margin: 0 auto;
    width: 46px; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .newpw-title-box .title {
    margin-top: 17px;
    color: #373737;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.8px; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .newpw-title-box .p-sub {
    color: #595959;
    font-size: 16px;
    margin-top: 27px; }

.wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw {
  width: 470px;
  margin: 0 auto;
  margin-top: 40px; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw .in-area-ul > li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    .wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw .in-area-ul > li:last-of-type {
      margin-bottom: 0; }
    .wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw .in-area-ul > li label {
      margin: 0;
      padding: 0;
      width: 140px;
      color: #595959;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.8px; }
    .wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw .in-area-ul > li input {
      width: 340px;
      height: 44px;
      padding-left: 12px;
      border: 1px solid #999;
      font-size: 20px;
      line-height: 1; }
  .wrap-login .sect-find .sect-contents .login-contents .find-area .in-area-newpw .p-notice {
    text-align: center;
    margin-top: 15px;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: -0.8px; }

.wrap-login .sect-find .sect-contents .bottom-btn-area .btn-check {
  margin-left: 14px; }
