@@include('../include/_head.html', {
	"page": "member"
})
	
</head>
<body>

<h1 class="hidden">오션투유 리조트 로그인</h1>
<div id="wrap">

    <div class="vid-wrap">
        
	    @@include('../include/_header.html')
       
        
        <section class="title">
            <div class="container tit-box">
                <h2>로그인</h2>
                <div class="mg-"></div>
                <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/member/login_title.png" alt="로그인"></div>
                <p class="p0"><span class="xs-block">내 소셜 아이디로 간편하게 오션투유 리조트</span> 설악비치 호탤앤리조트 가입과 로그인이 가능합니다.</p>
                <p class="p0 under">신규가입시 2,000원 적립금 지급, 결제금액 1% 적립</p>
            </div>
        </section>
    </div>
		
    <section class="login" id="setTop">
        <div class="container">
            <h3>간단하게 로그인</h3>
            <div class="mg-"></div>

            <div class="lgn-box">
                <ul class="lgnBtn-list clr">
                    <li class="f"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/f_logo.jpg" alt="페이스북">페이스북 아이디로 로그인</a></li>
                    <li class="k"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/k_logo.jpg" alt="카카오톡">카카오톡 아이디로 로그인</a></li>
                    <li class="n"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/n_logo.jpg" alt="네이버">네이버 아이디로 로그인</a></li>
                    <li class="d"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/d_logo.jpg" alt="다음">다음 아이디로 로그인</a></li>
                    <li class="g"><a href="" class="btn-a"><img class="i-logo" src="http://img.go.co.kr/mobile/g_logo.jpg" alt="구글">구글 아이디로 로그인</a></li>
                </ul>

                <p class="p0">
                    로그인/회원가입 시 이용약관, 개인정보취급방침에 동의하게 됩니다.<br>
                    회원가입시 SMS/메일링 수신에 동의합니다.<br>
                    오션투유 리조트 설악비치 호탤앤리조트 의 온라인 공식 대행 여행사 [고코투어]로 로그인됩니다. 
                </p>
            </div>
        </div>
    </section>
		
	@@include('../include/_footer.html') 
</div>

</body>
</html>