@@include('./_guide_top.html')
    
    </head>
    
    <body>
        <main id="wrap" class="wrap">
            @@include('./_guide_sub.html')

            <!--탑메뉴 오버이벤트를 위한 태그-->
            <div class="page-data" data-name="d_guide04"></div>
    
            <div class="wrap-container wrap-guide">
                <section class="sect-guide scss_com">
                    <div class="sect-contents information guide04">
                        <h3 class="page-title">회원카드발급</h3>
                        <article>
                            <h3>회원카드 신규발급</h3>
                            <div>
                                <table>
                                    <caption>회원카드 신규발급</caption>
                                    <colgroup>
                                        <col width="15%"/>
                                        <col width="60%"/>
                                        <col width="25%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>구비서류</th>
                                            <th>접수절차</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>개인</th>
                                            <td>
                                                <p>ㆍ가족회원신청서(정회원 인감도장 날인)<br/>
                                                    ㆍ주민등록등본 또는 가족관계증명서 <br/>
                                                    ㆍ반명함판(3x4) 사진 1매
                                                </p>
                                            </td>
                                            <td rowspan="2">
                                                <a class="down_file" href="#" download="가족회원신청서">가족회원신청서
                                                    <img src="http://img.ocean2youresort.co.kr/transferOfTitle/img_download.png" alt="다운로드"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>법인</th>
                                            <td>
                                                <p>
                                                    ㆍ가족회원신청서<br/>
                                                    ㆍ재직증명서<br/>
                                                    ㆍ반명함판(3x4) 사진 1매
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>접수절차</th>
                                            <td colspan="2">
                                                ㆍ접수방법: 우편접수<br/> 
                                                ㆍ접수처: (06178) 서울시 강남구 테헤란로82길 15, 디아이타워 11층 오션투유 리조트 회원관리 담당자앞 <br/>
                                                ㆍ문의전화: 070-4694-0000 <br/>
                                                ㆍ팩스: 02-6442-7100<br/>
                                                ㆍ이메일: help@ocean2youresort.co.kr<br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>수수료</th>
                                            <td colspan="2">1매당 11,000원 (VAT포함 )/ 최대 5매까지 발급가능</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="comment">※ 정회원 가족회원 추가시 수수료 없음.</p>
                            </div>
                        </article>
                        <article>
                            <h3>회원카드 재발급<span class="gray">회원카드 분실 또는 카드 훼손했을 경우</span></h3>
                            <div>
                                <table>
                                    <caption>회원카드 재발급</caption>
                                    <colgroup>
                                        <col width="15%"/>
                                        <col width="60%"/>
                                        <col width="25%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>구비서류</th>
                                            <th>접수절차</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>개인</th>
                                            <td>
                                                <p>ㆍ회원카드재발급신청서 작성(정회원 인감도장 날인) <br/>ㆍ정회원 인감증명서 1부</p>
                                            </td>
                                            <td rowspan="2">
                                                <a class="down_file" href="#" download="회원카드 재발급신청서">회원카드 재발급신청서
                                                    <img src="http://img.ocean2youresort.co.kr/transferOfTitle/img_download.png" alt="다운로드"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>법인</th>
                                            <td>
                                                <p>ㆍ회원카드재발급신청서 작성(정회원 인감도장 날인)<br/>ㆍ법인 인감증명서 1부<br/>ㆍ사업자등록증 사본 1부 </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>접수절차</th>
                                            <td colspan="2">
                                                ㆍ접수방법: 우편접수<br/> 
                                                ㆍ접수처: (06178) 서울시 강남구 테헤란로82길 15, 디아이타워 11층 오션투유 리조트 회원관리 담당자앞 <br/>
                                                ㆍ문의전화: 070-4694-0000 <br/>
                                                ㆍ팩스: 02-6442-7100<br/>
                                                ㆍ이메일: help@ocean2youresort.co.kr<br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>수수료</th>
                                            <td colspan="2">1매당 11,000원 (VAT포함 )/ 최대 5매까지 발급가능</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <article>
                            <h3>가족회원(지명회원) 변경<span class="gray">등록된 가족회원(지명회원) 변경이 필요할 경우</span></h3>
                            <div>
                                <table>
                                    <caption>가족회원(지명회원) 변경</caption>
                                    <colgroup>
                                        <col width="15%"/>
                                        <col width="60%"/>
                                        <col width="25%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>구비서류</th>
                                            <th>접수절차</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>개인</th>
                                            <td>
                                                <p>
                                                    ㆍ지명인변경신청서 작성(정회원 인감도장 날인) <br/>
                                                    ㆍ정회원 인감증명서 1부 <br/>
                                                    ㆍ주민등록등본 또는 가족관계증명서 <br/>
                                                    ㆍ카드 반납(분실 시, 회원카드 분실확인서 작성) <br/>
                                                    ㆍ반명함판(3x4) 사진 1매
                                                </p>
                                            </td>
                                            <td rowspan="2">
                                                <a class="down_file" href="#" download="지명인 변경신청서">지명인 변경신청서
                                                    <img src="http://img.ocean2youresort.co.kr/transferOfTitle/img_download.png" alt="다운로드"/>
                                                </a>
                                                <a class="down_file" href="#" download="회원카드 재발급신청서">회원카드 재발급신청서
                                                    <img src="http://img.ocean2youresort.co.kr/transferOfTitle/img_download.png" alt="다운로드"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>법인</th>
                                            <td>
                                                <p>ㆍ지명인변경신청서 작성 (법인 인감도장 날인) <br/>
                                                    ㆍ법인 인감증명서 1부 <br/>
                                                    ㆍ재직증명서 1부 <br/>
                                                    ㆍ반명함판(3x4) 사진 1매 <br/>
                                                    ㆍ사업자등록증 사본 1부 <br/>
                                                    ㆍ카드 반납(분실 시 회원 카드분실확인서 작성)
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>접수절차</th>
                                            <td colspan="2">
                                                ㆍ접수방법: 우편접수<br/> 
                                                ㆍ접수처: (06178) 서울시 강남구 테헤란로82길 15, 디아이타워 11층 오션투유 리조트 회원관리 담당자앞 <br/>
                                                ㆍ문의전화: 070-4694-0000 <br/>
                                                ㆍ팩스: 02-6442-7100<br/>
                                                ㆍ이메일: help@ocean2youresort.co.kr
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>수수료</th>
                                            <td colspan="2">1매당 11,000원 (VAT포함)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <article>
                            <h3>수수료 입금방법</h3>
                            <div>
                                <table>
                                    <caption>수수료 입금방법</caption>
                                    <colgroup>
                                        <col width="15%"/>
                                        <col width="55%"/>
                                        <col width="30%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>은행계좌 입금</th>
                                            <th>온라인 결제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>결제방법</th>
                                            <td>ㆍ은행명: 농협은행<br/>ㆍ계좌번호: 351-0971-1127-93<br/>ㆍ예금주: 주식회사 네오위즈(삼포지점)</td>
                                            <td class="payment" >
                                                <a href="#">명의개서 수수료 결제</a>
                                                <p>※ 로그인 후 마이페이지 > 회원권 명의개서</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <article>
                            <h3>유의사항</h3>
                            <p>※ 주민등록본에 주민번호는 미기재로 출력 해주세요(개인정보보호법에 관한 법률에 기준)</p>
                            <p>※ 문의: <span>02) 6255-0000</span></p>
                        </article>
                    </div>
                </section>
            </div>
            @@include('../include/_footer.html')
        </main>
    </body>
    
    </html>