@@include('../include/_head.html', {
	"page": "mypage"
})
</head>


<h1 class="hidden">마이페이지</h1>
    <div id="wrap">
	    @@include('../include/_header.html')
        @@include('../include/_sub/_subpage_top_mypage.html')

    <section class="mypage" id="setTop">

        <div id="wrapper">
            <div id="contents">
                
		
                <!-- 2021 마이페이지 -->
                <div class="mypage-wrap scss_com">
                    <h2 class="com-ft">마이페이지</h2>
                    <!-- 정보 -->
                    <section class="mypage">
                        <article class="info">
                            <h3>회원권 정보</h3>
                            <div>
                                <ul>
                                    <li>
                                        <p>가입유형</p>
                                        <span>개인회원</span>
                                    </li>
                                    <li>
                                        <p>가입일자</p>
                                        <span>2021-03-25</span>
                                    </li>
                                    <li>
                                        <p>리조트 이용일수</p>
                                        <span>12일 (남은기간 : 18일)</span>
                                    </li>
                                    <li>
                                        <p>회원카드 발급현황</p>
                                        <span>회원 1매, 가족 2매</span>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- 발급현황 -->
                        <article class="status">
                            <h3>회원카드 발급현황 <span>가족회원 등록 및 변경은 고객센터로 문의해주시기 바랍니다.</span></h3>
                            <div>
                                <table>
                                    <caption>회원카드 발급 현황</caption>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>회원번호</th>
                                            <th>이름</th>
                                            <th>생년월일</th>
                                            <th>발급일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>회원본인</th>
                                            <td>1111-222-3333</td>
                                            <td>홍길동</td>
                                            <td>1989-10-04</td>
                                            <td>2021-02-15</td>
                                        </tr>
                                        <tr>
                                            <th>가족회원1</th>
                                            <td>1111-222-3333#1</td>
                                            <td>고길동</td>
                                            <td>1989-10-04</td>
                                            <td>2021-02-15</td>
                                        </tr>
                                        <tr>
                                            <th>가족회원2</th>
                                            <td>1111-222-3333#2</td>
                                            <td>고길동</td>
                                            <td>1989-10-04</td>
                                            <td>2021-02-15</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <article class="modify">
                            <h3>회원개인정보</h3>
                            <div>
                                <a class="btn_blue" href='./member_info_modify.html'>회원정보 수정</a>
                            </div>
                        </article>
                    </section>
                </div>

            </div>
        </div>
    </section>

</div>