@@include('../include/_head.html', {
	"page": "mypage"
})
</head>


 <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 <script>
     function sample6_execDaumPostcode() {
         new daum.Postcode({
             oncomplete: function(data) {
                 // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
 
                 // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                 // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                 var addr = ''; // 주소 변수
                 var extraAddr = ''; // 참고항목 변수
 
                 //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                 if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                     addr = data.roadAddress;
                 } else { // 사용자가 지번 주소를 선택했을 경우(J)
                     addr = data.jibunAddress;
                 }
 
                 // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                 if(data.userSelectedType === 'R'){
                     // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                     // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                     if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                         extraAddr += data.bname;
                     }
                     // 건물명이 있고, 공동주택일 경우 추가한다.
                     if(data.buildingName !== '' && data.apartment === 'Y'){
                         extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                     }
                     // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                     if(extraAddr !== ''){
                         extraAddr = ' (' + extraAddr + ')';
                     }
                 
                 }
 
                 // 우편번호와 주소 정보를 해당 필드에 넣는다.
                 document.getElementById('sample6_postcode').value = data.zonecode;
                 document.getElementById("sample6_address").value = addr;
                 // 커서를 상세주소 필드로 이동한다.
                 document.getElementById("sample6_detailAddress").focus();
             }
         }).open();
     }
 </script>

<h1 class="hidden">회원정보 수정</h1>
    <div id="wrap">
	    @@include('../include/_header.html')
        @@include('../include/_sub/_subpage_top_mypage.html')

    <section class="mypage" id="setTop">

        <div id="wrapper">
            <div id="contents">
                
		
                <!-- 2021 회원정보 수정 -->
                <div class="mypage-wrap">
                    <h2 class="com-ft">회원정보 수정</h2>
                    <!-- 정보 -->
                    <section class="mypage modify-page">
                        <article>
                            <h3>비밀번호 변경</h3>
                            <div>
                                <table>
                                    <caption>비밀번호 변경</caption>
                                    <tbody>
                                        <tr>
                                            <th>새 비밀번호</th>
                                            <td>
                                                <input type="text" placeholder="비밀번호 입력"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>새 비밀번호 확인</th>
                                            <td><input type="text" placeholder="비밀번호 확인">
                                                <em>* 영문/숫자/특수문자 8~15자 이하</em>
                                            </td>
                                        </tr>                        
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <!-- 회원정보 변경 -->
                        <article class="status">
                            <h3>회원정보 변경 </h3>
                            <div>
                                <table>
                                    <caption>회원정보 변경</caption>
                                    <tbody>
                                        <tr>
                                            <th>이름</th>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <th>생년월일</th>
                                            <td>1982-02-15</td>
                                        </tr>
                                        <tr class="phone">
                                            <th>휴대폰번호</th>
                                            <td>
                                                <input type="text" placeholder="010">-<input type="text" placeholder="0000">-<input type="text" placeholder="0000">
                                            </td>
                                        </tr> 
                                        <tr class="email">
                                            <th>이메일</th>
                                            <td>
                                                <input name="email1" type="text" id="email1" > @ <input placeholder=""  name="email2" type="text" id="email2" style="margin: 0;">
                                            </td>
                                        </tr> 
                                        <tr class="address">
                                            <th>주소</th>
                                            <td>
                                                <div>
                                                    <input type="text" id="sample6_postcode" placeholder="우편번호" readonly/>
                                                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"/>
                                                </div>
                                                <div>
                                                    <input type="text" id="sample6_address" placeholder="주소" readonly/>
                                                    <input type="text" id="sample6_detailAddress" placeholder="상세주소"/>
                                                </div>
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>


                                <a class="btn_blue" href='#' data-popup-open="change">회원정보 수정완료</a>

                                <!-- popup --> 
                                <div class="popup" data-popup="change"> 
                                    <div class="popup-inner"> 
                                        <div class="popup-contents"> 
                                            <a class="popup-close" data-popup-close="change" href="#">
                                                <img src="http://img.ocean2youresort.co.kr/mypage/icon_close.png" alt="닫기"/>
                                            </a> <!-- 팝업 닫기 버튼입니다 --> 
                                            <p>정보수정을 위해 비밀번호를 입력해주세요.</p>
                                            <input type="text" placeholder="비밀번호를 입력해주세요"/>
                                            <div>
                                                <a class="btn_gray" data-popup-close="change" href="#">취소</a>
                                                <a class="btn_blue" href="#">확인</a>
                                            </div>
                                        </div> 
                                    </div> 
                                </div>
                                <!-- popup// --> 

                                <script>
                                    $(function() {
                                    //OPEN
                                    $('[data-popup-open]').on('click', function(e)  {
                                        var targeted_popup_class = jQuery(this).attr('data-popup-open');
                                        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
                                        e.preventDefault();
                                    });

                                    //CLOSE
                                    $('[data-popup-close]').on('click', function(e)  {
                                        var targeted_popup_class = jQuery(this).attr('data-popup-close');
                                        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

                                        e.preventDefault();
                                    });
                                });
                                </script>


                            </div>
                            
                        </article>
                    </section>
                </div>

            </div>
        </div>
    </section>

</div>