@charset "utf-8";
@import url(./reset.css);

html, body { font-size:0.85em; font-family:Dotum, Arial, Helvetica, sans-serif; }

.wrap { width:750px; margin:0 auto; padding:2em 0; color:#666; }

.wolfharu_tabmenu_menu { }
.wolfharu_tabmenu_menu:before, .wolfharu_tabmenu_menu:after { content:""; display:table; }
.wolfharu_tabmenu_menu:after {clear:both;}
* html .wolfharu_tabmenu_menu {zoom:1;}
.wolfharu_tabmenu_menu {zoom:1;}
.wolfharu_tabmenu_menu select {
	width:100%; padding:8px 45px 8px 16px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin-bottom:15px;
	color:#777;
	border:1px solid #cecece;
	-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
	-webkit-appearance:none; -moz-appearance:none; appearance:normal;
	-webkit-tab-highright-color:transparent;
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, #eeeeee;
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, -moz-linear-gradient(top,  #eeeeee 0%, #f9f9f9 10%, #ffffff 20%, #ffffff 100%);
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(10%,#f9f9f9), color-stop(20%,#ffffff), color-stop(100%,#ffffff));
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, -webkit-linear-gradient(top,  #eeeeee 0%,#f9f9f9 10%,#ffffff 20%,#ffffff 100%);
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, -o-linear-gradient(top,  #eeeeee 0%,#f9f9f9 10%,#ffffff 20%,#ffffff 100%);
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, -ms-linear-gradient(top,  #eeeeee 0%,#f9f9f9 10%,#ffffff 20%,#ffffff 100%);
	background:url(../img/mo_icon_tabmenu01.gif) no-repeat right center, linear-gradient(top,  #eeeeee 0%,#f9f9f9 10%,#ffffff 20%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}
.wolfharu_tabmenu_menu select { display:none; }
.wolfharu_tabmenu_menu ul {  }
.wolfharu_tabmenu_menu ul li {
	float:left; position:relative; margin:0 -1px -1px 0;
}
.wolfharu_tabmenu_menu ul li a {
	margin-top:4px; 
	padding:8px 16px 8px 16px;
	border:1px solid #cecece;
	-webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px;
	-moz-border-radius-topleft:6px; -moz-border-radius-topright:6px;
	border-top-left-radius:6px; border-top-right-radius:6px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	display:inline-block;
}
	.wolfharu_tabmenu_menu ul li a { color:#777; text-decoration:none; }
	
.wolfharu_tabmenu_menu ul li a.current {
	margin-top:0; padding-top:10px; padding-bottom:11px; border-bottom:0 none;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f2f2f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 1%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #f2f2f2 1%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
	.wolfharu_tabmenu_menu ul li a.current { font-weight:bold; color:#0084b4; text-shadow:1px 1px 2px rgba(0,132,080,0.1);  }
	
.wolfharu_tabmenu_menu ul li a span { }

.wolfharu_tabmenu_content {
	padding:18px 16px 12px 16px;
	border:1px solid #cecece;
	-webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px;
	border-bottom-left-radius:6px; border-bottom-right-radius:6px;
}

.wolfharu_tabmenu_content h2 { font-weight:bold; }

@media all and (max-width:760px){
	html, body { font-size:0.95em; -webkit-text-size-adjust: none; }
	.wrap { width:auto; margin:0 10px; }
	.wolfharu_tabmenu_menu ul { display:none; }
	.wolfharu_tabmenu_menu select { font-size:1em; display:block; }
	.wolfharu_tabmenu_content { -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
}