@@include('../include/_head.html', {
	"page": "serviceCenter"
})
	
</head>
<body>
<h1 class="hidden">고객센터 - 묻고답하기</h1>
<div class="wrap">

    @@include('../include/_header.html')
    @@include('../include/_sub/_subpage_top_service.html')

    <div class="page-data" data-name="d_svc03"></div>
    <!-- 2021 고객센터 -->
    <div class="wrap-container">
        <section class="scss_com service-center">
            <div class="sect-contents">
                <h3 class="common-page-title">묻고 답하기</h3>
                <!-- 묻고답하기 list -->
                <article>
                    <div class="search">
                        <div class="search_inner">
                            <fieldset>
                                <legend class="blind">검색</legend>
                                <div class="search_box">
                                    <select>
                                        <option>제목</option>
                                        <option>내용</option>
                                    </select>
                                    <input type="text"/>
                                    <button type="submit" class="search">검색</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="qna">
                            <table>
                                <caption>묻고답하기 list</caption>
                                <colgroup>
                                    <col width="7%"/>
                                    <col width="13%"/>
                                    <col width="50%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>분류</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>회원권</th>
                                        <th>작성일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>명의개서</td>
                                        <td><a href="./qna_answer.html">예약 후 숙박시설 방문 시 유의사항 안내드립니다.</a></td>
                                        <td>김*진</td>
                                        <td>개인회원</td>
                                        <td>2021-01-08</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>예약/결제</td>
                                        <td><a href="./qna_answer.html">예약 후 숙박시설 방문 시 유의사항 안내드립니다.</a></td>
                                        <td>김*진</td>
                                        <td>기업회원</td>
                                        <td>2021-01-08</td>
                                    </tr>
                                     <!-- 답변이 있을때 -->
                                    <tr class="asw">
                                        <td></td>
                                        <td></td>
                                        <td><a href="./qna_answer.html">ㄴ 예약 후 숙박시설 방문 시 유의사항 안내드립니다.</a></td>
                                        <td colspan="3"><span>답변완료</span></td>
                                    </tr>
                                    <!-- ////답변이 있을때 -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="btn-write"><a class="btn_blue btn" href="./qna_write.html">글쓰기</a></div>
                   
                    <div class="rsv-num-box">
                        <ul class="pagenation clr" id="pagenation">
                            <li class="first"><a href="#none" onclick="javascript:location.href='#'">&lt;&lt;</a></li>
                            <li class="first"><a href="#none" onclick="javascript:location.href='#'">&lt;</a></li>		  
                            <li class="on"><a href="#none" onclick="javascript:location.href='#'">1</a></li>
                            <li class="last"><a href="#none" onclick="javascript:location.href='#'">&gt;</a></li>
                            <li class="last"><a href="#none" onclick="javascript:location.href='#'">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </article>
                
            </div>
        </section>
    </div>

    
	@@include('../include/_footer.html') 
</div>

</body>
</html>
