@@loop('../include/_landing_head.html', [
	{"cssPathList":[]}
])
	
</head>
<body>
	<main class="roomservice-order">
        <div class="top-title-box">
            <h4 class="title">룸서비스 실시간 주문</h4>
            <button type="button" class="btn-back" onclick="location.href='roomservice_intro.html'">X</button>
        </div>
        <div class="contents-order">
            <div class="order-notice">
                결제완료 이후부터 룸서비스가 준비되므로<br>
                결제 후에는 환불이 불가하오니 이점 유의하십시오.
            </div>
            <form class="form-info-box">
                <ul class="input-info-ul">
                    <li class="room-num-box">
                        <label>투숙객실 번호</label>
                        <input type="number">
                    </li>
                    <li class="name-box">
                        <label>주문자명</label>
                        <input type="text">
                    </li>
                    <li class="phone-num-box">
                        <label>휴대폰번호</label>
                        <input type="number" maxlength="11">
                    </li>
                </ul>
                <ul class="product-list-ul">
                    <!--견본파일 가져오고 지워짐-->
                    
                    <!--견본파일 끝-->
                <li>
                        <p class="produt-name">모둠회(대)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">70,000</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">69,000</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">모둠회(중)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">50,000</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">49,000</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">모둠회(소)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">30,000</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">29,000</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">물회(2인분)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">30,000</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">29,000</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">바베큐플레이즈</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">19,000</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">18,000</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">불고기피자(L)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">불고기피자(R)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">페퍼로니피자(L)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">페퍼로니피자(R)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">핫치킨피자(L)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">핫치킨피자(R)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">고르곤졸라피자(L)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">18,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li><li>
                        <p class="produt-name">고르곤졸라피자(R)</p>
                        <div class="price-box">
                            <p class="p-price-local">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>
                            <p class="p-price-sale">
                                <span class="span-num">15,900</span><span class="span-won">원</span>
                            </p>

                            <div class="product-count-box">
                                <select><option value="0">0개</option><option value="1">1개</option><option value="2">2개</option><option value="3">3개</option><option value="4">4개</option><option value="5">5개</option><option value="6">6개</option><option value="7">7개</option><option value="8">8개</option><option value="9">9개</option><option value="10">10개</option></select>
                            </div>
                        </div>
                    </li></ul>
            </form>
        </div>
        <button class="btn_payment" type="button">결제하기</button>
    </main>
</body>
</html>