@@include('../include/_head.html', { "page": "rent" })
<link rel="stylesheet" href="http://static.bscondo.co.kr/css/rent/initR.css">

</head>
<body>

<h1 class="hidden">오션투유 리조트 장단기숙박</h1>
<div id="wrap">

    <div class="vid-wrap">

        @@include('../include/_header.html')

        <section class="title">
            <div class="container tit-box">
                <h2>장기숙박 / 단기임대 소개</h2>
                <div class="mg-"></div>
                <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/reservation/res_title.png" alt="예약하기"></div>
            </div>
        </section>
    </div>

    <!-- 190121 -->
    <div class="rent-wrap clr" id="setTop">
        <div class="img-area">
            <figure class="nth-1"><img src="http://img.ocean2you.co.kr/lodgment/detail/01.jpg" alt="오션투유 리조트소개이미지"></figure>

            <figure class="nth-2"><img src="http://img.ocean2you.co.kr/lodgment/detail/02_1.jpg" alt="오션투유 리조트소개이미지"></figure>

            <div class="grid-wrap">
                <div class="grid-contents grid-type-1">
                    <table class="tbl-base tbl-1">
                        <colgroup>
                            <col style="width:23%">
                            <col style="width:14%">
                            <col style="width:23%">
                            <col style="width:40%">
                        </colgroup>
                        <thead class="rowgroup">
                            <tr>
                                <th>객실타입</th>
                                <th>숙박기간</th>
                                <th>이용시 특혜</th>
                                <th>이용기간</th>
                            </tr>
                        </thead>
                        <tbody class="rowgroup">
                            <tr>
                                <td>
                                    마운틴뷰<br>
                                    오션뷰
                                </td>
                                <td>
                                    4일<br>
                                    14일<br>
                                    1개월<br>
                                    6개월
                                </td>
                                <td class="nth-3">
                                    <span class="fg-red-1 fwe-1">광과금 일체 포함<br>
                                        (전기, 수도요금 등)</span>
                                </td>
                                <td class="nth-4">
                                    <span class="fwe-1">4일부터 6개월까지 이용가능!</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="ta-left">
                                    <p class="row">
                                        <span class="dot">※</span>
                                        <span class="txt">
                                            장/단기 이용시 주중은 저렴하게 제공기능하나,
                                            <span class="co-blue">주말(토요일, 5월5일, 12월31일 등 극성수일)에는 상시 만실</span>이며 평균 20만원 내외에 판매되는 점 고려 후 판단 부탁드립니다.
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="tbl-tit">이용 시 예상 요금을 알아볼까요?</h2>
                <div class="grid-contents grid-type-2">
                    <table class="tbl-base tbl-2">
                        <colgroup>
                            <col style="width:16%">
                            <col style="width:25%">
                            <col style="width:59%">
                        </colgroup>
                        <thead class="rowgroup">
                            <tr>
                                <th>객실타입</th>
                                <th>예상 체류기간</th>
                                <th>이용 시 예상요금</th>
                            </tr>
                        </thead>
                        <tbody class="rowgroup">
                            <tr>
                                <td class="nth-1">
                                    <p class="row clr">
                                        <span class="rdo-box">
                                            <input type="radio" class="rdo">
                                            <label for="" class="lbl">스탠다드트윈</label>
                                        </span>
                                    </p>
                                    <p class="row clr">
                                        <span class="rdo-box">
                                            <input type="radio" class="rdo">
                                            <label for="" class="lbl">디럭스트리플</label>
                                        </span>
                                    </p>
                                </td>
                                <td class="nth-2">
                                    <p class="row clr">
                                        <span class="inp-box">
                                            <label for="" class="lbl">체크인</label>
                                            <input type="text" class="inp">
                                        </span>
                                    </p>
                                    <p class="row clr">
                                        <span class="inp-box">
                                            <label for="" class="lbl">체크아웃</label>
                                            <input type="text" class="inp">
                                        </span>
                                    </p>
                                    <p class="row clr">
                                        <span class="inp-box">
                                            <label for="" class="lbl">이용기간</label>
                                            <input type="text" class="inp">
                                        </span>
                                    </p>
                                    <p class="row clr">
                                        <span class="inp-box">
                                            <label for="" class="lbl">인원수</label>
                                            <select name="" id="" class="slt">
                                                <option value="">2</option>
                                                <option value="">7</option>
                                            </select>
                                        </span>
                                    </p>
                                    <div class="row">
                                        <button type="button" class="btn-base btn-gray flt-r">예상요금</button>
                                    </div>
                                </td>
                                <td class="clr nth-3">
                                    <div class="split-1">
                                        <dl>
                                            <dt>객실요금</dt>
                                            <dd>70,000원</dd>
                                        </dl>
                                        <dl>
                                            <dt>봉사료</dt>
                                            <dd>7,000원</dd>
                                        </dl>
                                        <dl>
                                            <dt>세금</dt>
                                            <dd>2,200원</dd>
                                        </dl>
                                        <hr class="sun">
                                        <dl>
                                            <dt>총 예상요금</dt>
                                            <dd>79,200원</dd>
                                        </dl>
                                    </div>
                                    <div class="split-2">
                                        <span class="fg-red-1">
                                            이용기간 일별 표준요금 기준이며,<br>
                                            장기이용은 전화 상담시 이용일자에 따라<br>
                                            최대 40~50%의 할인요금을 안내해드립니다.<br>
                                        </span>
                                        <p class="row clr">
                                            <button type="button" class="btn-base btn-gray">문의신청 010-8844-0409</button>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <figure class="nth-2"><img src="http://img.ocean2you.co.kr/lodgment/detail/02_2.jpg" alt="오션투유 리조트소개이미지"></figure>

            <figure class="nth-3">
                <img src="http://img.ocean2you.co.kr/lodgment/detail/03.jpg" alt="오션투유 리조트소개이미지">
                <a href="http://ocean2you.co.kr" target="_blank" class="btn-linkOc2" style="position: absolute; top:50px; right: 25px;">
                    <img src="http://img.ocean2you.co.kr/lodgment/detail/btn_linkOc2.png" alt="오션투유 리조트 홈페이지로 이동">
                </a>
            </figure>
            <figure class="nth-4">
                <img src="http://img.ocean2you.co.kr/lodgment/detail/04.jpg" alt="오션투유 리조트소개이미지">
                <a href="http://ocean2you.co.kr/facil" target="_blank" class="btn-linkOc2" style="position: absolute; bottom: 76px; left: 50%; margin-left: -161.5px;">
                    <img src="http://img.ocean2you.co.kr/lodgment/detail/btn_moreRoom.png" alt="오션투유 리조트 객실안내 페이지로 이동">
                </a>
            </figure>
            <figure class="nth-5"><img src="http://img.ocean2you.co.kr/lodgment/detail/05.jpg" alt="오션투유 리조트소개이미지"></figure>
        </div>
    </div>
    <!-- //.rent-wrap -->
    <div style="" class="rWing rent">
        <a href="http://www.onbiz.co.kr" target="_blank"><img src="http://img.ocean2you.co.kr/lodgment/detail/bn_onbiz.png " alt="온비즈오피스이동"></a>
    </div>

    @@include('../include/_footer.html')
</div>

</body>
</html>